﻿@using Pelayanan.Models
@model MemoViewModel
@{
    var controllerName = "Memo";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SectionID, new { Value = ViewBag.Section })
        @Html.HiddenFor(x => x.NOReg, new { Value = ViewBag.NoReg })

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Memo</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Memo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }
</div>