﻿@using Pelayanan.Models
@using Pelayanan.Entities.PPI
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var modalid = "modalantibiotika";
    var tableId = $"divtablelookup_m_{modalid}";
    var url_table = Url.Action("ListAntibiotika");
    var item = new PPI_mAntiBiotika();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.Id);
    column[1] = nameof(item.AntiBiotikaName);
}

<div class="modal fade" id="@modalid"
     data-header-ajax="TRUE"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount;
            init();
            url = '@url_table';
            blurfirsttarget = true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal Antibiotika</h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a onclick="togglecheckbox('.filter_list_lookup_m_barang_antibiotika')"><i class="icon-filter3"></i></a></li>
                                <li><a id="reloadGetDatas" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="datatable-header">
                        <div class="dataTables_length filter_list_lookup_m_barang_antibiotika" style="display:none">
                            <label>
                                <span>Show:</span>
                                <select class="form-control input-xs" style="width: auto;"
                                        ng-change="getdatas()"
                                        ng-model="pagesize"
                                        ng-options="opt as opt for opt in pagesizes"></select>
                            </label>
                        </div>
                    </div>
                    <div class="dataTables_scrollHead table-responsive">
                        <table class="table table-bordered dataTable" id="@tableId">
                            <thead>
                                <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                                    <!-- Column Sort -->
                                    <th ng-click="ordering($event,'@column[1]')" class="sorting">Antibiotika</th>

                                </tr>
                                <tr class="filter_list_lookup_m_barang_antibiotika">

                                    <!-- Filter -->
                                    <td><input ng-model="filter[1]" type="text" class="form-control input-xs" onkeypress="filterOnKeyPress(event)"></td>

                                </tr>
                                <tr class="loading {{ loading ? '' : 'hide' }}">
                                    <td colspan="50">
                                        <div class="bubblingG center">
                                            <span id="bubblingG_1"></span>
                                            <span id="bubblingG_2"></span>
                                            <span id="bubblingG_3"></span>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="{{ loading ? 'hide' : '' }}">
                                <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                    ng-click="multipleselect($event, [
                                            data.@column[0],
                                            data.@column[1]
                                        ])"
                                    data-detail-index="{{ $index }}">

                                    <!-- Table Result -->
                                    <td>{{data.@(column[1])}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>

                        <button type="button" class="btn btn-success btn-multipleselected"
                                ng-click="selectedCustom($event, true)">
                            Pilih <i class="icon-checkmark2"></i>
                        </button>
                    </div>
                </div>
                <div ng-init="pagesize = 5; getdatas();"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var ag = angular.element('#@modalid');
    ag.ready(() => {
        ag.scope().selectedCustom = e => {
            const v = angular.element('#@modalid').scope().values;
            if (!dataDetail[noreg]) {
                dataDetail[noreg] = {
                    prof: {},
                    emp: {},
                    def: {},
                };
            }
            const d = dataDetail[noreg][detailActive];
            v.forEach(x => {
                if (!d[x[0]]) {
                    d[x[0]] = {
                        id : x[0],
                        nama : x[1]
                    };
                }
            });
            dataDetail[detailActive] = d;
            modallookuodismiss('#@modalid');
            refreshDetail();
        };
    });

    var filterOnKeyPress = e => {
        if (e.charCode === 13) {
            angular.element('#@modalid').scope().getdatas();
        }
    };
</script>