﻿@using Pelayanan.Models
@using Pelayanan.Entities.PPI
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var headerisajax = ViewData["headerisajax"];
    var targetTable = ViewData["targetTable"].ToString();
    var targetInputTable = ViewData["targetInputTable"].ToString();

    var tableId = $"divtablelookup_m_{modalid}";
    var url_table = Url.Action("ListAB");
    var item = new PPI_FtGetDataIDO_Result();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.NamaPasien);
    column[2] = nameof(item.DokterBedahID);
    column[3] = nameof(item.DokterBedah);
    column[4] = nameof(item.Diagnosa);
    column[5] = nameof(item.TglOperasi);
    column[6] = nameof(item.TipeOperasi);
    column[7] = nameof(item.JenisLuka);
    column[8] = nameof(item.ID_Diagnosa);
}

<style>
     #@tableId th, #@tableId td {
        white-space: nowrap;
    }
</style>

<div class="modal fade" id="@modalid"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount;
            init();
            url = '@url_table';
            targetform = '@targetForm';
            targetTable = '@targetTable';
            targetInputTable = '@targetInputTable';
            target = @(JsonConvert.SerializeObject(target));">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal @modalName</h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a onclick="togglecheckbox('.filter_list_lookup_m_barang')"><i class="icon-filter3"></i></a></li>
                                <li><a id="reload_getDatas" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="datatable-header">
                        <div class="dataTables_length filter_list_lookup_m_barang" style="display:none">
                            <label>
                                <span>Show:</span>
                                <select class="form-control input-xs" style="width: auto;"
                                        ng-change="getdatas()"
                                        ng-model="pagesize"
                                        ng-options="opt as opt for opt in pagesizes"></select>
                            </label>
                        </div>
                    </div>
                    <div class="dataTables_scrollHead table-responsive">
                        <table class="table table-bordered dataTable" id="@tableId">
                            <thead>
                                <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                                    <!-- Column Sort -->
                                    <th ng-click="ordering($event,'@column[0]')" class="sorting">NoReg</th>
                                    <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama Pasien</th>
                                    <th ng-click="ordering($event,'@column[3]')" class="sorting">Dokter Bedah</th>
                                    <th ng-click="ordering($event,'@column[4]')" class="sorting">Diagnosa</th>

                                </tr>
                                <tr class="filter_list_lookup_m_barang">

                                    <!-- Filter -->
                                    <td><input ng-model="filter[0]" type="text" class="form-control input-xs"></td>
                                    <td><input ng-model="filter[1]" type="text" class="form-control input-xs"></td>
                                    <td><input ng-model="filter[3]" type="text" class="form-control input-xs"></td>
                                    <td><input ng-model="filter[4]" type="text" class="form-control input-xs"></td>

                                </tr>
                                <tr class="loading {{ loading ? '' : 'hide' }}">
                                    <td colspan="50">
                                        <div class="bubblingG center">
                                            <span id="bubblingG_1"></span>
                                            <span id="bubblingG_2"></span>
                                            <span id="bubblingG_3"></span>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="{{ loading ? 'hide' : '' }}">
                                <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                    ng-click="multipleselect($event, [
                                            data.@column[0],
                                            data.@column[1],
                                            data.@column[2],
                                            data.@column[3],
                                            data.@column[4],
                                            data.@column[5],
                                            data.@column[6],
                                            data.@column[7],
                                            data.@column[8],
                                        ])"
                                    data-detail-index="{{ $index }}">

                                    <!-- Table Result -->
                                    <td>{{data.@(column[0])}}</td>
                                    <td>{{data.@(column[1])}}</td>
                                    <td>{{data.@(column[3])}}</td>
                                    <td>{{data.@(column[4])}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>

                        <button type="button" class="btn btn-success btn-multipleselected"
                                ng-click="multipleselected2($event, true)">
                            Pilih <i class="icon-checkmark2"></i>
                        </button>
                    </div>
                </div>
                <div ng-init="pagesize = 5; getdatas();"></div>
            </div>
        </div>
    </div>
</div>

<script>
    angular.element('#@modalid').ready(() => {

        const sc = angular.element('#@modalid').scope();
        sc.multipleselected2 = () => {
            Object.keys(sc.values).forEach(key => {
                const m = sc.values[key];
                if (m)
                {
                    angular.element('#frm_IDO_create').scope().addrowdetail({ target: '#frm_IDO_table_detail_barang' }, '#inputDetailIDO_barang');
                    const td = $('#frm_IDO_create #frm_IDO_table_detail_barang tbody tr:last td');

                    if (m[2]) {
                        $(td[6]).find('select').append(`<option value="${m[2]}">${m[3]}</option>`);
                    }
                    if (m[7]) {
                        $(td[11]).find('select').append(`<option value="${m[7]}">${m[7]}</option>`);
                    }
                    if (m[8]) {
                        $(td[7]).find('select').append(`<option value="${m[8]}">${m[4]}</option>`);
                    }

                    $(td[3]).find('input').val(m[0]); // noreg
                    $(td[5]).find('input').val(m[1]); // nama
                    $(td[6]).find('select').val(m[2]); // dokter
                    $(td[7]).find('select').val(m[8]); // diagnosa
                    $(td[8]).find('input').val(dateToString(m[5], 'yyyy-MM-dd')); // tgl operasi
                    $(td[10]).find('select').val(m[6]); // tipe operasi
                    $(td[11]).find('select').val(m[7]); // jenis luka

                    $(td[6]).find('select').select2(select2Dokter()).trigger('change');
                    $(td[7]).find('select').select2(select2ICD()).trigger('change');
                    $(td[11]).find('select').select2(select2JenisLuka()).trigger('change');
                }
            });
            modallookuodismiss('#modal_frm_IDO_create_Noreg');
        };
    });
</script>