﻿@using Pelayanan.Models
@model AnggotaInsertViewModel
@{
    var controllerName = "Anggota";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL Perusahaan
    var targetcustomer = new
    {
        t0 = $"#{nameof(Model.KodePerusahaanAsal)}",
        t1 = $"#{nameof(Model.NamaPerusahaanAsal)}",
        t2 = $"#{nameof(Model.CustomerID)}",
        t3 = $"#{nameof(Model.CustomerKerjasamaID)}",
        t5 = $"#KelasID"
    };
    var modalcustomerid = $"modal_CustomerKerjasama_anggota";
    var modalName = $"Lookup Perusahaan";
    #endregion
}
<style>
    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 200px;
    }

     #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        width: 180px;
    }
</style>

<div class="wall" ng-controller="form">


    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate_anggota(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Data Registrasi
                        <a data-toggle="collapse" data-target="#panel_@(formName)_registrasi"></a>
                    </div>
                    <div id="panel_@(formName)_registrasi" class="panel-body collapse in">
                        <div class="form-horizontal">

                            <!--LookUp Pasien-->
                            <div class="form-group">
                                <label class="control-label col-md-2">NRM</label>
                                <div class="col-md-2 margin-bottom-md">
                                    <!-- input -->
                                    @Html.EditorFor(model => model.NRM_Anggota, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = ViewBag.NRM } })
                                    @Html.ValidationMessageFor(model => model.NRM_Anggota, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-1">Nama Pasien</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = ViewBag.NamaPasien } })
                                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!--LookUp Perusahaan-->
                            <div class="form-group">
                                <label class="control-label col-md-2">Perusahaan Asal</label>
                                <div class="col-md-3 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <!-- button -->
                                            <button data-toggle="modal" data-target="#@modalcustomerid"
                                                    class="btn btn-success input-lookup" type="button" id="btnperusahaanAnggota">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        <!-- input -->
                                        @Html.EditorFor(model => model.KodePerusahaanAsal, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.KodePerusahaanAsal, "", new { @class = "text-danger" })
                                </div>
                                <!-- Nama_Customer -->
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.NamaPerusahaanAsal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                                    @Html.ValidationMessageFor(model => model.NamaPerusahaanAsal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="hidden">@Html.EditorFor(model => model.CustomerKerjasamaID)</div>
                            <div class="hidden"><input type="text" name="KelasID" id="KelasID" value="" /></div>

                            <!-- KlP -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Klp, htmlAttributes:
                                new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.Klp, StaticModel.SelectListKlp, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Klp, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- NoKartu -->
                            <div class="form-group">
                                <label class="control-label col-md-2">No Kartu</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.NoKartu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoKartu, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info" onclick="checkstatusPeserta()">Cek</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-body">
            <div class="col-md-9 col-md-offset-2">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>

    }
</div>

<!-- Modal Perusahaan -->
@Html.Partial("_LookUpPerusahaan", Model, new ViewDataDictionary {
    { "target", targetcustomer },
    { "modalid", modalcustomerid },
    { "targetForm", targetForm },
    { "modalName", modalName },
    { "perusahaan", ViewBag.perusahaan },
    { "headerisajax", ViewBag.IsAjaxRequest }
})

<script>
    $("#Klp").val("E");

    function oncompletecreate_anggota(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if ($('#frm_Registrasi_create').length > 0) {
                    j_form = $('#frm_Registrasi_create');
                    j_form.find('#NoKartu').val(result.Data[0]);
                    j_form.find('#Kode_Customer').val(result.Data[1]);
                    j_form.find('#Nama_Customer').val(result.Data[2]);
                    j_form.find('#Kelas').val(result.Data[4]);
                    checkSEP();

                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                    $('body').removeClass('modal-open');
                } else if ($('#frm_RegistrasiRI_create').length > 0) {
                    j_form = $('#frm_RegistrasiRI_create');
                    j_form.find('#NoKartu').val(result.Data[0]);
                    j_form.find('#CompanyID').val(result.Data[1]);
                    j_form.find('#NamaPerusahaan').val(result.Data[2]);
                    checkSEP();

                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                    $('body').removeClass('modal-open');
                } else if ($('#frm_TipePasien_create').length > 0){
                    j_form = $('#frm_TipePasien_create');
                    j_form.find('#NoAnggota').val(result.Data[0]);
                    j_form.find('#NoAnggota').blur();
                    j_form.find('#Klp').val(result.Data[3]);
                    j_form.find('#KelasID').val(result.Data[4]);
                    j_form.find('#NamaAnggota').val(result.Data[5]);

                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                    $('body').addClass('modal-open');
                } else if ($('#frm_COB_create').length > 0) {
                    j_form = $('#frm_COB_create');
                    j_form.find('#PertanggunganKeduaNoKartu').val(result.Data[0]);
                    j_form.find('#PertanggunganKeduaNoKartu').blur();
                    j_form.find('#KelasID').val(result.Data[4]);
                    j_form.find('#NamaAnggota').val(result.Data[5]);

                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                    $('body').addClass('modal-open');
                }else {
                    j_form = $('#frm_TipePasien_edit');
                    j_form.find('#NoAnggota').val(result.Data[0]);
                    j_form.find('#NoAnggota').blur();

                    var j_modal = $(x_this.closest('.modal'));
                    j_modal.modal('hide');
                    $('body').addClass('modal-open');
                }
            } else {
                alertpopup(result.Message, 'warning');
            }
        } catch (ex) {
            alertpopup(xhr.responseText || 'Server Error', 'danger');
        }
    }

    $(document).ready(function () {
        $('#@formName').closest('.modal').find('[data-dismiss=modal]').on('click', function () {
            var j_modal = $('#@formName').closest('.modal');
            j_modal.modal('hide');
        });
    });

    function checkstatusPeserta() {
        var url = '@Url.Action("CheckPeserta", "Pasien")';
        var parameter = {
            id: $('#@formName #NoKartu').val()
        };
        myajax({
            url: url,
            data: parameter,
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess) {
                    $('#@formName #KodePerusahaanAsal').val(data.Data.CompanyID);
                    $('#@formName #CustomerKerjasamaID').val(data.Data.CustomerKerjasamaID);
                    $('#@formName #NamaPerusahaanAsal').val(data.Data.Nama_Perusahaan);
                }
                else {
                    alertpopup(data.Message, 'danger');
                }
            }
        });
    }
</script>