﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-body login-form">
    <div class="text-center">
        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
        <h5 class="content-group">@ViewBag.Title. <small class="display-block">Please check your email to reset your password.</small></h5>
    </div>
</div>