﻿@using Pelayanan.Models
@model SKLViewModel
@{
    var controllerName = "SKL";
    ViewBag.Title = controllerName;

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="wall">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>No SKL</label>
                @Html.EditorFor(model => model.NoSKL, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly" } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = Model.Tanggal.ToString("yyyy-MM-dd"), @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = Model.Jam.ToString("HH") + ":" + Model.Jam.ToString("mm"), @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Data Ibu/Istri</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No Reg</label>
                                @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tgl Reg</label>
                                @Html.EditorFor(model => model.TglReg_Istri_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>N.R.M</label>
                                @Html.EditorFor(model => model.NRM_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Nama</label>
                                @Html.EditorFor(model => model.Nama_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Nama_Istri, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Umur</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.UmurIstri_Thn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            <span class="input-group-addon">Thn</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.UmurIstri_Bln, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            <span class="input-group-addon">Bln</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pekerjaan</label>
                                @Html.EditorFor(model => model.Pekerjaan_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Alamat</label>
                                @Html.TextAreaFor(model => model.Alamat_Istri, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Data Anak</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>No Reg</label>
                                @Html.EditorFor(model => model.NoRegAnak, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>N.R.M</label>
                                @Html.EditorFor(model => model.Nrm, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Nrm, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nama</label>
                                @Html.EditorFor(model => model.NamaAnak, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.NamaAnak, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Jenis Kelamin</label>
                                <div>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, "M", new { disabled = "disabled" })
                                        Laki
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, "F", new { disabled = "disabled" })
                                        Perempuan
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tgl Lahir</label>
                                @Html.EditorFor(model => model.TglLahir_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Jam Lahir</label>
                                @Html.EditorFor(model => model.JamLahir_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pancawara</label>
                                    @Html.EditorFor(model => model.PancawaraIDNama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Wuku</label>
                                    @Html.EditorFor(model => model.WukuIDNama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Berat</label>
                                @Html.TextBoxFor(model => model.Berat, new { @class = "form-control", type = "number", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Panjang</label>
                                @Html.TextBoxFor(model => model.Panjang, new { @class = "form-control", type = "number", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Anak Ke</label>
                                @Html.EditorFor(model => model.AnakKe, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Berat</label>
                                @Html.TextBoxFor(model => model.Berat, new { @class = "form-control", type = "number", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Panjang</label>
                                @Html.TextBoxFor(model => model.Panjang, new { @class = "form-control", type = "number", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Kembar">Kembar</label>
                                <div>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            @Html.CheckBoxFor(model => model.Kembar, new { disabled = "disabled" })
                                        </div>
                                        <div class="input-group-addon">
                                            Ke
                                        </div>
                                        @Html.EditorFor(model => model.KembarAnakKe, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Data Ayah/Suami</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nama</label>
                                @Html.EditorFor(model => model.NamaSuami, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No Identitas</label>
                                @Html.EditorFor(model => model.No_Identitas_Suami, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Umur</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.UmurSuami_Thn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        <span class="input-group-addon">Thn</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.UmurSuami_Bln, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        <span class="input-group-addon">Bln</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Alamat</label>
                                @Html.TextAreaFor(model => model.Alamat_Suami, new { @class = "form-control", style = "height: 82px;", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Pekerjaan</label>
                                @Html.EditorFor(model => model.Pekerjaan_Suami, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Data Persalinan</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dokter Penolong</label>
                                @Html.EditorFor(model => model.DokterPenolong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jenis</label>
                                @Html.EditorFor(model => model.JenisPenolong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    @Html.CheckBoxFor(model => model.Prematur, new { disabled = "disabled" })
                                    Lahir Prematur
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    @Html.CheckBoxFor(model => model.Hidup, new { disabled = "disabled" })
                                    Hidup
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="radio-inline">
                                    @Html.CheckBoxFor(model => model.LahirNormal, new { disabled = "disabled" })
                                    Normal
                                </label>
                                <label class="radio-inline">
                                    @Html.CheckBoxFor(model => model.LahirSC, new { disabled = "disabled" })
                                    SC
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>