﻿@using Pelayanan.Models
@model SKLViewModel
@{
    var controllerName = "SKL";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};

    var targetForm = formName;

    #region ==== MODAL Istri
    var target_istri = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.NRM_Istri)}",
        t2 = $"#{nameof(Model.Nama_Istri)}",
        t3 = $"#{nameof(Model.UmurIstri_Bln)}",
        t4 = $"#{nameof(Model.UmurIstri_Thn)}",
        t5 = $"#{nameof(Model.Pekerjaan_Istri)}",
        t6 = $"#{nameof(Model.Alamat_Istri)}",
        t7 = $"#{nameof(Model.TglReg_Istri_View)}"
    };
    var modalid_istri = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName_istri = "Ibu/Istri";
    #endregion

    #region ==== MODAL Anak
    var target_anak = new
    {
        t0 = $"#{nameof(Model.NoRegAnak)}",
        t1 = $"#{nameof(Model.Nrm)}",
        t2 = $"#{nameof(Model.NamaAnak)}",
        t8 = $"#{nameof(Model.TglLahir)}",
    };
    var modalid_anak = $"modal_{formName}_{nameof(Model.NoRegAnak)}";
    var modalName_anak = "Anak";
    #endregion
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>No SKL</label>
                @Html.EditorFor(model => model.NoSKL, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly" } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = Model.Tanggal.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = Model.Jam.ToString("HH") + ":" + Model.Jam.ToString("mm") } })
                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Ibu/Istri</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No Reg</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" data-target="#@modalid_istri"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tgl Reg</label>
                                    @Html.EditorFor(model => model.TglReg_Istri_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>N.R.M</label>
                                    @Html.EditorFor(model => model.NRM_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Nama</label>
                                    @Html.EditorFor(model => model.Nama_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Nama_Istri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Umur</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.UmurIstri_Thn, new { htmlAttributes = new { @class = "form-control",} })
                                                <span class="input-group-addon">Thn</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.UmurIstri_Bln, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-addon">Bln</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pekerjaan</label>
                                    @Html.EditorFor(model => model.Pekerjaan_Istri, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Alamat</label>
                                    @Html.TextAreaFor(model => model.Alamat_Istri, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Anak</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>No Reg</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" data-target="#@modalid_anak"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoRegAnak, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>N.R.M</label>
                                    @Html.EditorFor(model => model.Nrm, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Nrm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nama</label>
                                    @Html.EditorFor(model => model.NamaAnak, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.NamaAnak, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Jenis Kelamin</label>
                                    <div>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Gender, "M")
                                            Laki
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Gender, "F")
                                            Perempuan
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tgl Lahir</label>
                                    @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", Value = Model.TglLahir.ToString("yyyy-MM-dd") } })
                                    @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Jam Lahir</label>
                                    @Html.EditorFor(model => model.JamLahir, new { htmlAttributes = new { @class = "form-control", Value = Model.JamLahir.ToString("HH") + ":" + Model.JamLahir.ToString("mm") } })
                                    @Html.ValidationMessageFor(model => model.JamLahir, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pancawara</label>
                                    @Html.DropDownListFor(model => model.PancawaraID, Model.PancawaraID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                        { new SelectListItem() { Value = Model.PancawaraID.ToString(), Text = Model.PancawaraIDNama } }, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Wuku</label>
                                    @Html.DropDownListFor(model => model.WukuID, Model.WukuID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                        { new SelectListItem() { Value = Model.WukuID.ToString(), Text = Model.WukuIDNama } }, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Berat</label>
                                    @Html.TextBoxFor(model => model.Berat, new { @class = "form-control", type = "number" })
                                    @Html.ValidationMessageFor(model => model.Berat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Panjang</label>
                                    @Html.TextBoxFor(model => model.Panjang, new { @class = "form-control", type = "number" })
                                    @Html.ValidationMessageFor(model => model.Panjang, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Anak Ke</label>
                                    @Html.EditorFor(model => model.AnakKe, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AnakKe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Kembar">Kembar</label>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                @Html.CheckBoxFor(model => model.Kembar, new { onchange = "kembaronchange(this)" })
                                            </div>
                                            <div class="input-group-addon">
                                                Ke
                                            </div>
                                            @Html.EditorFor(model => model.KembarAnakKe, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Ayah/Suami</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nama</label>
                                    @Html.EditorFor(model => model.NamaSuami, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No Identitas</label>
                                    @Html.EditorFor(model => model.No_Identitas_Suami, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Umur</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.UmurSuami_Thn, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon">Thn</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.UmurSuami_Bln, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-addon">Bln</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Alamat</label>
                                    @Html.TextAreaFor(model => model.Alamat_Suami, new { @class = "form-control", style = "height: 82px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pekerjaan</label>
                                    @Html.EditorFor(model => model.Pekerjaan_Suami, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Persalinan</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Dokter Penolong</label>
                                    @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>()
                               {
                                   new SelectListItem(){ Value = Model.DokterID, Text = Model.DokterPenolong }
                               }, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jenis</label>
                                    @Html.DropDownListFor(model => model.JenisPenolong, StaticModel.ListJenisPenolong, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        @Html.CheckBoxFor(model => model.Prematur)
                                        Lahir Prematur
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        @Html.CheckBoxFor(model => model.Hidup)
                                        Hidup
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        @Html.CheckBoxFor(model => model.LahirNormal, new { onchange = "normalsconchange(this, '#LahirSC')" })
                                        Normal
                                    </label>
                                    <label class="radio-inline">
                                        @Html.CheckBoxFor(model => model.LahirSC, new { onchange = "normalsconchange(this, '#LahirNormal')" })
                                        SC
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }

</div>

<!-- Modal Look istri -->
@Html.Partial("_LookUp_NoRegSKL", Model, new ViewDataDictionary {
    { "target", target_istri },
    { "modalid", modalid_istri },
    { "targetForm", targetForm },
    { "modalName", modalName_istri },
    { "anak", false },
    { "perempuan", true },
    { "headerisajax", ViewBag.IsAjaxRequest }
})

<!-- Modal Look anak -->
@Html.Partial("_LookUp_NoRegSKL", Model, new ViewDataDictionary {
    { "target", target_anak },
    { "modalid", modalid_anak },
    { "targetForm", targetForm },
    { "modalName", modalName_anak },
    { "anak", true },
    { "perempuan", false },
    { "headerisajax", ViewBag.IsAjaxRequest }
})

<script>
    function kembaronchange(t) {
        if (t.checked) {
            $('#@formName #KembarAnakKe').removeAttr('disabled');
        } else {
            $('#@formName #KembarAnakKe').attr('disabled', 'disabled');
            $('#@formName #KembarAnakKe').val('');
        }
    }

    function normalsconchange(t, v) {
        if (t.checked) {
            $('#@formName ' + v)[0].checked = false;
        }
    }

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });


    $('#@formName #WukuID').select2({
        ajax: {
            url: "@Url.Action("ListWuku", "SKL")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'ID',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.ID, text: value.Wuku } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #PancawaraID').select2({
        ajax: {
            url: "@Url.Action("ListPancawara", "SKL")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'ID',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.ID, text: value.Pancawara } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>