﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "SKL";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new SKLViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.NoSKL);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.Jam);
    column[3] = nameof(item.NamaSuami);
    column[4] = nameof(item.NRM_Istri);
    column[5] = nameof(item.Nama_Istri);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width: 90px;
        white-space: nowrap;
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 90px;
        white-space: nowrap;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        text-align: center;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        white-space: nowrap;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[14] = '@ViewBag.NoReg';">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Input","SKL", new { noreg = ViewBag.NoReg, section = ViewBag.SectionID })',
                                header: 'SKL Baru',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[2]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No SKL</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Jam</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Suami</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">NRM Istri</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Nama Istri</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[1]" type="date" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")?code={{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail_param({ code : data.@column[0] }, '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye position-left"></i>
                            </a>
                            <a href="@Url.Action("Edit")?code={{ data.@column[0] }}" class="text-teal-600"
                               onclick="return false"
                               ng-click="edit_param({code : data.@column[0]}, '@Url.Action("Edit")')" title="Edit">
                                <i class="icon-pencil7 position-left"></i>
                            </a>
                            <a ng-click="delete(data.@column[0], '@Url.Action("Delete")')" class="text-danger-600">
                                <i class="icon-trash position-left"></i>
                            </a>
                            <a target="_blank"  href="@Url.Action("PrintSKL", "SKL")?id={{ data.@column[0] }}" class="text-success-600">
                                <i class="icon-printer position-left"></i>
                            </a>
                        </td>

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])_View}}</td>
                        <td>{{data.@(column[3])}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>