﻿@using Pelayanan.Models
@model StokOpnameViewModel
@{
    var controllerName = "StokOpname";
    ViewBag.Title = "Stok Opname";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
    var targetForm = formName;

    #region Detail Barang
    var detail_barang = new StokOpnameDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.Barang_ID)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kode_Barang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.NamaBarang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.Konversi)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtyFisik)}",
        t6 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtySystem)}",
        t7 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtySelisih)}",
        t8 = $"#Detail_List_-1__Model_{nameof(detail_barang.Harga)}",
        t9 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kategori)}"
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.Kode_Barang)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang td, #@table_detail_barang th{ white-space: nowrap; }

    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
        width: 110px;
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){
    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 100px;
    }
</style>

<div class="wall" ng-controller="form">
    @*@using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName, autocomplete = "off" }))
        {*@
    <form id="@formName" autocomplete="off" onsubmit="stokOpnameOnsubmit(event)">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Lokasi</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Lokasi, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jenis</label>
                        <div class="col-md-10">
                            @{
                                var ls = StaticModel.ListJenisKelompokObat;
                                ls.Insert(0, new SelectListItem() { Text = "All", Value = "All" });
                            }
                            @Html.DropDownListFor(model => model.KelompokJenis, ls, new { @class = "form-control", onchange = "kolompokjenisonchange(this)" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
                <div class="table-responsive">
                    <table id="@table_detail_barang" class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>
                                    <input type="checkbox" onclick="checkall(this)" />
                                </th>
                                <th class="text-center">
                                    <a class="text-success-600" title="Barang"
                                       data-toggle="modal" data-target="#@modalid_m_barang">
                                        <i class="icon-search4"></i>
                                    </a>
                                </th>
                                <th></th>
                                <th>ID</th>
                                <th>Kode</th>
                                <th>Deskripsi</th>
                                <th>Satuan</th>
                                <th>Konversi</th>
                                <th>Qty Sistem</th>
                                <th>Qty Fisik</th>
                                <th>Qty Selisih</th>
                                <th>Harga</th>
                                <th>Kategori</th>
                                <th>keterangan</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <br />

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </form>

@*    }*@

</div>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<script>

    function objectifyForm(formArray) {
        var returnArray = {};
        returnArray['Detail_List2'] = [];
        for (var i = 0; i < formArray.length; i++) {
            const n = formArray[i]['name'];
            if (n.indexOf('Detail_List') != 0) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            } else {
                let indexDetail = n.substr(n.indexOf('[') + 1);
                indexDetail = parseInt(indexDetail.substr(0, indexDetail.indexOf(']')));
                const propName = n.indexOf('].Remove') < 0 ? n.substr(n.indexOf('.Model.') + 7) : 'Remove';
                if (returnArray['Detail_List2'][indexDetail] === undefined) {
                    returnArray['Detail_List2'][indexDetail] = {};
                }
                returnArray['Detail_List2'][indexDetail][propName] = formArray[i]['value'];
            }
        }
        return returnArray;
    }

    function stokOpnameOnsubmit(e) {
        e.preventDefault();
        const param = objectifyForm(frm_StokOpname_create);
        $.ajax({
            url: '@Url.Action("Create_Post")',
            type: 'POST',
            data: param,
            success: function (r) {
                var obj = JSON.parse(r);
                //oncompletecreate(xhr, '#@formName', '@ViewBag.IsAjaxRequest', this);
                if (obj.IsSuccess == true) {
                    $('.icon-sync').click();
                    $('.modal').modal('hide');
                    alertpopup(obj.Message, 'success')
                } else {
                    alert(obj.message);
                    alertpopup(obj.Message, 'info');
                }
                $('#_loading').css('display', 'none');
            },
            error: function (xhr){
                console.log(xhr);
                $('#_loading').css('display', 'none');
                alertpopup(xhr, 'info')
            },
            beforeSend: () => {
                $('#_loading').css('display', '');
            },
            complete: () => {
                $('#_loading').css('display', 'none');
            }
        });
    };

    function kolompokjenisonchange(t) {
        angular.element('#modal_frm_StokOpname_create_Kode_Barang').scope().filter[11] = t.value == "All" ? "" : t.value;
        angular.element('#modal_frm_StokOpname_create_Kode_Barang').scope().getdatas();
    }

    function qtyfisikonchange(t) {
        var tr = $($(t).closest('tr'));
        var sistem = tr.find('td:nth-child(9) input').val();
        var inputselisih = tr.find('td:nth-child(11) input');
        selisih = parseFloat(t.value) - parseFloat(sistem);
        inputselisih.val(selisih);
    }

</script>

<div id="@target_inputDetail_barang" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Barang_ID, new
   {
       htmlAttributes = new
       {
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Kode_Barang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NamaBarang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Satuan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Konversi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.QtySystem, new
   {
       @class = "form-control input-sm text-right",
       @readonly = "readonly",
       type = "number",
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.QtyFisik, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       onchange ="qtyfisikonchange(this)",
       Min = 0,
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.QtySelisih, new
   {
       @class = "form-control input-sm text-right",
       @readonly = "readonly",
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Harga, new
   {
       @class = "form-control input-sm text-right",
       @readonly = "readonly",
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Kategori, new
   {
       @class = "form-control input-sm",
       @readonly = "readonly",
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Keterangan, new
   {
       @class = "form-control input-sm"
   })
    </div>
</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_DataObatStokOpname", Model, new ViewDataDictionary {
    { "target", target_barang },
    { "modalid", modalid_m_barang },
    { "targetForm", targetForm },
    { "modalName", modalName_barang },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_barang },
    { "targetInputTable", target_inputDetail_barang },
})