﻿@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-light text-center">
    <div class="panel-body text-center">
        <div class="text-center">
            <img src="~/Theme/images/logo.png" width="15%" class="" />
        </div>
    </div>
</div>