﻿@using Pelayanan.Models.PPI
@model SurvailansDataModel
@{
    var controllerName = "Survailans";
    ViewBag.Title = "Survailans HAIs";
    var formName = $"frm_{controllerName}_create";
    var tableId = $"tbl_{controllerName}_create";

    #region ==== MODAL AB
    var target_AB = new
    {
    };
    var modalid_AB = $"modal_{formName}_AB";
    var modalName_AB = "AB";
    #endregion

    #region ==== MODAL Pasien
    var target_Pasien = new
    {
    };
    var modalid_Pasien = $"modal_{formName}_Pasien";
    var modalName_Pasien = "Pasien";
    #endregion

    #region Detail
    var target_inputDetail = $"inputDetail{controllerName}_barang";
    #endregion
    int detail_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_index = Model.Detail_List.Count();
        }
    }
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}
<style>
    .table-detail-ppi thead th{
        text-align:center;
    }
    #@tableId tbody td:nth-child(2){
        display:none;
    }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        text-align:center;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        min-width : 80px;
        text-align:center;
    }
    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        min-width : 250px;
    }
    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5) {
        min-width: 80px;
        text-align: center;
    }
    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6) {
        min-width: 100px;
        text-align: center;
    }
    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7) {
        min-width: 100px;
        text-align: center;
    }
    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8) {
        min-width: 100px;
        text-align: center;
    }
    #@tableId thead th:nth-child(9),
    #@tableId tbody td:nth-child(9) {
        min-width: 200px;
    }

    #@tableId tbody td:nth-child(10) { text-align:center; }
    #@tableId tbody td:nth-child(11) { text-align:center; }
    #@tableId tbody td:nth-child(12) { text-align:center; }
    #@tableId tbody td:nth-child(13) { text-align:center; }
    #@tableId tbody td:nth-child(14) { text-align:center; }
    #@tableId tbody td:nth-child(15) { text-align:center; }
    #@tableId tbody td:nth-child(16) { text-align:center; }
    #@tableId tbody td:nth-child(17) { text-align:center; }
    #@tableId tbody td:nth-child(18) { text-align:center; }
    #@tableId tbody td:nth-child(19) { text-align:center; }
    #@tableId tbody td:nth-child(20) { text-align:center; }
    #@tableId tbody td:nth-child(21) { text-align:center; }

    #@tableId thead th:nth-child(22),
    #@tableId tbody td:nth-child(22) {
        min-width: 200px;
    }
    #@tableId thead th:nth-child(23),
    #@tableId tbody td:nth-child(23) {
        min-width: 300px;
    }
    #@tableId thead th:nth-child(24),
    #@tableId tbody td:nth-child(24) {
        min-width: 300px;
    }

    #@formName input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }
</style>

@if ((bool)ViewData["SudahAdaData"])
{
    <div class="alert alert-warning">
        <h1>Data sudah dibuat hari ini</h1>
    </div>
}
else
{
    <div class="wall" ng-controller="form">
        <form id ='@formName'  autocomplete = "off">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Ruangan</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tanggal</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.Tanggal != null ? Model.Tanggal.ToString("yyyy-MM-dd") : "") } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Surveor</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-block" onclick="get_all_datasurveilans()">
                                <i class="icon-search4 position-left"></i> GET DATA PASIEN
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel_detil_barang_@formName" class="detail form-group" data-index-detail="@detail_index">
                <div class="table-responsive" style="max-height:250px;">
                    <table id="@tableId" class="table table-bordered table-detail-ppi table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    <a class="text-success-600" title="Barang"
                                       data-toggle="modal" data-target="#@modalid_Pasien">
                                        <i class="icon-search4"></i>
                                    </a>
                                </th>
                                <th rowspan="2" class="hidden">NO Reg</th>
                                <th rowspan="2">NO</th>
                                <th rowspan="2">NAMA</th>
                                <th rowspan="2">L/P</th>
                                <th rowspan="2">UMUR</th>
                                <th rowspan="2">PASIEN BARU</th>
                                <th rowspan="2">SUHU</th>
                                <th rowspan="2">DX MEDIS</th>
                                <th colspan="6" style="min-width:120px !important;">TINDAKAN</th>
                                <th colspan="6" style="min-width:120px !important;">INFEKSI RS</th>
                                <th rowspan="2">JENIS KULTUR</th>
                                <th rowspan="2">HASIL KULTUR</th>
                                <th rowspan="2">AB</th>
                            </tr>
                            <tr>
                                <th style="text-align:center; min-width: 20px !important;">Ven</th>
                                <th style="text-align: center; min-width: 20px !important;">UC</th>
                                <th style="text-align: center; min-width: 20px !important;">IVL</th>
                                <th style="text-align: center; min-width: 20px !important;">VCL</th>
                                <th style="text-align: center; min-width: 20px !important;">ETT</th>
                                <th style="text-align: center; min-width: 20px !important;">TB</th>

                                <th style="text-align:center; min-width: 20px !important;">VAP</th>
                                <th style="text-align:center; min-width: 20px !important;">HAP</th>
                                <th style="text-align:center; min-width: 20px !important;">ISK</th>
                                <th style="text-align:center; min-width: 20px !important;">IADP</th>
                                <th style="text-align:center; min-width: 20px !important;">PLEb</th>
                                <th style="text-align:center; min-width: 20px !important;">DEK</th>
                            </tr>
                        </thead>
                        <tbody id="target_get_surveilans"></tbody>
                    </table>
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <div class="table-responsive">
                    <table id="tableDetail" class="table table-bordered table-detail-ppi table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center" style="width: 40px;">
                                    <a class="text-success-600" onclick="openModalDetail()">
                                        <i class="icon-search4"></i>
                                    </a>
                                </th>
                                <th>Antibiotik</th>
                                <th>Dosis</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="button" onclick="formOnSubmit({})" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    
        </form>
    </div>

    <script>

    function get_all_datasurveilans() {
        myajax({
            url: "@Url.Action("get_detail_surveilan", "Survailans")",
            type: "GET",
            method : "GET",
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    var html = "";
                    var row = 1;
                    $('#@formName #@tableId [onclick="customremovetr(this)"]').click();
                        $.each(dt.Data, function (i, v) {
                            angular.element('#@formName').scope().addrowdetail({ target: '#@tableId' }, '#@target_inputDetail');
                            var td = $('#@formName #@tableId tbody tr:last td');
                            var tr = $('#@formName #@tableId tbody tr:last');
                            tr.find('.Noreg').val(v.Model.Noreg);
                            tr.find('.Nomor').val(v.Model.Nomor);
                            tr.find('.NamaPasien').val(v.Model.NamaPasien);
                            tr.find('.Jenis_Kelamin').val(v.Model.Jenis_Kelamin);
                            tr.find('.Umur').val(v.Model.Umur);
                            tr.find('.Suhu').val(v.Model.Suhu);
                            tr.find('.Umur_Bln').val(v.Model.Umur_Bln);
                            tr.find('.Umur_Th').val(v.Model.Umur_Th);
                            tr.find('.NRM').val(v.Model.NRM);
                            tr.find('.PasienBaru').val(v.Model.PasienBaru);
                            console.log(v.Model);

                            tr.find('.KodeICD').html(`<option value="${v.Model.KodeICD}">${v.Model.KetICD}</option>`);
                            tr.find('.KodeICD').val(v.Model.KodeICD);
                            row++;
                        });

                    var tbody = $('#@tableId').find('tbody');
                    tbody.find('.ready-to-select2').select2(jsondiagnosaawal()).trigger('change');
                } else {
                    var html = `<tr>
                                    <td colspan="21" class="text-center" style="vertical-align:middle;">
                                        <p style="vertical-align:middle;">-- TIDAK ADA DATA DITEMUKAN --</p>
                                    </td>
                                </tr>`;
                    $("#target_get_surveilans").html(html);
                }
            }
        });
    }

     function jsondiagnosaawal() {
        return {
            ajax: {
                url: "@Url.Action("List", "ICD")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Descriptions',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: value.Descriptions } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    function customremovetr(t) {
        $(t).closest("tr").addClass("hidden");
    }
    </script>
    if (Model != null)
    {
        Model.Detail_List = null;
    }
<div id="@target_inputDetail" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" class="hidden checkbox-num" />
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset auto-uncheck hidden checkbox-remove hidden" } })
        <a class="text-danger-600"
           onclick="customremovetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Noreg, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Noreg",
               @readonly = "readonly"
           }
       })
        @Html.HiddenFor(model => model.Detail_List[-1].Model.NRM, new { @class = "NRM" })
        @Html.HiddenFor(model => model.Detail_List[-1].Model.Umur_Bln, new { @class = "Umur_Bln" })
        @Html.HiddenFor(model => model.Detail_List[-1].Model.Umur_Th, new { @class = "Umur_Th" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Nomor, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Nomor",
               @readonly = "readonly"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NamaPasien, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm NamaPasien",
               @readonly = "readonly"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Jenis_Kelamin, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Jenis_Kelamin",
               @readonly = "readonly"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Umur, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Umur",
               @readonly = "readonly"
           }
       })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.PasienBaru, new List<SelectListItem>
        {
            new SelectListItem() {Text = "", Value=""},
            new SelectListItem() {Text = "BARU", Value="BARU"},
            new SelectListItem() {Text = "LAMA", Value="LAMA"},
        }, new { @class = "form-control input-sm PasienBaru" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Suhu, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Suhu",
               type = "number"
           }
       })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.KodeICD, new List<SelectListItem>(), new
   {
       @class = "form-control input-sm KodeICD ready-to-select2 KodeICD",
       @readonly = "readonly"
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_VEN,
        new { htmlAttributes = new { @class = "Tind_VEN" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_UC,
        new { htmlAttributes = new { @class = "Tind_UC" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_IVL,
        new { htmlAttributes = new { @class = "Tind_IVL" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_CVL,
        new { htmlAttributes = new { @class = "Tind_CVL" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_ETT,
        new { htmlAttributes = new { @class = "Tind_ETT" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tind_TB,
        new { htmlAttributes = new { @class = "Tind_TB" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_VAP,
        new { htmlAttributes = new { @class = "Infek_VAP" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_HAP,
        new { htmlAttributes = new { @class = "Infek_HAP" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_ISK,
        new { htmlAttributes = new { @class = "Infek_ISK" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_IADP,
        new { htmlAttributes = new { @class = "Infek_IADP" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_PLEB,
        new { htmlAttributes = new { @class = "Infek_PLEB" } })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Infek_DEK,
        new { htmlAttributes = new { @class = "Infek_DEK" } })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Kultur_Sample, new List<SelectListItem>
        {
            new SelectListItem() {Text = "", Value=""},
            new SelectListItem() {Text = "Darah", Value="Darah"},
            new SelectListItem() {Text = "Urin", Value="Urin"},
            new SelectListItem() {Text = "Dahak", Value="Dahak"},
            new SelectListItem() {Text = "PUS/ Usap Basah Luka", Value="PUS/ Usap Basah Luka"}
        }, new { @class = "form-control input-sm text-center Kultur_Sample" })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Kultur_Ket, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm text-center Kultur_Ket",
           }
       })
    </div>
    <div class="input-detail">
        <button data-toggle="modal" onclick="opendetailAB(event)"
                class="btn btn-success btndetailX input-lookup btn-block" type="button">
            <i class="glyphicon glyphicon-eye-open"></i>
        </button>
    </div>
</div>

    <!-- Modal Look Pakate Resep -->
    @Html.Partial("_LookUp_AB", Model, new ViewDataDictionary {
        { "target", target_AB },
        { "modalid", modalid_AB },
        { "targetForm", formName },
        { "modalName", modalName_AB },
        { "headerisajax", true }
    })

    @Html.Partial("_LookUp_Pasien", Model, new ViewDataDictionary {
        { "target", target_Pasien },
        { "modalid", modalid_Pasien },
        { "targetForm", formName },
        { "modalName", modalName_Pasien },
        { "headerisajax", true }
    })

<script>
        var dataDetail = [];
        var nomor;

        const openModalDetail = () => {
            angular.element('#@modalid_AB').scope().getdatas();
            $('#@modalid_AB').modal();
        };

        const opendetailAB = e => {
            $('#tableDetail').closest('.form-group').show();
            nomor = $(e.target).closest('tr').find('.Nomor').val();
            $('.btndetailX').removeClass('btn-primary');
            $('.btndetailX').addClass('btn-success');
            $(e.target).closest('button').removeClass('btn-success');
            $(e.target).closest('button').addClass('btn-primary');
            refreshDetail();
        };

        const refreshDetail = () => {
            if (!dataDetail[nomor]) {
                $('#tableDetail tbody').html('');
                return;
            };
            let html = '';
            Object.keys(dataDetail[nomor]).forEach(key => {
                const m = dataDetail[nomor][key];
                html += `<tr data-key='${key}'>`;
                html += `<td><a class="text-danger-600" onclick="removetrdetail(${key})"><i class="icon-trash"></i></a></td>`;
                html += `<td>${m.nama}</td>`;
                html += `<td><input onchange='detaildosisOnChange(this, ${key})' value='${m.dosis || ''}' type='text' class='form-control' /></td>`;
                html += '</tr>';
            });
            $('#tableDetail tbody').html(html);
        };

        const detaildosisOnChange = (t, key) => {
            dataDetail[nomor][key].dosis = t.value;
        };

        const removetrdetail = key => {
            delete dataDetail[nomor][key];
            refreshDetail();
        };

        const formOnSubmit = e => {
            //e.preventDefault();
            var m = {
                Detail_List2: []
            };

            $('#panel_detil_barang_frm_Survailans_create tbody tr').each((i, v) => {
                var tr = $(v);

                var _n = dataDetail[tr.find('.Nomor').val()] || [];

                m.Detail_List2.push({
                    Nomor: tr.find('.Nomor').val(),
                    Noreg: tr.find('.Noreg').val(),
                    NRM: tr.find('.NRM').val(),
                    Jenis_Kelamin: tr.find('.Jenis_Kelamin').val(),
                    NamaPasien: tr.find('.NamaPasien').val(),
                    Suhu: tr.find('.Suhu').val(),
                    Umur_Bln: tr.find('.Umur_Bln').val(),
                    Umur_Th: tr.find('.Umur_Th').val(),
                    Infek_DEK: tr.find('.Infek_DEK').is(":checked"),
                    Infek_HAP: tr.find('.Infek_HAP').is(":checked"),
                    Infek_IADP: tr.find('.Infek_IADP').is(":checked"),
                    Infek_ISK: tr.find('.Infek_ISK').is(":checked"),
                    Infek_PLEB: tr.find('.Infek_PLEB').is(":checked"),
                    Infek_VAP: tr.find('.Infek_VAP').is(":checked"),
                    Tind_CVL: tr.find('.Tind_CVL').is(":checked"),
                    Tind_ETT: tr.find('.Tind_ETT').is(":checked"),
                    Tind_IVL: tr.find('.Tind_IVL').is(":checked"),
                    Tind_TB: tr.find('.Tind_TB').is(":checked"),
                    Tind_UC: tr.find('.Tind_UC').is(":checked"),
                    Tind_VEN: tr.find('.Tind_VEN').is(":checked"),
                    Kultur_Sample: tr.find('.Kultur_Sample').val(),
                    Antibiotik: tr.find('.Antibiotik').val(),
                    KodeICD: tr.find('.KodeICD').val(),
                    Kultur_Ket: tr.find('.Kultur_Ket').val(),
                    PasienBaru: tr.find('.PasienBaru').val(),

                    AR: Object.keys(_n).map(x => ({ Id: x, Dosis: _n[x].dosis })),
                });
            });

            myajax({
                url: '@Url.Action("Create")',
                data: m,
                success: function (data) {
                    if (!data.IsSuccess) {
                        alertpopup(data.Message, 'warning');
                        return;
                    }
                    oncompletecreate({
                        responseText: JSON.stringify({
                            Message: 'Berhasil disimpan',
                            IsSuccess: true,
                            Status : 'success'
                        })
                    }, '#@formName', 'TRUE', document.getElementById('@formName'));
                }
            });
        };
</script>
}