﻿@using Pelayanan.Models
@model PasienGejalaPinokViewModel
@{
    var controllerName = "PasienGejalaPinok";
    ViewBag.Title = "Pasien Gejala Pinok";
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoBukti)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jenis Kasus</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.JenisKasus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JenisKasus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Indikasi Kasus</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IndikasiKasus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndikasiKasus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Keterangan</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-floppy-disk position-right"></i></button>
                </div>
            </div>

        </div>
    }
</div>