﻿@using Pelayanan.Models
@model ReportViewModel
@{
    var controllerName = "ReportPelayanan";
    ViewBag.Title = "Report Pelayanan";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};

    var groupigd = new SelectListGroup() { Name = "IGD" };
    var grouppoli = new SelectListGroup() { Name = "POLIKLINIK" };
    var reportlist = new List<SelectListItem>()
    {
        new SelectListItem(){Group = groupigd, Value = "10_Ramata_IGD_LaporanRekapPasien", Text = "Rujukan Pasien" },
        new SelectListItem(){Group = groupigd, Value = "11_Ramata_IGD_LaporanRekapPasien_Bulanan", Text = "Bulanan Pasien" },
        new SelectListItem(){Group = groupigd, Value = "12_Ramata_IGD_RegistarasiPasien", Text = "Register Pasien" },
        new SelectListItem(){Group = grouppoli, Value = "13_Ramata_JumlahKunjunganPasian_Poliklinik", Text = "Kunjungan Pasien" },
        new SelectListItem(){Group = grouppoli, Value = "14_Ramata_JumlahKunjunganPasian_PerDokter", Text = "Kunjungan Pasien Perdokter" },
        new SelectListItem(){Group = grouppoli, Value = "15_Ramata_WaktuTungguPasienPoliklinik", Text = "Waktu Periksa Pasien" },
    };
}

<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="wall" ng-controller="form">
                @using (Html.BeginForm("Index", controllerName, FormMethod.Post, new { id = formName, autocomplete = "off" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SPName)
                    <div class="form-group">
                        <label>Report</label>
                        @Html.DropDownListFor(model => model.JenisReport, reportlist, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Periode</label>
                        @Html.TextBoxFor(model => model.Start, new { @class = "form-control", Value = Model.Start.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        @Html.TextBoxFor(model => model.End, new { @class = "form-control", Value = Model.End.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hide">
                        <label>Dokter</label>
                        @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Report <i class="icon-printer position-right"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('#JenisReport').on('change', function() {
        jenisreportchanget();
    });

    document.addEventListener("DOMContentLoaded", function(event) { 
        jenisreportchanget();
    });

    function jenisreportchanget() {
        var g = $('#JenisReport option:selected').closest('optgroup').attr('label');
        if (g === 'IGD' || JenisReport.value === '13_Ramata_JumlahKunjunganPasian_Poliklinik') {
            $('#DokterID').closest('.form-group').addClass('hide');
            $('#DokterID').removeAttr('required');
            $('#DokterID').val('').trigger("change");
        } else {
            $('#DokterID').closest('.form-group').removeClass('hide');
            $('#DokterID').attr('required','required');
        }
        var v = $('#JenisReport option:selected').val();
        var sp = v === '10_Ramata_IGD_LaporanRekapPasien' ? 'Ramata_IGD_Laporan_Rujukan_Pasien_IGD' :
            v === '11_Ramata_IGD_LaporanRekapPasien_Bulanan' ? 'Ramata_IGD_Laporan_Bulanan_Pasien_IGD' :
                v === '12_Ramata_IGD_RegistarasiPasien' ? 'Ramata_IGD_Laporan_Register_Pasien_IGD' :
                    v === '13_Ramata_JumlahKunjunganPasian_Poliklinik' ? 'Ramata_Poli_Laporan_Jumlah_kunjungan_Pasien' :
                        v === '14_Ramata_JumlahKunjunganPasian_PerDokter' ? 'Ramata_Poli_Laporan_Jumlah_kunjungan_Pasien_PerDokter' :
                            v === '15_Ramata_WaktuTungguPasienPoliklinik' ? 'Ramata_Poli_Laporan_Waktu_Tunggu_Pasien' :
                '';
        $('#SPName').val(sp);
    }

    $('#DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>