﻿@using Pelayanan.Models
@model PasienRawatInapViewModel
@{
    ViewBag.Title = "Pasien Rawat Inap";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>No Reg</dt>
                <dd>@Html.DisplayFor(model => model.NoReg)</dd>

                <dt>Tanggal</dt>
                <dd>@Html.DisplayFor(model => model.TglReg_View) @Model.JamReg.TimeOfDay.ToString("hh"):@Model.JamReg.TimeOfDay.ToString("mm")</dd>

                <dt>NRM</dt>
                <dd>
                    @Html.DisplayFor(model => model.NRM) &nbsp;
                    @if (Model.JenisKelamin == "M")
                    {
                        <label class="text-primary fa fa-mars"></label>
                    }
                    else if (Model.JenisKelamin == "F")
                    {
                        <label class="text-danger fa fa-venus"></label>
                    }
                    else
                    {
                        <label class="text-warning genderless"></label>
                    }
                </dd>

                <dt>Nama Pasien</dt>
                <dd>@Html.DisplayFor(model => model.NamaPasien)</dd>

                <dt>Alamat</dt>
                <dd>@Html.Raw((Model.Alamat ?? "").Replace("\r", "<br/>"))</dd>

            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>Section Asal</dt>
                <dd>@Html.DisplayFor(model => model.SectionName)</dd>

                <dt>Kamar</dt>
                <dd>@Html.DisplayFor(model => model.Kamar)</dd>

                <dt>Dokter</dt>
                <dd>@Html.DisplayFor(model => model.NamaDOkter)</dd>

                <dt>Perusahaan</dt>
                <dd>@Html.DisplayFor(model => model.JenisKerjasama)</dd>

            </dl>
        </div>
    </div>
</div>