﻿@using Pelayanan.Models
@model IurBayarViewModel
@{
    var controllerName = "IurBayar";
    ViewBag.Title = "Iur Bayar";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.NoReg, new { Value = Model.NoReg })

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th class="text-center">I</th>
                            <th colspan="4">IDENTITAS PASIEN</th>
                        </tr>
                        <tr>
                            <th class="text-center">NO</th>
                            <th>URAIAN</th>
                            <th colspan="2"></th>
                            <th>PENANGGUNG</th>
                        </tr>
                        <tr>
                            <th class="text-center">1</th>
                            <th>Nama</th>
                            <th colspan="2">@Model.NamaPasien</th>
                            <th>@Model.Penanggung</th>
                        </tr>
                        <tr>
                            <th class="text-center">2</th>
                            <th>Tanggal Lahir / Umur</th>
                            <th colspan="2">@Model.TglLahir.Value.ToString("dd-MM-yyyy")</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">3</th>
                            <th>Jenis kelamin</th>
                            <th colspan="2">@Model.JenisKelamin</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">4</th>
                            <th>Agama</th>
                            <th colspan="2">@Model.Agama</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">5</th>
                            <th>Warga Negara</th>
                            <th colspan="2">@Model.WargaNegara</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">6</th>
                            <th>Pekerjaan</th>
                            <th colspan="2">@Model.Pekerjaan</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">7</th>
                            <th>Alamat Lengkap</th>
                            <th colspan="2">@Model.Alamat</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="text-center">II</th>
                            <th colspan="4"></th>
                        </tr>
                        <tr>
                            <th class="text-center">1</th>
                            <th>Nomor CM</th>
                            <th colspan="2">@Model.NRM</th>
                            <th class="text-center">Dokter Yang Merawat</th>
                        </tr>
                        <tr>
                            <th class="text-center">2</th>
                            <th>Ruang / Bagian</th>
                            <th colspan="2">
                                @Html.DropDownListFor(model => model.SectionID, StaticModel.ListSectionRI, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                                @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                new SelectListItem(){
                                    Text = Model.NamaDokter, Value = Model.DokterID, Selected = true
                                }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">3</th>
                            <th>Kelas</th>
                            <th colspan="2">
                                @Html.DropDownListFor(model => model.KelasID, StaticModel.ListKelas, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">4</th>
                            <th>Tanggal Masuk</th>
                            <th colspan="2">
                                @Html.EditorFor(model => model.TglMasuk, new { htmlAttributes = new { @class = "form-control ", Value = (Model.TglMasuk != null ? (Model.TglMasuk.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.TglMasuk, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">5</th>
                            <th>Tanggal keluar</th>
                            <th colspan="2">
                                @Html.EditorFor(model => model.TglKeluar, new { htmlAttributes = new { @class = "form-control ", Value = (Model.TglKeluar != null ? (Model.TglKeluar.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.TglKeluar, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">6</th>
                            <th>Jam keluar</th>
                            <th colspan="2">
                                @Html.EditorFor(model => model.JamKeluar, new { htmlAttributes = new { @class = "form-control ", Value = (Model.JamKeluar != null ? (Model.JamKeluar.Value.ToString("HH':'mm")) : "") } })
                                @Html.ValidationMessageFor(model => model.JamKeluar, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">7</th>
                            <th>Jumlah Hari Rawat</th>
                            <th colspan="2">
                                @Html.EditorFor(model => model.JumlahHariRawat, new { htmlAttributes = new { @class = "form-control ", Value = Model.LamaRawat } })
                                @Html.ValidationMessageFor(model => model.JumlahHariRawat, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">III</th>
                            <th colspan="4">DIAGNOSA / CODE INA CBGs</th>
                        </tr>
                        <tr>
                            <th class="text-center">1</th>
                            <th>Diagnosa Utama</th>
                            <th colspan="2">
                                @Html.DropDownListFor(model => model.KodeDiagnosaUtama, new List<SelectListItem>() {
                                new SelectListItem(){
                                    Text = Model.NamaDiagnosaUtama, Value = Model.KodeDiagnosaUtama, Selected = true
                                }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">2</th>
                            <th>Diagnosa Sekunder</th>
                            <th colspan="2">
                                @Html.DropDownListFor(model => model.KodeDiagnosaSkunder, new List<SelectListItem>() {
                                new SelectListItem(){
                                    Text = Model.NamaDiagnosaSkunder, Value = Model.KodeDiagnosaSkunder, Selected = true
                                }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">3</th>
                            <th>Kode Tindakan</th>
                            <th colspan="2">
                                @Html.DropDownListFor(model => model.KodeTindakan, new List<SelectListItem>() {
                                new SelectListItem(){
                                    Text = Model.NamaKodeTindakan, Value = Model.KodeTindakan, Selected = true
                                }
                                }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">IV</th>
                            <th colspan="4">PERINCIAN BIAYA</th>
                        </tr>
                        <tr>
                            <th class="text-center" rowspan="2">1</th>
                            <th>
                                Lama Rawat
                            </th>
                            <th colspan="2">
                                Tarif INA CBGs
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @Html.EditorFor(model => model.LamaRawat, new { htmlAttributes = new { @class = "form-control text-center" } })
                                @Html.ValidationMessageFor(model => model.LamaRawat, "", new { @class = "text-danger" })
                            </th>
                            <th colspan="2">
                                @Html.EditorFor(model => model.NilaiINACBGs_View, new { htmlAttributes = new { @class = "form-control text-right input-money" } })
                                @Html.ValidationMessageFor(model => model.NilaiINACBGs_View, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">
                                <button type="button" onclick="get_result_biaya();" class="btn btn-success btn-block"><i class="icon-paperplane position-left"></i> HITUNG TAMBAHAN BIAYA</button>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" rowspan="2">2</th>
                            <th>Lama Rawat</th>
                            <th>
                                Presentase
                            </th>
                            <th>
                                Tambahan Biaya
                            </th>
                            <th class="text-center">

                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="text" class="form-control" id="fmLamarawat" readonly name="name" value="" />
                            </th>
                            <th>
                                <input type="text" class="form-control" id="Presentase" readonly name="Presentase" value="" />
                            </th>
                            <th>
                                @Html.EditorFor(model => model.IURBayar_View, new { htmlAttributes = new { @class = "form-control text-right input-money", @readonly="readonly" } })
                                @Html.ValidationMessageFor(model => model.IURBayar_View, "", new { @class = "text-danger" })
                            </th>
                            <th class="text-center">

                            </th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group mt-15">
                <div class="col-md-12 text-right">
                        @if (ViewBag.Report == 1)
                        {
                            <a href="@Url.Action("ExportPDF","IurBayar", new { noreg = Model.NoReg })" target="_blank" class="btn btn-success"><i class="icon-printer position-left"></i> Cetak IUR Bayar</a>
                        }
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
     }
</div>

<script>

    $('#@formName #KelasID').select2();
    $('#@formName #SectionID').select2();
    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #KodeDiagnosaUtama').select2(icd());
    $('#@formName #KodeDiagnosaSkunder').select2(icd());
    $('#@formName #KodeTindakan').select2(icd_tindakan());

    function icd() {
        return {
        ajax: {
            url: "@Url.Action("List", "ICD")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: value.Descriptions } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
            }
        }
    }
    function icd_tindakan() {
        return {
        ajax: {
            url: "@Url.Action("ListTindakan", "ICD")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Tindakan',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: value.Descriptions } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
            }
        }
    }

    @if (Model.LamaRawat != null && Model.NilaiINACBGs_View != null)
    {
        @:get_result_biaya();
    }

    function get_result_biaya() {
        var option = {
            kelas: $('#@formName #KelasID').val(),
            tarif: getfloatfromcurrency($('#@formName #NilaiINACBGs_View').val()),
            lama_rawat: $('#@formName #LamaRawat').val(),
            jam_pulang: $('#@formName #JamKeluar').val()
        };
        if (option.kelas == "") {
            alertpopup("Kelas tidak boleh kosong", "info");
            return;
        }
        if (option.tarif == "") {
            alertpopup("Tarif tidak boleh kosong", "info");
            return;
        }
        if (option.lama_rawat == "") {
            alertpopup("Lama Rawat tidak boleh kosong", "info");
            return;
        }
        $.ajax({
            url: '@Url.Action("getDataBiayaTambahan", "IurBayar")',
            type: 'POST',
            method: 'POST',
            data: option,
            dataType: 'JSON',
            success: function (data, status, xhr) {
                if (data.IsSuccess) {

                    $('#@formName #fmLamarawat').val(data.Data.LamaRawat);
                    $('#@formName #Presentase').val(data.Data.Presentase);
                    $('#@formName #IURBayar_View').val(getcurrencyfromfloat(data.Data.TambahanBiaya));

                } else {
                    alertpopup(data.Message, "info");
                }
                $('#_loading').css('display', 'none');
            },
            error: function (jqXhr, textStatus, errorMessage) {

            }
        });
    }
</script>