﻿@using Pelayanan.Models
@model InputJamHasilViewModel

@{
    var controllerName = "InputJamHasil";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4">
                                Sample Diambil
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Diambil, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Diambil != null ? Model.Diambil.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Diambil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">
                                Sample Dikerjakan
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Dikerjakan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Dikerjakan != null ? Model.Dikerjakan.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Dikerjakan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">
                                Selesai
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Selesai, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Selesai != null ? Model.Selesai.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Selesai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">
                                Diserahkan Pasien
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Diserahkan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Diserahkan != null ? Model.Diserahkan.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Diserahkan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>
<!--  JS Skor  -->
<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

    function oncompletecreatealergiobat(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        /* $('#aews').click();*/
    }

</script>


