﻿@model Pelayanan.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-info">
        <p>@ViewBag.StatusMessage</p>
    </div>
}
<div class="panel">
    <div class="panel-body">
        <div class="text-center">
            <div class="icon-object border-success text-success"><i class="icon-user"></i></div>
            <h5 class="content-group">Hello @(Model.FirstName + " " + Model.LastName)!</h5>
        </div>
        <div>
            <dl class="dl-horizontal">

                <dt>Username:</dt>
                <dd>
                    @Model.Username
                    [
                    @Html.ActionLink("Edit", "ChangeUsername")
                    ]
                </dd>

                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>
                    @(Model.FirstName + " " + Model.LastName)
                </dd>

                <dt>Gender:</dt>
                <dd>
                    @(Model.Gender == "M" ? "Male" : Model.Gender == "F" ? "Female" : "Other")
                </dd>

                <dt>Birthday:</dt>
                <dd>
                    @(Model.Birthday.ToString("dd/MM/yyyy"))
                </dd>

                <dt>Address:</dt>
                <dd>
                    @Model.Address
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email:</dt>
                @if (Model.EmailConfirmed)
                {
                    <dd>@Model.Email</dd>
                }
                else
                {
                    <dd class="text-danger">
                        @using (Html.BeginForm("ResendEmail", "Account", new { id = Model.Username, returnControl = "Manage" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @:[<input type="submit" class="btn-link" value="Send Email Confirmation" />] @Model.Email
                        }
                    </dd>
                }

                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </dd>
            </dl>
        </div>
        <div class="text-right">
            <a href="@Url.Action("EditProfile")" class="btn bg-blue">Edit Profile <i class="icon-pencil position-right"></i></a>
        </div>
    </div>
</div>
