﻿@using Pelayanan.Models
@model SensusHarianViewModel
@{
    var controllerName = "SensusHarian";
    var formName = $"frm_{controllerName}_detail";
    ViewBag.Title = "Sensus Harian";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<style>
    #@formName table td{
        white-space: nowrap;
    }

    .tdnamapasien{
        max-width:100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tdnamapasien-2{
        max-width:200px;
    }
</style>

<div class="wall" id="@formName">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Tanggal</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Tanggal_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Jumlah TT</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.JmlBed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Jumlah TT Terisi</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.JmlBedTerisi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <h4>@Model.DetailKamar_List.Count</h4>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>Kamar</th>
                                <th>Bed</th>
                                <th>No Reg</th>
                                <th>NRM</th>
                                <th>Nama Pasien</th>
                                <th>OK</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                if (Model.DetailKamar_List != null)
                                {
                                    for (var i = 0; i < Model.DetailKamar_List.Count(); i++)
                                    {
                                        <tr>
                                            <td class="text-center">@Model.DetailKamar_List[i].Model.NoKamar</td>
                                            <td class="text-center">@Model.DetailKamar_List[i].Model.NoBed</td>
                                            <td class="text-center">@Model.DetailKamar_List[i].Model.NoReg</td>
                                            <td class="text-center">@Model.DetailKamar_List[i].Model.NRM</td>
                                            <td class="tdnamapasien tdnamapasien-2" title="@Model.DetailKamar_List[i].Model.NamaPasien">@Model.DetailKamar_List[i].Model.NamaPasien</td>
                                            <td class="text-center">
                                                @Html.CheckBoxFor(model => model.DetailKamar_List[i].Model.OK, new { disabled = "disabled" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">

                <h4>PASIEN LAMA @Model.DetailPasienLama_List.Count</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>Kamar</th>
                                <th>Bed</th>
                                <th>No Reg</th>
                                <th>NRM</th>
                                <th>Nama Pasien</th>
                                <th>OK</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                if (Model.DetailPasienLama_List != null)
                                {
                                    for (var i = 0; i < Model.DetailPasienLama_List.Count(); i++)
                                    {
                                        <tr>
                                            <td class="text-center">@Model.DetailPasienLama_List[i].Model.NoKamar</td>
                                            <td class="text-center">@Model.DetailPasienLama_List[i].Model.NoBed</td>
                                            <td class="text-center">@Model.DetailPasienLama_List[i].Model.NoReg</td>
                                            <td class="text-center">@Model.DetailPasienLama_List[i].Model.NRM</td>
                                            <td class="tdnamapasien tdnamapasien-2" title="@Model.DetailPasienLama_List[i].Model.NamaPasien">@Model.DetailPasienLama_List[i].Model.NamaPasien</td>
                                            <td class="text-center">
                                                @Html.CheckBoxFor(model => model.DetailPasienLama_List[i].Model.OK, new { disabled = "disabled" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <br />

                <h4>PASIEN BARU @Model.DetailPasienBaru_List.Count</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>Kamar</th>
                                <th>Bed</th>
                                <th>No Reg</th>
                                <th>NRM</th>
                                <th>Nama Pasien</th>
                                <th>OK</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                if (Model.DetailPasienBaru_List != null)
                                {
                                    for (var i = 0; i < Model.DetailPasienBaru_List.Count(); i++)
                                    {
                                        <tr>
                                            <td class="text-center">@Model.DetailPasienBaru_List[i].Model.NoKamar</td>
                                            <td class="text-center">@Model.DetailPasienBaru_List[i].Model.NoBed</td>
                                            <td class="text-center">@Model.DetailPasienBaru_List[i].Model.NoReg</td>
                                            <td class="text-center">@Model.DetailPasienBaru_List[i].Model.NRM</td>
                                            <td class="tdnamapasien" title="@Model.DetailPasienBaru_List[i].Model.NamaPasien">@Model.DetailPasienBaru_List[i].Model.NamaPasien</td>
                                            <td class="text-center">
                                                @Html.CheckBoxFor(model => model.DetailPasienBaru_List[i].Model.OK, new { disabled = "disabled" })
                                            </td>
                                            <td>@Model.DetailPasienBaru_List[i].Model.StatusPasien</td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <br />

                <h4>PASIEN KELUAR @Model.DetailPasienKeluar_List.Count</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>

                                <!-- Thead -->
                                <th>Kamar</th>
                                <th>Bed</th>
                                <th>No Reg</th>
                                <th>NRM</th>
                                <th>Nama Pasien</th>
                                <th>OK</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                if (Model.DetailPasienKeluar_List != null)
                                {
                                    for (var i = 0; i < Model.DetailPasienKeluar_List.Count(); i++)
                                    {
                                        <tr>
                                            <td class="text-center">@Model.DetailPasienKeluar_List[i].Model.NoKamar</td>
                                            <td class="text-center">@Model.DetailPasienKeluar_List[i].Model.NoBed</td>
                                            <td class="text-center">@Model.DetailPasienKeluar_List[i].Model.NoReg</td>
                                            <td class="text-center">@Model.DetailPasienKeluar_List[i].Model.NRM</td>
                                            <td class="tdnamapasien" title="@Model.DetailPasienKeluar_List[i].Model.NamaPasien">@Model.DetailPasienKeluar_List[i].Model.NamaPasien</td>
                                            <td class="text-center">
                                                @Html.CheckBoxFor(model => model.DetailPasienKeluar_List[i].Model.OK, new { disabled = "disabled" })
                                            </td>
                                            <td>@Model.DetailPasienKeluar_List[i].Model.StatusPasien</td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <br />

            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
</div>