﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "RegistrasiPasienRJ";
    ViewBag.Title = "Registrasi Pasien";
    var tableId = $"table_{controllerName}";
    var item = new RegistrasiPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoAntri);
    column[1] = nameof(item.Kamar);
    column[2] = nameof(item.NoBed);
    column[3] = nameof(item.NoReg);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Jam);
    column[6] = nameof(item.NRM);
    column[7] = nameof(item.NamaPasien);
    column[8] = nameof(item.JenisKelamin);
    column[9] = nameof(item.NamaDOkter);
    column[10] = nameof(item.JenisKerjasama);
    column[11] = nameof(item.Nama_Customer);
    column[12] = nameof(item.NoKartu);
    column[13] = nameof(item.SectionName);
    column[14] = nameof(item.SectionAsalName);
    column[15] = nameof(item.SudahPeriksa);
    column[16] = nameof(item.NoBill);
    column[17] = nameof(item.Nomor);
    column[18] = nameof(item.StatusBayar);
    column[19] = nameof(item.Batal);
    column[20] = nameof(item.AlasanBatal);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #table_RegistrasiPasienRJ {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .cardpatientop {
        padding: 5px;
        height: 60px;
    }

    .cardpatienmiddle {
        height:50px;
    }

    .patientcard {
        text-align: center;
    }

        .patientcard .panel-body {
            padding: 4px 14px;
        }

    .btndetailpatient span {
        font-size:40px;
    }

    .btndetailpatient {
        width: 64px;
        float: left;
        height: 105px;
        padding-top: 35px;
        border-radius:0px;
    }

    .cardfooter .btn.bg-success.btn-block {
        border-radius: 0px;
    }

    .cardpatienbody {
        width: calc(100% - 70px);
        float: right;
    }

    .cardpatientop div, .cardpatienmiddle div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[20] = '0';
     filter[21] = '';
     filter[25] = '1';
     filter[19] = 'n';
     sort = '@column[0]'; 
     sorttype = 'desc';
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Periode</label>
                            <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Sampai</label>
                            <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="filterallperiode">All Periode</label>
                            <input class="display-block" id="filterallperiode" type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select class="form-control" ng-model="filter[19]" ng-change="getdatas()">
                                <option value="">ALL</option>
                                <option value="y">BATAL</option>
                                <option value="n">TIDAK BATAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Row</label>
                            <select class="form-control input-xs"
                                    ng-change="getdatas()"
                                    ng-model="pagesize"
                                    ng-options="opt as opt for opt in [12,24,48,96,192]"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Order By</label>
                            <select class="form-control input-xs" ng-model="sort" ng-change="getdatas()">
                                <option value="@column[0]">No Antri</option>
                                <option value="@column[3]">NoReg</option>
                                <option value="@column[4]">Tanggal</option>
                                <option value="@column[6]">NRM</option>
                                <option value="@column[7]">Nama Pasien</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Order By</label>
                            <select class="form-control input-xs" ng-model="sorttype" ng-change="getdatas()">
                                <option value="asc">ASC</option>
                                <option value="desc">DESC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>No Antri</label>
                            <input ng-model="filter[0]" type="text" class="form-control" ng-change="getdatas()">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>No Reg</label>
                            <input ng-model="filter[3]" type="text" class="form-control" ng-change="getdatas()">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>NRM</label>
                            <input ng-model="filter[6]" type="text" class="form-control" ng-change="getdatas()">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Nama Pasien</label>
                            <input ng-model="filter[7]" type="text" class="form-control" ng-change="getdatas()">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Dokter</label>
                            <input ng-model="filter[9]" type="text" class="form-control" ng-change="getdatas()">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Belum Periksa</option>
                                <option value="2">Sudah Periksa</option>
                                <option value="3">Sudah Bayar</option>
                                <option value="4">Sudah Bayar Belum Periksa</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dataTables_scrollHead" id="@tableId">
            <div class="loading {{ loading ? '' : 'hide' }}">
                <div class="bubblingG center">
                    <span id="bubblingG_1"></span>
                    <span id="bubblingG_2"></span>
                    <span id="bubblingG_3"></span>
                </div>
            </div>
            <div class="row {{ loading ? 'hide' : '' }}">
                <div class="col-md-4 patientcard trdata" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        data-id="{{data.@column[3]}}"
                        data-nomor="{{data.@column[17]}}"
                        data-infonoantri="{{data.@column[0]}}"
                        data-infokamar="{{data.@column[1]}}"
                        data-infonobed="{{data.@column[2]}}"
                        data-infonoreg="{{data.@column[3]}}"
                        data-infotanggal="{{data.@(column[4])_View}}"
                        data-infojam="{{data.@(column[5])_View}}"
                        data-infonrm="{{data.@column[6]}}"
                        data-infonamapasien="{{data.@column[7]}}"
                        data-infojeniskelamin="{{data.@column[8]}}"
                        data-infonamadokter="{{data.@column[9]}}"
                        data-infojeniskerjasama="{{data.@column[10]}}"
                        data-infonama_customer="{{data.@column[11]}}"
                        data-infonokartu="{{data.@column[12]}}"
                        data-infosectionname="{{data.@column[13]}}"
                        data-infosectionasalname="{{data.@column[14]}}"
                        data-infosudahperiksa="{{data.@column[15]}}"
                        data-infonobill="{{data.@column[16]}}"
                        data-infonomor="{{data.@column[17]}}"
                        data-infostatusbayar="{{data.@column[18]}}">

                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="xs-12">
                                    <a class="btn btn-success btndetailpatient" onclick="openmodal(this)">
                                        <span class="icon-user"></span>
                                    </a>
                                    <div class="cardpatienbody">
                                        <div class="bg-success cardpatientop">
                                            <div>
                                                <label ng-if="data.@(column[19])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                                                <label ng-if="data.@(column[15]) && !data.@(column[19])" class="label label-danger" title="Sudah Periksa">{{data.@column[0]}}</label>
                                                <label ng-if="!data.@(column[15]) && !data.@(column[19])" class="label label-default" title="Belum Periksa">{{data.@column[0]}}</label>
                                                @*<label ng-if="data.@(column[15])" class="label label-danger" title="Sudah Periksa">{{data.@column[0]}}</label>
                                                <label ng-if="!data.@(column[15])" class="label label-default" title="Belum Periksa">{{data.@column[0]}}</label>*@
                                                &nbsp;
                                                {{data.@column[6]}}
                                                &nbsp;
                                                <label ng-if="data.@(column[8]) == 'M'" class="fa fa-mars"></label>
                                                <label ng-if="data.@(column[8]) == 'F'" class="fa fa-venus"></label>
                                                <label ng-if="data.@(column[8]) != 'F' && data.@(column[8]) != 'M'" class="fa fa-genderless"></label>
                                            </div>
                                            <div>{{data.@column[7]}}</div>
                                        </div>
                                        <div class="cardpatienmiddle">
                                            <div>{{(data.@column[9] || '-' )}}</div>
                                            <label ng-if="data.@(column[18]) == 'Belum' && !data.@(column[15])" class="label label-danger">Belum Periksa</label>
                                            <label ng-if="data.@(column[18]) == 'Belum' && data.@(column[15])" class="label label-info">Sudah Periksa</label>
                                            <label ng-if="data.@(column[18]) == 'Sudah Bayar' && data.@(column[15])" class="label label-success">Sudah Bayar</label>
                                            <label ng-if="data.@(column[18]) == 'Sudah Bayar' && !data.@(column[15])" class="label label-warning">Sudah Bayar</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardfooter row">
                                <div class="col-xs-4" style="padding-left:0px; padding-right:2px">
                                    <a class="btn bg-success btn-block" title="Billing" onclick="openbilling(this)" ng-if="!data.@(column[19])">
                                        <span class="icon-price-tag"></span>
                                    </a>
                                    <a class="btn bg-success btn-block" disabled title="Billing" ng-if="data.@(column[19])">
                                        <span class="icon-price-tag"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4" style="padding-left:2px; padding-right:2px">
                                    <a class="btn btn-block col-xs-4 bg-success" title="Medical Record" onclick="openmedicalrecord(this)" ng-if="!data.@(column[19])">
                                        <span class="icon-notebook"></span>
                                    </a>
                                    <a class="btn btn-block col-xs-4 bg-success" disabled title="Medical Record" ng-if="data.@(column[19])">
                                        <span class="icon-notebook"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4" style="padding-left:2px; padding-right:0px">
                                    <a class="btn btn-block col-xs-4 bg-success" title="Batal" onclick="askbatalonclick(this)" ng-if="!data.@(column[19]) && !data.@(column[15])">
                                        <span class="icon-cancel-circle2"></span>
                                    </a>
                                    <a class="btn btn-block col-xs-4 bg-success" disabled title="Batal" ng-if="data.@(column[19]) && !data.@(column[15])">
                                        <span class="icon-cancel-circle2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 12;"></div>
    </div>
</div>