﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "RegistrasiPasienRJ";
    ViewBag.Title = "Registrasi Pasien";
    var tableId = $"table_{controllerName}";
    var item = new RegistrasiPasienViewModel();
    var columnCount = 31;
    var column = new string[columnCount];
    column[0] = nameof(item.NoAntri);
    column[1] = nameof(item.Kamar);
    column[2] = nameof(item.NoBed);
    column[3] = nameof(item.NoReg);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Jam);
    column[6] = nameof(item.NRM);
    column[7] = nameof(item.NamaPasien);
    column[8] = nameof(item.JenisKelamin);
    column[9] = nameof(item.NamaDOkter);
    column[10] = nameof(item.JenisKerjasama);
    column[11] = nameof(item.Nama_Customer);
    column[12] = nameof(item.NoKartu);
    column[13] = nameof(item.SectionName);
    column[14] = nameof(item.SectionAsalName);
    column[15] = nameof(item.SudahPeriksa);
    column[16] = nameof(item.NoBill);
    column[17] = nameof(item.Nomor);
    column[18] = nameof(item.StatusBayar);
    column[19] = nameof(item.Batal);
    column[20] = nameof(item.AlasanBatal);
    column[21] = nameof(item.Emoticon);
    column[22] = nameof(item.EstimasiSisa);
    column[23] = nameof(item.NoBuktiOrderPenunjang);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};

    var TipePelayanan = @Request.Cookies["TipeNamaPelayanan"].Value;
    var SectionID = @Request.Cookies["SectionIDPelayanan"].Value;
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 140px;
        white-space: nowrap;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        text-align:center;
        white-space: nowrap;
        width: 100px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        white-space: nowrap;
        width: 100px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        white-space: nowrap;
        width: 110px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        text-align:center;
        white-space: nowrap;
        width: 120px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6) {
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        white-space: nowrap;
        display:none;
        min-width: 140px;
    }
    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        white-space: nowrap;
        width: 80px;
    }
    @if (TipePelayanan == "PENUNJANG")
    {
        <text>
            #@tableId thead th:nth-child(9),
            #@tableId tbody td:nth-child(9){
                white-space: nowrap;
                min-width: 100px;
            }
         </text>
    }
    else
    {
        <text>
            #@tableId thead th:nth-child(9),
            #@tableId tbody td:nth-child(9){
                white-space: nowrap;
                width: 100px;
            }
         </text>
    }

    @if (TipePelayanan == "PENUNJANG")
    {
        <text>
    #@tableId thead th:nth-child(10),
    #@tableId tbody td:nth-child(10) {
        white-space: nowrap;
        text-align: right;
        width: 100px;
    }
        </text>
            }
            else
            {
        <text>
        #@tableId thead th:nth-child(10),
        #@tableId tbody td:nth-child(10){
            text-align:center;
            white-space: nowrap;
            width: 100px;
        }
        </text>
            }

        @if (TipePelayanan == "PENUNJANG")
    {
        <text>
            #@tableId thead th:nth-child(11),
            #@tableId tbody td:nth-child(11){
                white-space: nowrap;
                text-align:center;
                min-width: 100px;
            }
         </text>
    }
    #@tableId tbody td:nth-child(5){
        background-color: #9cf19c;
    }

    #@tableId tbody td.tidakpertama{
        background-color: #64B5F6;
    }
</style>

<div class="wall" ng-controller="table" id="list_pasien"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[20] = '0';
     filter[25] = '1';
     filter[21] = '';
     filter[19] = 'n';
     @(SectionID == "SEC003"? "" : "filter[25] = '1';")
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="filter[19]" ng-change="getdatas()">
                            <option value="">ALL</option>
                            <option value="y">BATAL</option>
                            <option value="n">TIDAK BATAL</option>
                        </select>
                    </div>
                    <div class="form-group" style="width:300px;">
                        <select class="form-control input-xs" id="d_select_dokterfilter" onchange="getvaluedokter()" style="width:300px;"></select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                    <div class="form-group">
                        <label id="dataregautorefreshlabel"></label>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Antri</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">NoReg</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[10]')" class="sorting">Tipe Pasien</th>
                        @if (TipePelayanan == "PENUNJANG")
                        {
                            <th ng-click="ordering($event,'@column[7]')" class="sorting">Ruangan Asal</th>
                        }
                        <th ng-click="ordering($event,'@column[22]')" class="sorting">Ekstimasi Sisa</th>
                        <th ng-click="ordering($event,'@column[18]')" class="sorting">Status Bayar</th>

                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        @if (TipePelayanan == "PENUNJANG")
                        {
                            <td>
                                <select id="formSectionAsal" onchange="filterSectionAsal()" class="form-control">
                                    @foreach (var x in StaticModel.ListSectionAsal)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                            </td>
                        }
                        <td><input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td>
                            <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Belum Periksa</option>
                                <option value="2">Sudah Periksa</option>
                                <option value="3">Sudah Bayar</option>
                                <option value="4">Sudah Bayar Belum Periksa</option>
                            </select>
                        </td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-id="{{data.@column[3]}}"
                        data-nomor="{{data.@column[17]}}"
                        data-infonoantri="{{data.@column[0]}}"
                        data-infokamar="{{data.@column[1]}}"
                        data-infonobed="{{data.@column[2]}}"
                        data-infonoreg="{{data.@column[3]}}"
                        data-infotanggal="{{data.@(column[4])_View}}"
                        data-infojam="{{data.@(column[5])_View}}"
                        data-infonrm="{{data.@column[6]}}"
                        data-infonamapasien="{{data.@column[7]}}"
                        data-infojeniskelamin="{{data.@column[8]}}"
                        data-infonamadokter="{{data.@column[9]}}"
                        data-infojeniskerjasama="{{data.@column[10]}}"
                        data-infonama_customer="{{data.@column[11]}}"
                        data-infonokartu="{{data.@column[12]}}"
                        data-infosectionname="{{data.@column[13]}}"
                        data-infosectionasalname="{{data.@column[14]}}"
                        data-infosudahperiksa="{{data.@column[15]}}"
                        data-infonobill="{{data.@column[16]}}"
                        data-infonomor="{{data.@column[17]}}"
                        data-infostatusbayar="{{data.@column[18]}}"
                        data-infobatal="{{data.@column[19]}}"
                        data-infoalasanbatal="{{data.@column[20]}}">

                        <td style="cursor:default">
                            <a onclick="openmodal(this)" class="text-info-600" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <span ng-if="!data.@(column[19])">|</span>
                            <a ng-if="!data.@(column[19])" class="text-success-600" onclick="openbilling(this)">
                                Billing
                            </a>
                            <span ng-if="!data.@(column[19])" class="hidden">|</span>
                            <a ng-if="!data.@(column[19])" class="text-teal-400 hidden" onclick="openmedicalrecord(this)">
                                EMR
                            </a>
                            <span ng-if="!data.@(column[19]) && !data.@(column[15])">|</span>
                            <a ng-if="!data.@(column[19]) && !data.@(column[15])" class="text-danger-400" onclick="askbatalonclick(this)">
                                Batal
                            </a>
                            @if (SectionID == "SEC005")
                            { 
                                <a href="@Url.Action("ExportPDF", "OrderPenunjang")?nobukti={{data.@column[23]}}" target="_blank" class="text-success">
                                    <i class="icon-printer position-right"></i>
                                </a>
                            }
                            </td>
                        <td>
                            <label ng-if="data.@(column[19])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                            <label ng-if="data.@(column[15]) && !data.@(column[19])" class="label label-danger" title="Sudah Periksa">{{data.@column[0]}}</label>
                            <label ng-if="!data.@(column[15]) && !data.@(column[19])" class="label label-default" title="Belum Periksa">{{data.@column[0]}}</label>
                        </td>
                        <td>
                            <a class="text-teal-600"
                               ng-if="data.@(column[21])"
                               ng-click="detail_param({id : data.@column[6]}, '@Url.Action("PasienBermasalah","PasienKhusus")')" title="Status">
                                {{data.@(column[21])}}
                            </a>
                            {{data.@column[3]}}
                        </td>
                        <td ng-if="data.PenandaKunjunganPertanggal === 'Pertama'">{{data.@(column[4])_View}}</td>
                        <td class="tidakpertama" title="{{ data.PenandaKunjunganPertanggal }}" ng-if="data.PenandaKunjunganPertanggal != 'Pertama'">{{data.@(column[4])_View}}</td>
                        <td>
                            <label ng-if="data.@(column[8]) == 'M'" class="text-primary fa fa-mars"></label>
                            <label ng-if="data.@(column[8]) == 'F'" class="text-danger fa fa-venus"></label>
                            <label ng-if="data.@(column[8]) != 'F' && data.@(column[8]) != 'M'" class="text-warning genderless"></label>
                            &nbsp;
                            {{data.@column[6]}}
                        </td>
                        <td>{{data.@column[7]}}</td>
                        <td>{{data.@column[9]}}</td>
                        <td class="text-center">{{data.@column[10]}}</td>
                        @if (TipePelayanan == "PENUNJANG")
                        {
                            <td>{{data.@column[14]}}</td>
                        }
                        <td class="text-right">Rp. {{data.@(column[22])_View}} -</td>
                        <td>
                            <label ng-if="data.@(column[18]) == 'Belum' && !data.@(column[15])" class="label label-danger">Belum Periksa</label>
                            <label ng-if="data.@(column[18]) == 'Belum' && data.@(column[15])" class="label label-info">Sudah Periksa</label>
                            <label ng-if="data.@(column[18]) == 'Sudah Bayar' && data.@(column[15])" class="label label-success">Sudah Bayar</label>
                            <label ng-if="data.@(column[18]) == 'Sudah Bayar' && !data.@(column[15])" class="label label-warning">Sudah Bayar</label>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
    @if(SectionID == "SEC003"){
        <text>
            angular.element(document).ready(function () {
                var sc = angular.element('#@tableId').scope();
                sc.filter[25] = "";
                sc.getdatas();
             });
        </text>
    }


    @if (TipePelayanan == "PENUNJANG")
    {
        <text>
            $("#formSectionAsal").select2();
            filterSectionAsal();
            function filterSectionAsal() {
                var data = $("#formSectionAsal").val();
                angular.element('#@tableId').scope().filter[30] = data;
                angular.element('#@tableId').scope().getdatas();
    }
        </text>
    }

</script>


<script>
    function getvaluedokter() {
        var data = $('#d_select_dokterfilter').val();
        angular.element('#list_pasien').scope().filter[26] = data;
        angular.element('#list_pasien').scope().getdatas();
    }

    $('#d_select_dokterfilter').select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'DokterID',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
        },
        placeholder: "",
        allowClear: true
    });
</script>