﻿@using Pelayanan.Models
@model FIlmRadiologiViewDetail

@{
    var controllerName = "FilmRadiologi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_pmknfilmrad = $"frm_table_detailPemakaianFilmRad";
    int d_idx_pmknfilmrad = 0;
    var d_trg_pmknfilmrad = $"input_target_detailPemakaianFilmRad";
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            d_idx_pmknfilmrad = Model.Detail_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_pmknfilmrad thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(1),
    #d_tbl_pmknfilmrad tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(2),
    #d_tbl_pmknfilmrad tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(3),
    #d_tbl_pmknfilmrad tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(4),
    #d_tbl_pmknfilmrad tbody td:nth-child(4) {
        display: none;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(5),
    #d_tbl_pmknfilmrad tbody td:nth-child(5) {
        width: 180px;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(6),
    #d_tbl_pmknfilmrad tbody td:nth-child(6) {
        width: 130px;
    }

    #d_tbl_pmknfilmrad thead th:nth-child(7),
    #d_tbl_pmknfilmrad tbody td:nth-child(7) {
        width: 130px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiPemakaianFilmRd" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_pmknfilmrad">
                                    <div class="table-responsive">
                                        <table id="d_tbl_pmknfilmrad" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_pmknfilmrad')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    @*<th>No</th>*@
                                                    <th>Nama Film</th>
                                                    <th>Jumlah</th>
                                                    <th>Keterangan Film</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.Detail_List != null)
                                                    {
                                                        for (var i = 0; i < Model.Detail_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.Detail_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.Detail_List[i].Model.ID, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.Detail_List[i].Model != null)
                                                                    {
                                                                        if (Model.Detail_List[i].Model.NamaFilm != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.Detail_List[i].Model.NamaFilm,
                                                                                Text = Model.Detail_List[i].Model.NamaFilmNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.NamaFilm, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.Detail_List[i].Model.Jumlah, new { htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }})
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.ListKeteranganFilm;
                                                                    var item_1 = Model.Detail_List[i].Model.KeteranganFilm;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.Detail_List[i].Model.KeteranganFilm).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.Detail_List[i].Model.KeteranganFilm,
                                                                    m_1, new { @class = "form-control input-sm" })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                @*<a href="@Url.Action("ExportPDFRiwayatAlergi", new { noreg = Model.NoReg, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                    Print PDF
                                </a>*@
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.Detail_List != null)
        {
            for (var i = 0; i < Model.Detail_List.Count; i++)
            {

                    @:customdetailPemakaianFilm_Detail(@i, { target: $('#d_tbl_pmknfilmrad thead a i')[0] }, '@d_trg_pmknfilmrad', false);
            }
        }
    }

    function customdetailPemakaianFilm_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiPemakaianFilmRd #Detail_List_' + index_detail + '__Model_NamaFilm';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("ListFilmRadiologi", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'KodeFilm',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.KodeFilm, text: value.NamaFilm } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

     function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_pmknfilmrad') {
            customdetailPemakaianFilm_Detail(index_detail, _this, inputtarget, autofocus);
        } 
    }
</script>


@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@d_trg_pmknfilmrad" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.ID, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.NamaFilm,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Jumlah, new
       {
           @class = "form-control input-sm text-right",
           type = "number",
           Min = 1,
           Value = 1,
       })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.KeteranganFilm,
      StaticModel.ListKeteranganFilm, new { @class = "form-control input-sm" })
    </div>


</div>

<!--  JS Skor  -->
<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

    function oncompletecreatealergiobat(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        /* $('#aews').click();*/
    }

</script>


