﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "InformasiRegisterPoli";
    ViewBag.Title = "Informasi Register Poli";
    var tableId = $"table_{controllerName}";
    var item = new InformasiRegisterPoliViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    //Noreg-Tanggal-Nrm-NamaPasien-JenisKelamin-Alamat-TipePasien-Dokter-StatusPeriksa
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.NamaPasien);
    column[4] = nameof(item.JenisKelamin);
    column[5] = nameof(item.Alamat);
    column[6] = nameof(item.JenisKerjasama);
    column[7] = nameof(item.Nama_Supplier);
    column[8] = nameof(item.SudahPeriksa);
    column[9] = nameof(item.SectionName);

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<style>
    #@tableId thead th,
    #@tableId tbody td{
        white-space: nowrap;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        @*Noreg-Tanggal-Nrm-NamaPasien-JenisKelamin-Alamat-TipePasien-Dokter-StatusPeriksa*@
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">Poli</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Gender</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Tipe Pasien</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[8]')" class="sorting">Status Periksa</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[1]" type="date" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td>
                            <select ng-model="filter[4]" class="form-control input-xs" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="M">Laki-Laki</option>
                                <option value="F">Perempuan</option>
                            </select>
                        </td>
                        <td><input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td>
                            <select ng-model="filter[8]" class="form-control input-xs" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Sudah</option>
                                <option value="0">Belum</option>
                            </select>
                        </td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[9])}}</td>
                        <td class="text-center">{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>

                        <td class="text-center">
                            <text ng-if="data.@(column[4]) == 'M'">Laki-Laki</text>
                            <text ng-if="data.@(column[4]) == 'F'">Perempuan</text>
                        </td>

                        <td>{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td>{{data.@(column[7])}}</td>

                        <td class="text-center">
                            <text ng-if="data.@(column[8])">Sudah</text>
                            <text ng-if="!data.@(column[8])">Belum</text>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>