﻿@using Pelayanan.Models
@model ResepOptikViewModel
@{
    var controllerName = "Resep";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("CreateOptik", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SectionID, new { Value = ViewBag.Section })
        @Html.HiddenFor(model => model.NoReg, new { Value = ViewBag.Noreg })

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dokter</label>
                            @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.NamaDokter, Value = ViewBag.DokterID, Selected = true }
                            }, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Jenis Lensa</label>
                            @Html.DropDownListFor(model => model.JenisLensa, StaticModel.ListJenisLensa(), new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Addition</label>
                            @Html.TextBoxFor(model => model.Addition, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Addition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Pupil</label>
                            @Html.TextBoxFor(model => model.PupilDistance, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PupilDistance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Warna Kaca</label>
                            @Html.TextBoxFor(model => model.WarnaKaca, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.WarnaKaca, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">OD</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Spheris</label>
                                    @Html.TextBoxFor(model => model.OD_Spheris, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OD_Spheris, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cylinder</label>
                                    @Html.TextBoxFor(model => model.OD_Cylinder, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OD_Cylinder, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prisma</label>
                                    @Html.TextBoxFor(model => model.OD_Prisma, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OD_Prisma, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Axis</label>
                                    @Html.TextBoxFor(model => model.OD_Axis, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OD_Axis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">OS</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Spheris</label>
                                    @Html.TextBoxFor(model => model.OS_Spheris, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OS_Spheris, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cylinder</label>
                                    @Html.TextBoxFor(model => model.OS_Cylinder, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OS_Cylinder, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prisma</label>
                                    @Html.TextBoxFor(model => model.OS_Prisma, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OS_Prisma, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Axis</label>
                                    @Html.TextBoxFor(model => model.OS_Axis, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OS_Axis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }
</div>

<script>
    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>
