﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "StatusKamar";
    ViewBag.Title = "Status Kamar";
    var tableId = $"table_{controllerName}";
    var item = new StatusKamarViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.SectionID);
    column[1] = nameof(item.NoKamar);
    column[2] = nameof(item.NoBed);
    column[3] = nameof(item.NoLantai);
    column[4] = nameof(item.NamaKelas);
    column[5] = nameof(item.Status);
    column[6] = nameof(item.SectionName);

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<style>
    #table_StatusKamar h5,
    #table_StatusKamar h6{
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[10]=true;
     sort = '@column[1]';
     sorttype = 'desc';">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <a data-toggle="modal" data-target="#modalinfostatuskamar"><i class="icon icon-info22"></i></a>
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        @{ 
                            var sectionri = StaticModel.ListSectionRI;
                            sectionri.Insert(0,  new SelectListItem() { Text = "All", Value = "" });
                        }
                        @Html.DropDownList("sectionri", sectionri, new { @class="form-control", ng_model="filter[0]", ng_change="getdatas()" })
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div id="@tableId" class="loading {{ loading ? '' : 'hide' }}">
            <div colspan="50">
                <div class="bubblingG center">
                    <span id="bubblingG_1"></span>
                    <span id="bubblingG_2"></span>
                    <span id="bubblingG_3"></span>
                </div>
            </div>
        </div>
        <div class="{{ loading ? 'hide' : '' }}">
            <br />
            <div class="row" ng-repeat="(key, values) in datas | groupBy: 'SectionName'">
                <div class="col-sm-12">
                    <div class="col-md-12">
                        <div class="panel bg-primary"><div class="panel-heading text-center">{{ key }}</div></div>
                    </div>
                    <div class="col-md-2" ng-repeat="data in values">
                        <div ng-click="edit_param({ nobed : data.@column[2], nokamar : data.@column[1]}, '@Url.Action("Edit")')"
                             class="btn btn-block panel bg-{{ data.Status == 'Avalaible' ? 'green' : data.Status == 'Booking' ? 'warning' : data.Status == 'Cleaning' ? 'info' : data.Status == 'Check Out' ? 'grey' : data.Status == 'Filled' ? 'warning' : data.Status == 'Renovation' ? 'brown' :data.Status == 'Vacant Dirty' ? 'purple' : 'default' }}">
                            <h6>{{data.@(column[1])}}</h6>
                            <h5>{{data.@(column[2])}}</h5>
                            <h6>{{data.@(column[4])}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers hide">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10000; getdatas();"></div>
    </div>
</div>

<div class="modal fade" id="modalinfostatuskamar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Status</th>
                            <th>Warna</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">AV</td>
                            <td>Avalaible</td>
                            <td><div class="progress"><div class="progress-bar bg-green" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">BO</td>
                            <td>Booking</td>
                            <td><div class="progress"><div class="progress-bar bg-warning" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">CL</td>
                            <td>Cleaning</td>
                            <td><div class="progress"><div class="progress-bar bg-info" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">CO</td>
                            <td>Check Out</td>
                            <td><div class="progress"><div class="progress-bar bg-grey" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">FD</td>
                            <td>Filled</td>
                            <td><div class="progress"><div class="progress-bar bg-warning" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">RV</td>
                            <td>Renovation</td>
                            <td><div class="progress"><div class="progress-bar bg-brown" style="width: 100%"></div></div></td>
                        </tr>
                        <tr>
                            <td class="text-center">VD</td>
                            <td>Vacant Dirty</td>
                            <td><div class="progress"><div class="progress-bar bg-purple" style="width: 100%"></div></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
</script>