﻿@using Pelayanan.Models
@model KontrolPasienViewModel
@{
    var controllerName = "KontrolPasien";
    ViewBag.Title = "Kontrol Pasien";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== MODAL Jadwal Praktek
    var target_jadwal = new
    {
        t0 = $"#{nameof(Model.Kontrol_tgl)}",
        t1 = $"#{nameof(Model.SectionNama)}",
        t2 = $"#{nameof(Model.NamaDOkter)}",
        t3 = $"#{nameof(Model.KeteranganWaktu)}",
        t4 = $"#{nameof(Model.SectionID)}",
        t5 = $"#{nameof(Model.DokterID)}",
        t6 = $"#{nameof(Model.WaktuID)}",
    };
    var modalid_jadwal = $"modal_{formName}_{nameof(Model.SectionNama)}";
    var modalName_jadwal = "Jadwal Praktek";
    #endregion
}

    <div class="wall" ng-controller="form">
        @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName, autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.NoReg, new { Value = ViewBag.NoReg })
            @Html.HiddenFor(x => x.SectionAsalID, new { Value = ViewBag.Section })
            @Html.HiddenFor(x => x.DokterID)

            <div class="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Diagnosa Akhir</label>
                            @Html.TextAreaFor(model => model.DiagnosaAkhir, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaAkhir, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Indikasi Kontrol</label>
                            @Html.TextAreaFor(model => model.IndikasiKontrol, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IndikasiKontrol, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Obat</label>
                            @Html.TextAreaFor(model => model.Obat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Obat, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Catatan</label>
                            @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(model => model.JadwalManual, new { onchange = "jadwalmanualonchange();" })
                                Jadwal Manual
                            </label>
                            @Html.ValidationMessageFor(model => model.JadwalManual, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Section</label>
                            @Html.DropDownListFor(model => model.SectionID, StaticModel.ListSectionJadwal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Section</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button data-toggle="modal" data-target="#@modalid_jadwal"
                                            class="btn btn-success input-lookup" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                                @Html.TextBoxFor(model => model.SectionNama, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            @Html.ValidationMessageFor(model => model.SectionNama, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Dokter</label>
                            @Html.DropDownListFor(model => model.DokterID_Manual, new List<SelectListItem>(), new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.DokterID_Manual, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Dokter</label>
                            @Html.TextBoxFor(model => model.NamaDOkter, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NamaDOkter, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tanggal Kontrol</label>
                                    @Html.TextBoxFor(model => model.Kontrol_tgl, new { @class = "form-control", type = "date", @readonly = "readonly", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Kontrol_tgl, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Waktu</label>
                                    @Html.DropDownListFor(model => model.WaktuID, StaticModel.ListWaktuPraktek, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.WaktuID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Waktu</label>
                                    @Html.TextBoxFor(model => model.KeteranganWaktu, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.KeteranganWaktu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        }
    </div>

<script>
    function jadwalmanualonchange(){
        if ($("#@formName #JadwalManual").is(":checked")) {
            $("#@formName #SectionID").closest('.form-group').removeClass("hide");
            $("#@formName #SectionNama").closest('.form-group').addClass("hide");
            $("#@formName #WaktuID").closest('.form-group').removeClass("hide");
            $("#@formName #NamaDOkter").closest('.form-group').addClass("hide");
            $("#@formName #DokterID_Manual").closest('.form-group').removeClass("hide");
            $("#@formName #KeteranganWaktu").closest('.form-group').addClass("hide");
            $("#@formName #Kontrol_tgl").removeAttr("readonly");
        } else {
            $("#@formName #SectionID").closest('.form-group').addClass("hide");
            $("#@formName #SectionNama").closest('.form-group').removeClass("hide"); 1
            $("#@formName #DokterID_Manual").closest('.form-group').addClass("hide");
            $("#@formName #NamaDOkter").closest('.form-group').removeClass("hide");
            $("#@formName #WaktuID").closest('.form-group').addClass("hide");
            $("#@formName #KeteranganWaktu").closest('.form-group').removeClass("hide");
            $("#@formName #Kontrol_tgl").attr("readonly","readonly");
        }
        $("#@formName #SectionID").val('');
        $("#@formName #SectionNama").val('');
        $("#@formName #WaktuID").val('');
        $("#@formName #NamaDOkter").val('');
        $("#@formName #DokterID_Manual").val('');
        $("#@formName #KeteranganWaktu").val('');
        $("#@formName #Kontrol_tgl").val('');
        $("#@formName #WaktuID").trigger('change');
    }

    jadwalmanualonchange();
    $("#@formName #WaktuID").select2();

    $('#@formName #DokterID_Manual').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

<!-- Modal Look kamar -->
@Html.Partial("_LookUp_JadwalPraktek", Model, new ViewDataDictionary {
    { "target", target_jadwal },
    { "modalid", modalid_jadwal },
    { "targetForm", formName },
    { "modalName", modalName_jadwal },
    { "headerisajax", ViewBag.IsAjaxRequest }
})