﻿@using Pelayanan.Models
@model KontrolPasienViewModel
@{
    var controllerName = "KontrolPasien";
    ViewBag.Title = "Kontrol Pasien";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="wall" ng-controller="form">
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Diagnosa Akhir</label>
                    @Html.TextAreaFor(model => model.DiagnosaAkhir, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="form-group">
                    <label>Indikasi Kontrol</label>
                    @Html.TextAreaFor(model => model.IndikasiKontrol, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label>Obat</label>
                    @Html.TextAreaFor(model => model.Obat, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label>Catatan</label>
                    @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        @Html.DisplayFor(model => model.JadwalManual)
                        Jadwal Manual
                    </label>
                </div>
                <div class="form-group">
                    <label>Section</label>
                    @Html.TextBoxFor(model => model.SectionNama, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label>Dokter</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.DokterID, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.NamaDOkter, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tanggal Kontrol</label>
                            @Html.TextBoxFor(model => model.Kontrol_tgl, new { @class = "form-control", type = "date", @readonly = "readonly", Value = Model.Kontrol_tgl == null ? "" : Model.Kontrol_tgl.Value.ToString("yyyy-MM-dd") })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Waktu</label>
                            @Html.TextBoxFor(model => model.KeteranganWaktu, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>