﻿@using Pelayanan.Models
@model TransferRIViewModel
@{
    var controllerName = "TransferRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL KAMAR
    var targetkamar = new
    {
        t0 = $"#{nameof(Model.NoKamar)}",
        t1 = $"#{nameof(Model.NoBed)}"
    };
    var modalidkamar = $"modal_Kamar";
    var modalNameKamar = $"Lookup Kamar";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.SectionAsalID)
        if (Model.StatusTransfer == false)
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kelas Pelayanan</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.KelasPelayanan, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KelasPelayanan, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-1 col-md-offset-1  control-label">Kelas Asal</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.KelasID, StaticModel.SelectListKelasPertanggungan, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KelasID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 label-checkbox col-md-offset-2" for="TitipKelas">
                                    @Html.CheckBoxFor(model => model.Titip) Titip Kelas
                                </label>
                                <label class="col-md-8 label-checkbox">
                                    @Html.CheckBoxFor(model => model.RawatGabung, new { @class = "pointer" })
                                    Rawat Gabung
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Section</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.SectionID, StaticModel.ListSectionMutasiRI, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-md-1 col-md-offset-1 control-label">Dokter</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.Dokter_ID, new List<SelectListItem>(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Dokter_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kamar</label>
                                <div class="col-md-4 margin-bottom-md">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button data-toggle="modal" onclick="changelookupkamarmodel()" data-target="#@modalidkamar"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        @Html.EditorFor(model => model.NoKamar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.NoKamar, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <label class="col-md-1 col-md-offset-1 control-label">No Bed</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NoBed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-md-2">No SEP</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.NoSep, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.NoSep, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button">
                                                Create SEP
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        }
        else
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kelas Pelayanan</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.KelasPelayanan_Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <label class="col-md-1 col-md-offset-1  control-label">Kelas Asal</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.KelasAsal_Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 label-checkbox col-md-offset-2" for="TitipKelas">
                                    @Html.CheckBoxFor(model => model.Titip, new { @disabled = "disabled" }) Titip Kelas
                                </label>
                                <label class="col-md-8 label-checkbox">
                                    @Html.CheckBoxFor(model => model.RawatGabung, new { @class = "pointer", @disabled="disabled" })
                                    Rawat Gabung
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Section</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SectionTujuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <label class="col-md-1 col-md-offset-1 control-label">Dokter</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NamaDokter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kamar</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Kamar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <label class="col-md-1 col-md-offset-1 control-label">No Bed</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NoBed, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>
<!-- Modal Look Up Kamar -->
@Html.Partial("_LookUpKamar", Model, new ViewDataDictionary {
    { "target", targetkamar },
    { "modalid", modalidkamar },
    { "targetForm", targetForm },
    { "modalName", modalNameKamar },
    { "headerisajax", false }
})
<script>
    $(document).ready(function () {
        $('.icon-paragraph-justify3').click();
    });

    $('#@formName #SectionID').select2();

    $('#@formName #Dokter_ID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 10,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '','','']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#@formName #SectionID').on('change', function () {
        checkKamar();
    });

    function checkKamar(){
        angular.element('#@modalidkamar').scope().filter[2] = $('#SectionID option:selected').val();
        angular.element('#@modalidkamar').scope().getdatas();
    }

    function changelookupkamarmodel() {
        var c = angular.element('#@modalidkamar');
        c.scope().filter[2] = $('#@nameof(Model.SectionID)').val();
        c.scope().filter[4] = $('#@nameof(Model.KelasPelayanan)').val();
        c.scope().getdatas();
        if ($('#@nameof(Model.RawatGabung)').is(':checked') == true) {
            var rawatgabung = '1';
        } else {
            var rawatgabung = '0';
        }
        c.scope().filter[5] = rawatgabung;
    }
</script>
