﻿@using Pelayanan.Models
@model DietViewModel
@{
    ViewBag.Title = "Diet";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>NoBukti</dt>
                <dd>@Html.DisplayFor(model => model.NoBukti)</dd>

                <dt>No Reg</dt>
                <dd>@Html.DisplayFor(model => model.NoReg)</dd>

                <dt>Tanggal</dt>
                <dd>@Html.DisplayFor(model => model.TglInput_View) @Model.JamInput.TimeOfDay.ToString("hh"):@Model.JamInput.TimeOfDay.ToString("mm")</dd>

                <dt>NRM</dt>
                <dd>
                    @Html.DisplayFor(model => model.NRM)
                </dd>

                <dt>Nama Pasien</dt>
                <dd>@Html.DisplayFor(model => model.NamaPasien)</dd>

            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>No Kamar</dt>
                <dd>@Html.DisplayFor(model => model.NoKamar)</dd>

                <dt>Nama Kelas</dt>
                <dd>@Html.DisplayFor(model => model.NamaKelas)</dd>

                <dt>Start Date</dt>
                <dd>@Model.StartDate.ToString("dd/MM/yyyy") @Model.StartDate.TimeOfDay.ToString("hh"):@Model.StartDate.TimeOfDay.ToString("mm")</dd>

                <dt>End Date</dt>
                <dd>@Model.EndDate.ToString("dd/MM/yyyy") @Model.EndDate.TimeOfDay.ToString("hh"):@Model.EndDate.TimeOfDay.ToString("mm")</dd>

                <dt>Dokter</dt>
                <dd>@Html.DisplayFor(model => model.NamaDOkter)</dd>

            </dl>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>

                <!-- Thead -->
                <th>ID</th>
                <th>Shift</th>
                <th>Makanan</th>
                <th>Diet</th>
                <th class="text-center">Jumlah</th>
                <th>Keterangan</th>

            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                if (Model.Detail_List != null)
                {
                    for (var i = 0; i < Model.Detail_List.Count(); i++)
                    {
            <tr>
                <td>@Model.Detail_List[i].Model.IDDiet</td>
                <td>@Model.Detail_List[i].Model.Shift</td>
                <td>@Model.Detail_List[i].Model.Nama</td>
                <td>@Model.Detail_List[i].Model.NamaDiet</td>
                <td class="text-center">@Model.Detail_List[i].Model.Jumlah</td>
                <td>@Model.Detail_List[i].Model.Keterangan</td>
            </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>