﻿@using Pelayanan.Models
@model DietViewModel
@{
    var controllerName = "Diet";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Edit", Value = "active" }
    };

    #region Detail
    var detail_DietDetail = new DietDetailViewModel();
    var table_detail_DietDetail = $"frm_{controllerName}_table_detail_DietDetail";
    var target_inputDetail_DietDetail = $"inputDetail{controllerName}_DietDetail";
    #endregion

    #region ==== MODAL Diet
    var targetForm = formName;
    var target_diet = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_DietDetail.IDDiet)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_DietDetail.NamaDiet)}",
    };
    var modalName_diet = "diet";
    var modalid_m_diet = $"modal_{formName}_{nameof(detail_DietDetail.IDDiet)}";
    #endregion

    int detail_DietDetail_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_DietDetail_index = Model.Detail_List.Count();
        }
    }

    var lsdes = StaticModel.ListShiftDeskripsi;
    var lspro = StaticModel.ListDaftarDiet;
    var lsmaka = StaticModel.ListDaftarMakanan;
}

<style>
    #@table_detail_DietDetail thead th:nth-child(1),
    #@table_detail_DietDetail tbody td:nth-child(1){
        text-align:center;
        width: 30px;
        display:none;
    }

    #@table_detail_DietDetail thead th:nth-child(2),
    #@table_detail_DietDetail tbody td:nth-child(2){
        text-align:center;
        width: 30px;
    }

    #@table_detail_DietDetail thead th:nth-child(3),
    #@table_detail_DietDetail tbody td:nth-child(3){
        display:none;
    }

    #@table_detail_DietDetail thead th:nth-child(4),
    #@table_detail_DietDetail tbody td:nth-child(4){
        width:150px;
    }

    #@table_detail_DietDetail thead th:nth-child(5),
    #@table_detail_DietDetail tbody td:nth-child(5){
        width:200px;
        text-align:center;
    }

    #@table_detail_DietDetail thead th:nth-child(6),
    #@table_detail_DietDetail tbody td:nth-child(6){
        width:200px;
    }

    #@table_detail_DietDetail thead th:nth-child(7),
    #@table_detail_DietDetail tbody td:nth-child(7){
        width:100px;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoBukti)

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">

                        <dt>NoBukti</dt>
                        <dd>@Html.DisplayFor(model => model.NoBukti)</dd>

                        <dt>No Reg</dt>
                        <dd>@Html.DisplayFor(model => model.NoReg)</dd>

                        <dt>Tanggal</dt>
                        <dd>@Html.DisplayFor(model => model.TglInput_View) @Model.JamInput.TimeOfDay.ToString("hh"):@Model.JamInput.TimeOfDay.ToString("mm")</dd>

                        <dt>NRM</dt>
                        <dd>
                            @Html.DisplayFor(model => model.NRM)
                        </dd>

                        <dt>Nama Pasien</dt>
                        <dd>@Html.DisplayFor(model => model.NamaPasien)</dd>

                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">

                        <dt>No Kamar</dt>
                        <dd>@Html.DisplayFor(model => model.NoKamar)</dd>

                        <dt>Nama Kelas</dt>
                        <dd>@Html.DisplayFor(model => model.NamaKelas)</dd>

                        <dt>Start Date</dt>
                        <dd>@Model.StartDate.ToString("dd/MM/yyyy") @Model.StartDate.TimeOfDay.ToString("hh"):@Model.StartDate.TimeOfDay.ToString("mm")</dd>

                        <dt>End Date</dt>
                        <dd>@Model.EndDate.ToString("dd/MM/yyyy") @Model.EndDate.TimeOfDay.ToString("hh"):@Model.EndDate.TimeOfDay.ToString("mm")</dd>

                        <dt>Dokter</dt>
                        <dd>@Html.DisplayFor(model => model.NamaDOkter)</dd>

                    </dl>
                </div>
            </div>

            <div class="form-group">
                <div id="panel_detil_DietDetail_@formName" class="detail" data-index-detail="@detail_DietDetail_index">
                    <div class="table-responsive">
                        <table id="@table_detail_DietDetail" class="table table-hover table-bordered">
                            <thead>
                                <tr>

                                    <!-- Thead -->
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center hidden">
                                        <a class="text-success-600" title="Semua Barang"
                                           data-toggle="modal" data-target="#@modalid_m_diet">
                                            <i class="icon-search4"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>Shift</th>
                                    <th>Makanan</th>
                                    <th>Diet</th>
                                    <th>Jumlah</th>
                                    <th>Keterangan</th>

                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    if (Model.Detail_List != null)
                                    {
                                        for (var i = 0; i < Model.Detail_List.Count(); i++)
                                        {
                                <tr>
                                    <!-- Check -->
                                    <td><input type="checkbox" /></td>

                                    <!-- Delete button -->
                                    <td class="hidden"><a class="text-danger-600" onclick="removetr(this)"><i class="icon-trash"></i></a></td>

                                    <!-- Remove Status -->
                                    <td>
                                        @Html.EditorFor(model => model.Detail_List[i].Remove, new { htmlAttributes = new { @class = " disable-reset auto-uncheck" } })
                                    </td>


                                    <td>
                                        @{
                                            var _lsdes = new List<SelectListItem>();
                                            foreach (var x in lsdes)
                                            {
                                                if (x.Value == Model.Detail_List[i].Model.Shift)
                                                {
                                                    _lsdes.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                        Selected = true
                                                    });
                                                }
                                                else
                                                {
                                                    _lsdes.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                    });
                                                }
                                            }
                                        }
                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.KodeShift, _lsdes, new
                                       {
                                           @class = "form-control input-sm",
                                           @disabled = "disabled"
                                       })
                                        @Html.HiddenFor(model => model.Detail_List[i].Model.Shift)
                                    </td>

                                    <td>
                                        @{
                                            var _lsmaka = new List<SelectListItem>();
                                            foreach (var x in lsmaka)
                                            {
                                                if (x.Value == Model.Detail_List[i].Model.Kode_Makanan)
                                                {
                                                    _lsmaka.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                        Selected = true
                                                    });
                                                }
                                                else
                                                {
                                                    _lsmaka.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                    });
                                                }
                                            }
                                        }
                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.Kode_Makanan, _lsmaka, new
                                        {
                                            @class = "form-control input-sm"
                                        })
                                    </td>

                                    <td>
                                        @{
                                            var _lspro = new List<SelectListItem>();
                                            foreach (var x in lspro)
                                            {
                                                if (x.Value == Model.Detail_List[i].Model.IDDiet)
                                                {
                                                    _lspro.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                        Selected = true
                                                    });
                                                }
                                                else
                                                {
                                                    _lspro.Add(new SelectListItem()
                                                    {
                                                        Value = x.Value,
                                                        Text = x.Text,
                                                    });
                                                }
                                            }
                                        }
                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.IDDiet, _lspro, new
                                        {
                                            @class = "form-control input-sm"
                                        })
                                    </td>

                                    @*<td>
             @Html.EditorFor(model => model.Detail_List[i].Model.NamaDiet, new
        {
            htmlAttributes = new
            {
                @class = "form-control input-sm",
                @readonly = "readonly"
            }
        })
         </td>*@

                                    <td>
                                        @Html.TextBoxFor(model => model.Detail_List[i].Model.Jumlah, new
                                        {
                                            @class = "form-control input-sm text-right",
                                            @type = "number",
                                            @value = 0
                                        })
                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.Detail_List[i].Model.Keterangan, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control input-sm"
                                            }
                                        })
                                    </td>

                                </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-floppy-disk position-right"></i></button>
                </div>
            </div>
        </div>
    }
</div>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<script>

</script>

<div id="@target_inputDetail_DietDetail" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.IDDiet, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NamaDiet, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Shift, StaticModel.ListShiftDeskripsi, new
   {
       @class = "form-control input-sm",
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Jumlah, new
   {
       @class = "form-control input-sm text-right",
       @type = "number",
       @Value = 1
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Keterangan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_Diet", Model, new ViewDataDictionary {
    { "target", target_diet },
    { "modalid", modalid_m_diet },
    { "targetForm", targetForm },
    { "sectionid", ViewBag.Section },
    { "modalName", modalName_diet },
    { "headerisajax", false },
    { "targetTable", table_detail_DietDetail },
    { "targetInputTable", target_inputDetail_DietDetail },
    { "showdefaultlokasi", true },
})