﻿@using Pelayanan.Models
@model MemoPenunjangViewModel
@{
    var controllerName = "MemoPenunjang";
    ViewBag.Title = "Memo Penunjang";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SectionID, new { Value = ViewBag.Section })
        @Html.HiddenFor(x => x.NoReg, new { Value = ViewBag.NoReg })
        @Html.HiddenFor(x => x.Nomor, new { Value = ViewBag.Nomor })

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Section Tujuan</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SectionTujuanID, StaticModel.ListSectionPenunjang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SectionTujuanID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dokter</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.NamaDokter, Value = ViewBag.DokterID, Selected = true }
                            }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Memo</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Memo, new { @class = "form-control", @required= "required" })
                    @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('#@formName #SectionTujuanID').select2();
    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>