﻿@using Pelayanan.Models
@model COBViewModel
@{
    var controllerName = "COB";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== MODAL Kartu
    var targetkartu = new
    {
        t0 = $"#{nameof(Model.PertanggunganKeduaNoKartu)}",
        t4 = $"#{nameof(Model.KelasID)}",
        t1 = $"#{nameof(Model.NamaAnggota)}"
    };
    var modalnomoranggota = $"modal_Kartu";
    var modalNameKartu = $"Lookup Anggota";
    var targetFormkartu = formName;
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate_tipe(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.PertanggunganKeduaCustomerKerjasamaID)
        @Html.HiddenFor(model => model.KelasID)
        <div>
            <div class="form-group">
                <label class="col-md-3">No Reg / NRM</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Pasien</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-3 control-label">Perusahaan</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.PertanggunganKeduaCompanyID, Model.PertanggunganKeduaCompanyID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                    { new SelectListItem() { Value = Model.PertanggunganKeduaCompanyID.ToString(), Text = Model.NamaPerusahaan.ToString() } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PertanggunganKeduaCompanyID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline">
                        @Html.CheckBoxFor(model => model.AnggotaBaru, new { onclick = "anggotabaru(this)" })
                        Anggota Baru
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">No Kartu Anggota</label>
                <div class="col-md-5 margin-bottom-md">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button data-toggle="modal" data-target="#@modalnomoranggota"
                                    class="btn btn-success input-lookup" type="button" id="btnAnggota">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                        @Html.EditorFor(model => model.PertanggunganKeduaNoKartu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PertanggunganKeduaNoKartu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" onclick="fm_edit_anggota()" class="btn btn-success btn-block"><i class="icon-pencil3 position-left"></i> Ubah Anggota</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Anggota</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaAnggota, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NamaAnggota, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-3 control-label">No SJP</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NoSJP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoSJP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>
    }
</div>
<!-- Modal Look Up Kartu -->
@Html.Partial("_LookUpKartu", Model, new ViewDataDictionary {
    { "target", targetkartu },
    { "modalid", modalnomoranggota },
    { "targetForm", targetFormkartu },
    { "modalName", modalNameKartu },
    { "headerisajax", ViewBag.IsAjaxRequest }
})
<script>

    function fm_edit_anggota() {
        var nomor = $("#PertanggunganKeduaNoKartu").val();
        var url = '@Html.Raw(Url.Action("Edit", "Anggota", new { nomor = "@nomor" }))';
        url = url.replace('%40nomor', nomor);
        angular.element('#@formName').scope().ajaxmodal({
            url: url,
            header: 'Edit Anggota',
        });
    }

    function changeJenisPasienKerjasamaID() {
        var bpjs = $("#JenisKerjasamaID :selected").val();
        if (bpjs == "9") {
            var datacustomer = {
                id: "CUST-0001",
                text: "BPJS KESEHATAN"
            };
            var optionCustomer = new Option(datacustomer.text, datacustomer.id, true, true);
            $('#KodePerusahaan').append(optionCustomer).trigger('change');
        } else {
            $("#KodePerusahaan").empty();
            $("#Kelas").val("");
        }
    }

    function checkOtotrisasi() {
        $.ajax({
            url: "@Url.Action("checkOtorisasiUser", "TipePasien")",
            type: "POST",
            data: {
                Username : $("#Username").val(),
                Password : $("#Password").val()
            },
            dataType: "JSON",
            success: function (r) {
                if (r.isSuccess) {
                    $("#changeTypePantien").removeClass("hidden");
                    $("#allowAccess").removeClass("hidden");
                    $("#notAllowAccess").addClass("hidden");
                    $("#CheckOtorisasi").val("1");
                } else {
                    $("#changeTypePantien").addClass("hidden");
                    $("#notAllowAccess").removeClass("hidden");
                    $("#allowAccess").addClass("hidden");
                    $("#CheckOtorisasi").val("0");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                $("#changeTypePantien").addClass("hidden");
                $("#notAllowAccess").addClass("hidden");
                $("#allowAccess").addClass("hidden");
                $("#CheckOtorisasi").val("0");
            }
        });
    }
    function anggotabaru(t)
    {
        if ($('#AnggotaBaru').is(':checked')) {
            $('#btnAnggota').attr('disabled', 'disabled');
            if ($('#@(nameof(Model.PertanggunganKeduaCompanyID))').val() == '') {
                alertpopup('Perusahaan harus diisi', 'warning');
                t.checked = false;
            } else {
                var url = '@Html.Raw(Url.Action("Create", "Anggota", new { nrm = "@nrm", namapasien = "@namapasien", perusahaan = "@perusahaan" }))';
                url = url.replace('%40nrm', $('#@(nameof(Model.NRM))').val())
                    .replace('%40namapasien', $('#@(nameof(Model.NamaPasien))').val())
                    .replace('%40perusahaan', $('#@(nameof(Model.PertanggunganKeduaCompanyID))').val());
                angular.element('#@formName').scope().ajaxmodal({
                    url: url,
                    header: 'Anggota Baru',
                });
            }
        } else {
            $('#btnAnggota').removeAttr('disabled');
        }
    }

    $('#PertanggunganKeduaCompanyID').select2({
            ajax: {
                url: "@Url.Action("ListPerusahaan", "TipePasien")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        jenisKerjaSama: 2,//$('#JenisKerjasamaID').val(),
                        sortBy: 'Nama_Customer',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Customer, text: value.Nama_Customer + " - " + value.NamaKelas } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


    function oncompletecreate_tipe(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                alertpopup('Tipe Pasien berhasil diubah', 'success');

                location.reload();
            } else {
                alertpopup(result.Message, 'warning');
            }
        } catch (ex) {
            alertpopup(xhr.responseText || 'Server Error', 'danger');
        }
    }
</script>