﻿@using Pelayanan.Models
@model RegistrasiPasienViewModel
@{
    ViewBag.Title = "Medical Record";
    var lt = Request.Cookies["LoginTipe"].Value.ToUpper();
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = "Registrasi Pasien", Value = Url.Action("Index",lt == "RI" ? "RegistrasiPasienRI" : "RegistrasiPasienRJ") },
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<div class="alert alert-info">
    Tidak tersedia di RS ini, hubungi sanata untuk mengaktifkan
</div>

<div class="panel hidden">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>NoReg</dt>
                    <dd>@Model.NoReg</dd>

                    <dt>NRM</dt>
                    <dd>
                        [@Model.NRM] &nbsp;
                        @if (Model.JenisKelamin == "M")
                        {
                            <label class="text-primary fa fa-mars"></label>
                        }
                        else if (Model.JenisKelamin == "F")
                        {
                            <label class="text-danger fa fa-venus"></label>
                        }
                        else
                        {
                            <label class="text-warning genderless"></label>
                        }
                        <br>
                    </dd>

                    <dt>Nama</dt>
                    <dd>@Model.NamaPasien</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Tipe Pasien</dt>
                    <dd>@Model.JenisKerjasama</dd>
                    <dt>Umur</dt>
                    <dd>@($"{Model.UmurThn} Tahun {Model.UmurBln} Bulan {Model.UmurHr} Hari")</dd>
                </dl>
            </div>
            <div class="col-md-4">

                @if (!string.IsNullOrEmpty(Model.Nama_Customer))
                {
                    <dl class="dl-horizontal">
                        <dt>Perusahaan</dt>
                        <dd>@Model.Nama_Customer</dd>
                    </dl>
                }
                @if (!string.IsNullOrEmpty(Model.NoKartu))
                {
                    <dl class="dl-horizontal">
                        <dt>No Kartu</dt>
                        <dd>@Model.NoKartu</dd>
                    </dl>
                }
            </div>

        </div>
    </div>
</div>

<ul class="nav nav-tabs hidden" style="margin-bottom:0px">
    <li class="active"><a data-toggle="tab" href="#divHistoriPengkajianAwal" onclick="autorefresh('table_historipengkajianawal')">Histori Pengkajian Awal</a></li>
    <li><a data-toggle="tab" href="#divPengkajianAwal" onclick="autorefresh('table_pengkajianawal')">Pengkajian Awal</a></li>
    <li><a data-toggle="tab" href="#divSOAP" onclick="autorefresh('table_soap')">SOAP</a></li>
    <li><a data-toggle="tab" href="#divHasilBacaRadiologi" onclick="autorefresh('table_hasilbacaradiologi')">Hasil Baca Radiologi</a></li>
    <li><a data-toggle="tab" href="#divHasilBacaLab" onclick="autorefresh('table_hasilbacalab')">Hasil Baca Lab</a></li>
    <li><a data-toggle="tab" href="#divObat" onclick="autorefresh('table_viewobat')">Obat</a></li>
    <li><a data-toggle="tab" href="#divResumeMedis">Resume Medis</a></li>
</ul>

<div class="tab-content panel panel-info hidden" style="border-top:none">

    <div id="divHistoriPengkajianAwal" class="tab-pane fade in active">
        @Html.Partial("ListHistoriPengkajianAwal")
    </div>
    <div id="divPengkajianAwal" class="tab-pane">
        @Html.Partial("ListPengkajianAwal")
    </div>

    <div id="divSOAP" class="tab-pane">
        @Html.Partial("ListSOAP")
    </div>

    <div id="divHasilBacaRadiologi" class="tab-pane">
        @Html.Partial("ListHasilBacaRadiologi")
    </div>

    <div id="divHasilBacaLab" class="tab-pane">
        @Html.Partial("ListHasilBacaLaboratorium")
    </div>

    <div id="divObat" class="tab-pane">
        @Html.Partial("ListViewObat")
    </div>

    <div id="divResumeMedis" class="tab-pane">
        @Html.Partial("SetupResumeMedis")
    </div>

</div>

<script>
    function autorefresh(id) {
        angular.element('#' + id).scope().getdatas();
    }

    function openRMEtab(id) {
        if (id == '#menu1RME') {

        } else if (id == '#menu2RME') {
            id = '#menu1RME';
        }
        var tabcontent = $(id).closest('.tab-content');
        tabcontent.find('.tab-pane').removeClass('fade').removeClass('in').removeClass('active');
        tabcontent.find(id).addClass('fade').addClass('in').addClass('active');
    }
</script>