﻿@using Pelayanan.Models
@model RegistrasiPasienViewModel
@{
    var tableId = $"table_hasilbacaradiologi";
    var item = new HasilBacaRadiologiViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NamaDOkter);
    column[3] = nameof(item.RAD_AksesNumber);
    column[4] = nameof(item.StatusRad);
    column[5] = nameof(item.Nomor);
    column[6] = nameof(item.NoRad);
}
<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
                    target_auto_refresh_edit = '@tableId';
                    url = '@Url.Action("ListHasilBacaRadiologi","MedicalRecord")';
                    init();
                    filter[11]='@Model.NoReg'
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list_hasilbacaradiologi')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list_hasilbacaradiologi" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[6]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Billing</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting text-center">No Bukti</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting text-center">No</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="text-center">
                            <a class="text-info-600" title="Detail"
                               ng-click="detail_param({ noreg : '@Model.NoReg', id : data.@column[0], nomor : data.@column[5] }, '@Url.Action("DetailHasilBacaHadiologi","MedicalRecord")')">
                                <i class="icon-eye"></i>
                            </a>
                            <a href="@Url.Action("ExportPDF", "Radiologi")?nomor={{data.@column[6]}}" target="_blank" class="text-success">
                                <i class="icon-printer position-right"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@column[0]}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@column[2]}}</td>
                        <td class="text-center">
                            <a data-value="{{data.@column[3]}}" ng-if="data.@column[3] != null"
                               onclick="gotopacs(this)" class=" label-info label">
                                {{data.@column[6]}}
                            </a>
                        </td>
                        <td class="text-center">{{data.@column[5]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>