﻿@using Pelayanan.Models
@model RegistrasiPasienViewModel
@{
    var m = StaticModel.ResumeMedis(Model.NoReg, Model.Nomor);
    var emergency = StaticModel.Emergency(Model.NoReg, Model.SectionID);
    var n = StaticModel.DiagnosaAwal(Model.NoReg, Model.SectionID);
    var lt = Request.Cookies["LoginTipe"].Value.ToUpper();
    var section = Request.Cookies["SectionIDPelayanan"].Value.ToUpper();
    var listtipediagnosa = StaticModel.ListTipeDiagnosa;
}

<div class="panel-body" ng-controller="form">
    <form onsubmit="resumemedisonsubmit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Riwayat Keluar RS</label>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Belum Sembuh" name="riwayatkeluarrs" />
                            Belum Sembuh
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Sembuh" name="riwayatkeluarrs" />
                            Sembuh
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Membaik" name="riwayatkeluarrs" />
                            Membaik
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Meninggal" name="riwayatkeluarrs" />
                            Meninggal
                        </label>
                    </div>
                </div>
                <div id="inputmeninggal" class="form-group">
                    <div class="input-group">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" value="kurang" name="meninggalwaktu" />
                                < 48 Jam
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" value="lebih" name="meninggalwaktu" />
                                > 48 Jam
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control" id="resumemedistanggal" />
                    </div>
                    <div class="input-group">
                        <label>Jam</label>
                        <input type="time" class="form-control" id="resumemedisjam" />
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Status Keluar RS</label>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Belum Keluar RS" name="statuskeluarrs" onchange="statuskeluarrsonchange()" />
                            Belum Keluar RS
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Diijinkan Pulang" name="statuskeluarrs" onchange="statuskeluarrsonchange()" />
                            Diijinkan Pulang
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Pulang Paksa" name="statuskeluarrs" onchange="statuskeluarrsonchange()" />
                            Pulang Paksa
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="Dirujuk Keluar Rumah Sakit" name="statuskeluarrs" onchange="statuskeluarrsonchange()" />
                            Dirujuk
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Tujuan</label>
                        <input id="dirujukketerangantujuan" name="dirujukketerangantujuan" class="form-control" />
                        @*<input id="dirujukketerangan" name="dirujukketerangan" class="form-control" />*@
                    </div>
                    <div class="form-group">
                        <label>Alasan</label>
                        <input id="dirujukketeranganalasan" name="dirujukketeranganalasan" class="form-control" />
                    </div>
                    <div class="radio hidden">
                        <label>
                            <input type="radio" value="Dirujuk Ke Atas" name="statuskeluarrs" />
                            Dirujuk Ke Atas
                        </label>
                    </div>
                    <div class="radio hidden">
                        <label>
                            <input type="radio" value="Dirujuk Ke Bawah" name="statuskeluarrs" />
                            Dirujuk Ke Bawah
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @if (section == "SEC002" || section == "SECT0015")
                {
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isemergency" id="isemergency" @(emergency == null ? "" : (emergency.Emergency_True ?? false) ? "checked" : "") />
                            Emergency
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="emergency" id="emergency">
                            @if (emergency != null)
                            {
                                <option value="NONE" @(emergency.Emergency == "NONE" ? "selected" : "")>NONE</option>
                                <option value="EMERGENCY UMUM" @(emergency.Emergency == "EMERGENCY UMUM" ? "selected" : "")>EMERGENCY UMUM</option>
                                <option value="EMERGENCY MATA" @(emergency.Emergency == "EMERGENCY MATA" ? "selected" : "")>EMERGENCY MATA</option>
                            }
                            else
                            {
                                <option value="NONE">NONE</option>
                                <option value="EMERGENCY UMUM">EMERGENCY UMUM</option>
                                <option value="EMERGENCY MATA">EMERGENCY MATA</option>
                            }
                        </select>
                        @*<label class="checkbox-inline">
                    <input type="checkbox" @(emergency != null ? ((emergency.Emergency ?? false) ? "checked" : "") : "") name="emergency" id="emergency" />
                    Emergency
                </label>*@
                    </div>
                }
                @if (lt == "RJ")
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mulai Pemeriksaan</label>
                                <div>
                                    <input type="time" id="waktupemeriksaanmulai" name="waktupemeriksaanmulai" class="form-control" required value="@(emergency == null ? DateTime.Now.ToString("HH:mm") : (emergency.WaktuPmeriksaan == null ? DateTime.Now.ToString("HH:mm") : emergency.WaktuPmeriksaan.Value.ToString("HH:mm")))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Selesai Pemeriksaan</label>
                                <div>
                                    <input type="time" id="waktupemeriksaanselesai" name="waktupemeriksaanselesai" class="form-control" required value="@(emergency == null ? DateTime.Now.ToString("HH:mm") : (emergency.Waktu_SelesaiPeriksa == null ? DateTime.Now.ToString("HH:mm") : emergency.Waktu_SelesaiPeriksa.Value.ToString("HH:mm")))" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (lt == "RJ" && section != "SEC002")
                {
                    <div class="form-group">
                        <label>
                            <input type="checkbox" id="resumemedispetensioperasi" @(emergency == null ? "" : (emergency.Potensi_Operasi ?? false ? "checked" : "")) />
                            Potensi Operasi
                        </label>
                    </div>
                }
                <div class="form-group">
                    <label>Dokter</label>
                    <select class="form-control" id="resumemedisdokter">
                        @if (m != null)
                        {
                            <option value="@m.DokterID">@StaticModel.FindDokter(m.DokterID).Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn-block btn btn-success" ng-click="$parent.ajaxmodal({
                        url: '@Url.Action("Create","IurBayar", new { noreg = Model.NoReg })',
                        header: 'IUR Bayar',
                    })">
                        <i class="icon-paperplane position-left"></i> IUR Bayar
                    </button>
                </div>
                <div class="form-group hidden">
                    <label>Diagnosa akhir</label>
                    <select class="form-control" id="resumemedisdiagnosa">
                        @if (m != null)
                        {
                            <option value="@m.DiagnosaAkhirID">@StaticModel.FindDiagnosa(m.DiagnosaAkhirID).Text</option>
                        }
                    </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tablediagnosaawal">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 60px;">
                                        <a class="text-success-600" onclick="addtabledetaildiagnosaawal(this)">
                                            <i class="icon-add"></i>
                                        </a>
                                    </th>
                                    <th>Diagnosa</th>
                                    <th>Tipe Diagnosa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (true)
                                {
                                    foreach (var x in n)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <a class="text-danger-600" onclick="removedetaildiagnosaawal(this)"><i class="icon-trash"></i></a>
                                            </td>
                                            <td>
                                                <select class="ready-to-select2 diagnosa">
                                                    <option value="@x.KodeICD">@x.Keterangan</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control tipediagnosa">
                                                    @foreach (var y in listtipediagnosa)
                                                    {
                                                        <option value="@y.Value" @(y.Value == x.TipeDiagnosa ? "selected" : "")>@y.Text</option>
                                                    }
                                                </select>
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center">
                                        </td>
                                        <td>
                                            <select class="ready-to-select2 diagnosa" required></select>
                                        </td>
                                        <td>
                                            <select class="form-control tipediagnosa">
                                                @foreach (var y in listtipediagnosa.Where(z => z.Text == "Diagnosa Akhir").ToList())
                                                {
                                                    <option value="@y.Value" selected>@y.Text</option>
                                                }
                                            </select>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="icon icon-floppy-disk"></i> Save</button>
        </div>
    </form>
</div>

<script>
    @if (m != null) {
        @:resumemedisdokter.value = '@m.DokterID';
        @:resumemedisdiagnosa.value = '@m.DiagnosaAkhirID';
        @*@:dirujukketerangan.value = '@m.PxKeluar_Dirujuk_Ket';*@
        @:dirujukketerangantujuan.value = '@m.PxKeluar_Dirujuk_Tujuan';
        @:dirujukketeranganalasan.value = '@m.PxKeluar_Dirujuk_Alasan';
        if (m.PX_Keluar_Sembuh ?? false)
        {
            @:$('[name="riwayatkeluarrs"][value="Sembuh"]').prop('checked', true);
        }
        else if (m.PX_Keluar_BelumSembuh ?? false)
        {
            @:$('[name="riwayatkeluarrs"][value="Belum Sembuh"]').prop('checked', true);
        }
        else if (m.PX_Keluar_Membaik ?? false)
        {
            @:$('[name="riwayatkeluarrs"][value="Membaik"]').prop('checked', true);
        } else if (m.PxMeninggal)
        {
            @:$('[name="riwayatkeluarrs"][value="Meninggal"]').prop('checked', true);
        }
        if (m.PxKeluar_Pulang)
        {
            @:$('[name="statuskeluarrs"][value="Diijinkan Pulang"]').prop('checked', true);
        }
        else if (m.PxKeluar_Dirujuk)
        {
            @:$('[name="statuskeluarrs"][value="Dirujuk Keluar Rumah Sakit"]').prop('checked', true);
        }
        else if (m.PxKeluar_PlgPaksa)
        {
            @:$('[name="statuskeluarrs"][value="Pulang Paksa"]').prop('checked', true);
        }
        else if (m.PX_Keluar_BelumKeluarRS ?? false)
        {
            @:$('[name="statuskeluarrs"][value="Belum Keluar RS"]').prop('checked', true);
        }
        else if (m.PX_Keluar_DirujukAtas ?? false)
        {
            @: $('[name="statuskeluarrs"][value="Dirujuk Ke Atas"]').prop('checked', true);
        }
        else if (m.PX_Keluar_DirujukBawah ?? false)
        {
            @:$('[name="statuskeluarrs"][value="Dirujuk Ke Bawah"]').prop('checked', true);
        }
        if (m.MeninggalSblm48)
        {
            @:$('[name="meninggalwaktu"][value="kurang"]').prop('checked', true);
        }
        else if (m.MeninggalStl48)
        {
            @:$('[name="meninggalwaktu"][value="lebih"]').prop('checked', true);
        }
        @:resumemedistanggal.value = '@m.Tanggal.ToString("yyyy-MM-dd")';
        @:resumemedisjam.value = '@m.Jam.ToString("HH:mm:ss")';
    }

</script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var tbody = $('#tablediagnosaawal').find('tbody');
        tbody.find('.ready-to-select2').select2(jsondiagnosaawal());
        tbody.find('.ready-to-select2').removeClass('ready-to-select2');
        statuskeluarrsonchange();
    });

    function statuskeluarrsonchange() {
        if ($('[name=statuskeluarrs]:checked').val() == "Dirujuk Keluar Rumah Sakit") {
            //$('#dirujukketerangan').closest('.form-group').removeClass('hide');
            $('#dirujukketerangantujuan').closest('.form-group').removeClass('hide');
            $('#dirujukketeranganalasan').closest('.form-group').removeClass('hide');
        } else {
            $('#dirujukketerangantujuan').closest('.form-group').addClass('hide');
            $('#dirujukketeranganalasan').closest('.form-group').addClass('hide');
        }
    }

    $('[name="riwayatkeluarrs"]').on('change', function (e) {
        checkmeninggal();
    });

    function checkmeninggal() {
        if ($('[name=riwayatkeluarrs]:checked').val() == 'Meninggal') {
            $('#inputmeninggal').removeClass('hidden');
        } else {
            $('#inputmeninggal').addClass('hidden');
            // req by ngakan
            resumemedistanggal.value = '@DateTime.Today.ToString("yyyy-MM-dd")';
            resumemedisjam.value = '@DateTime.Now.ToString("HH:mm")';
            $('[name=meninggalwaktu]:checked').prop('checked', false);
        }
    }

    function addtabledetaildiagnosaawal(t) {
        var tr = '<tr>';
        tr += '<td class="text-center"><a class="text-danger-600" onclick="removedetaildiagnosaawal(this)"><i class="icon-trash"></i></a></td>';
        tr += '<td><select class="ready-to-select2 diagnosa"></select></td>';
        tr += '<td><select class="form-control tipediagnosa">';
        @foreach (var x in listtipediagnosa)
        {
            @:tr += '<option value="@x.Value">@x.Text</option>';
        }
        tr += '</select></td>';
        tr += '</tr>';
        var tbody = $(t.closest('table')).find('tbody');
        tbody.append(tr);
        tbody.find('.ready-to-select2').select2(jsondiagnosaawal());
        tbody.find('.ready-to-select2').removeClass('ready-to-select2');
    }

    function jsondiagnosaawal() {
        return {
            ajax: {
                url: "@Url.Action("List", "ICD")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Descriptions',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: value.Descriptions } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    function removedetaildiagnosaawal(t) {
        t.closest('tr').remove();
    }

    checkmeninggal();

    function resumemedisonsubmit() {
        var riwayat = $('[name=riwayatkeluarrs]:checked').val();
        var status = $('[name=statuskeluarrs]:checked').val();
        var meninggalwaktu = $('[name=meninggalwaktu]:checked').val();
        if (riwayat == undefined || status == undefined) {
            alertpopup('data harus lengkap', 'info');
            return;
        }
        if (riwayat == 'Meninggal') {
            if (meninggalwaktu == undefined || resumemedistanggal.value == '' || resumemedisjam.value == '') {
                alertpopup('data harus lengkap', 'info');
                return;
            }
        }
        var diagnosaawal = $.map($('#tablediagnosaawal tbody tr'), function (v) {
            var d = $(v).find('.diagnosa option:selected');
            var c = $(v).find('.tipediagnosa option:selected');
            return {
                Text: d.text(), Value: d.val(), Data1: c.val()
            };
        });
        //bool belumkeluarrs, bool dirujuk, string dirujukketerangan
        myajax({
            url: '@Url.Action("SaveResumeMedis", "MedicalRecord")',
            data: {
                diagnosaawal: diagnosaawal,
                noReg: '@Model.NoReg',
                nomor: '@Model.Nomor',
                sudahPeriksa: '@Model.SudahPeriksa',
                pX_Keluar_Sembuh: riwayat == 'Sembuh',
                pX_Keluar_BelumSembuh: riwayat == 'Belum Sembuh',
                pX_Keluar_Membaik: riwayat == 'Membaik',
                pxMeninggal: riwayat == 'Meninggal',
                meninggalSblm48: meninggalwaktu == 'kurang',
                meninggalStl48: meninggalwaktu == 'lebih',
                meninggalTgl: resumemedistanggal.value,
                meninggalJam: resumemedisjam.value,
                pxKeluar_Pulang: status == 'Diijinkan Pulang',
                pxKeluar_Dirujuk: status == 'Dirujuk Keluar Rumah Sakit',
                pxKeluar_PlgPaksa: status == 'Pulang Paksa',
                pX_Keluar_DirujukAtas: status == 'Dirujuk Ke Atas',
                pX_Keluar_DirujukBawah: status == 'Dirujuk Ke Bawah',
                belumkeluarrs: status == 'Belum Keluar RS',
                dirujukketerangantujuan: dirujukketerangantujuan.value,
                dirujukketeranganalasan: dirujukketeranganalasan.value,
                dokterRawatID: resumemedisdokter.value,
                diagnosaAkhirID: resumemedisdiagnosa.value,
                sectionID: '@Model.SectionID',
                emergency: $('#emergency option:selected').val(),
                isemergency : $('#isemergency').is(':checked'),
                waktupemeriksaanmulai: @(lt == "RJ" ? "waktupemeriksaanmulai.value" : "null"),
                waktupemeriksaanselesai: @(lt == "RJ" ? "waktupemeriksaanselesai.value" : "null"),
                potensioperasi: $('#resumemedispetensioperasi')[0] === undefined ? null : $('#resumemedispetensioperasi')[0].checked
            },
            success: function (d) {
                if (d.IsSuccess) {
                    check_audit_data();
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    check_audit_data();
                    alertpopup(d.Message, 'danger');
                }
            }
        })
    }

    $('#resumemedisdokter').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#resumemedisdiagnosa').select2({
        ajax: {
            url: "@Url.Action("List", "ICD")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: value.Descriptions } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>