﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "RiwayatAlergi";
    ViewBag.Title = controllerName;
    var statusbayar = ViewBag.StatusBayar;
    var tableId = $"table_{controllerName}";
    var item = new RiwayatAlergiViewModel();
    var columnCount = 5;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.DeskripsiAlergi);
    column[2] = nameof(item.TglInput);
    column[3] = nameof(item.BarangID);
    column[4] = nameof(item.BarangNama);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){

    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[0] = '@(ViewBag.NRM)'">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <button href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create", new { nrm = ViewBag.NRM })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()" @(statusbayar == "Sudah Bayar" ? "disabled" : "")>
                Tambah
                <i class="icon-plus2 position-right"></i>
            </button>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list_riwayatalergi')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list_riwayatalergi" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[2]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Tanggal Input</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Deskripsi</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Barang</th>

                    </tr>
                    <tr class="filter_list_riwayatalergi" style="display:none">

                        <!-- Filter -->
                        <td></td>
                        <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            @if (statusbayar != "Sudah Bayar")
                            {
                                <a ng-click="delete_param({ nrm : data.@column[0], deskripsi : data.@column[1]}, '@Url.Action("Delete")')" class="text-danger-600">
                                    <i class="icon-trash"></i>
                                </a>
                            }
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[2])_View}}</td>
                        <td>{{data.@(column[1])}}</td>
                        <td>{{data.@(column[4])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>