﻿@using iHos.MVC.Converter
@using Pelayanan.Models
@{
    var controllerName = "HasilLaboratorium";
    ViewBag.Title = "Hasil Laboratorium";
    var tableId = $"table_{controllerName}";
    var item = new HasilLaboratoriumViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoSystem);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.NamaPasien);
    column[4] = nameof(item.Alamat);
    column[5] = nameof(item.JenisPasien);
    column[6] = nameof(item.DokterPengirim);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 90px;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        text-align: center;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        background-color: #9cf19c;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        width: 100px;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        max-width: 180px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width: 80px;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        max-width: 180px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[10]=true">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[11]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[10]" onclick="disabletarget(this.checked, '.input-periode')" ng-change="getdatas()" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No System</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Jenis Pasien</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Dokter</th>

                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")/{{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail(data.@column[0], '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                        </td>

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])}}</td>
                        <td title="{{data.@(column[6])}}">{{data.@(column[6])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>

<script>
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")');
        var date2 = new Date('@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[11] = date;
        sc.filter[12] = date2;
        sc.getdatas();
    });
</script>