﻿@using Pelayanan.Models
@model InformasiHasilBacaRadiologiViewModel
@{
    ViewBag.Title = "Baca Hasil Radiologi";

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Detail", Value = "active" }
    };
}

<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>No Reg</dt>
                <dd>@Html.DisplayFor(model => model.RegNo)</dd>

                <dt>No Bukti</dt>
                <dd>@Html.DisplayFor(model => model.NoBukti)</dd>

                <dt>Tanggal</dt>
                <dd>@Html.DisplayFor(model => model.Tanggal_View)</dd>

                <dt>Dokter</dt>
                <dd>@Html.DisplayFor(model => model.NamaDOkter)</dd>

                <dt>RAD Akses Number</dt>
                <dd>@Html.DisplayFor(model => model.RAD_AksesNumber)</dd>

                <dt>Status Rad</dt>
                <dd>@Html.DisplayFor(model => model.StatusRad)</dd>

            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>Nomor</dt>
                <dd>@Html.DisplayFor(model => model.Nomor)</dd>

                <dt>Dokter Pengirim</dt>
                <dd>@Html.DisplayFor(model => model.DokterPengirim)</dd>

                <dt>Klinis</dt>
                <dd>@Html.DisplayFor(model => model.Klinis)</dd>

                <dt>Judul</dt>
                <dd>@Html.DisplayFor(model => model.Judul)</dd>

                <dt>JawabanBody</dt>
                <dd>@Html.DisplayFor(model => model.JawabanBody)</dd>

                <dt>Kesan</dt>
                <dd>@Html.DisplayFor(model => model.Kesan)</dd>

            </dl>
        </div>
    </div>
</div>