﻿@using Pelayanan.Models.PPI
@using Pelayanan.Entities.PPI
@model TertusukJarumDataModel
@{
    var controllerName = "TertusukJarum";
    ViewBag.Title = "TertusukJarum HAIs";
    var formName = $"frm_{controllerName}_create";
    var tableId = $"tbl_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    var targetForm = formName;

    #region Detail
    var detail_barang = new TertusukJarumDetailDataModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Supplier
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.KodePetugas)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.NamaPetugas)}",
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.KodePetugas)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}
<style>
    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display : none;
    }
</style>

@if ((bool)ViewData["SudahAdaData"])
{
    <div class="alert alert-warning">
        <h1>Data sudah dibuat hari ini</h1>
    </div>
}
else
{

    <div class="wall" ng-controller="form">
        @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName, autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="control-label col-md-2">Ruangan</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Tanggal</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.Tanggal != null ? Model.Tanggal.ToString("yyyy-MM-dd") : "") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Surveor</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div id="panel_detil_barang_@formName" class="detail form-group" data-index-detail="@detail_barang_index">
                    <div class="table-responsive">
                        <table id="@table_detail_barang" class="table table-bordered table-detail-ppi table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center">
                                        <a class="text-success-600" title="Barang"
                                           data-toggle="modal" data-target="#@modalid_m_barang">
                                            <i class="icon-search4"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>Kode Petugas</th>
                                    <th>Nama Petugas</th>
                                    <th>Tempat Tugas</th>
                                    <th>Tempat Kejadian</th>
                                    <th>Kronologis Kejadian</th>
                                    <th>Dilaksanakan penanganan dengan tepat (ya/tidak)</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody id="target_get_surveilans"></tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>

    if (Model != null)
    {
        Model.Detail_List = null;
    }

    <div id="@target_inputDetail_barang" class="hidden">

        <!-- Check -->
        <div class="input-detail">
            <input type="checkbox" />
        </div>

        <!-- Delete button -->
        <div class="input-detail">
            <a class="text-danger-600"
               onclick="removetr(this)">
                <i class="icon-trash"></i>
            </a>
        </div>

        <!-- Remove Status -->
        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Remove,
          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.KodePetugas, new
       {
           htmlAttributes = new
           {
               @readonly = "readonly"
           }
       })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.NamaPetugas, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm",
               @readonly = "readonly"
           }
       })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.TempatTugas, new
           {
               htmlAttributes = new
               {
                   @class = "form-control input-sm"
               }
           })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.TempatKejadian, new
           {
               htmlAttributes = new
               {
                   @class = "form-control input-sm"
               }
           })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.Kronologi, new
           {
               htmlAttributes = new
               {
                   @class = "form-control input-sm"
               }
           })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.PenangananDengan, new
           {
               htmlAttributes = new
               {
                   @class = "form-control input-sm"
               }
           })
        </div>

        <div class="input-detail">
            @Html.EditorFor(model => model.Detail_List[-1].Model.Keterangan, new
           {
               htmlAttributes = new
               {
                   @class = "form-control input-sm"
               }
           })
        </div>

    </div>

    @Html.Partial("_LookUp_AB", Model, new ViewDataDictionary {
        { "target", target_barang },
        { "modalid", modalid_m_barang },
        { "targetForm", targetForm },
        { "modalName", modalName_barang },
        { "headerisajax", ViewBag.IsAjaxRequest },
        { "targetTable", table_detail_barang },
        { "targetInputTable", target_inputDetail_barang },
    })

}