﻿@using iHos.MVC.Converter
@using Pelayanan.Models.PPI
@{
    var controllerName = "Pasien";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}_paymen";
    var item = new TertusukJarumDataModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.Tanggal);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.SectionName);
    column[3] = nameof(item.UserCreate);
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Tertusuk Jarum", Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 90px;
        text-align: center;
        vertical-align: middle;
    }

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <button ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Create")',
                            header: 'Tambah Tertusuk Jarum',
                            target_auto_refresh : '@tableId'
                        })"
                    class="btn btn-success btn-sm">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </button>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a id="reloadTablePembayaran" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[13]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show : </span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'desc';">

                        <th rowspan="2" class="middle text-center">Action</th>

                        <!-- Column Sort -->
                        @*<th ng-click="ordering($event,'@column[0]')" class="sorting">Status</th>*@
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">User</th>
                        @*<th ng-click="ordering($event,'@column[2]')" class="sorting">Ruang Perawatan</th>
        <th ng-click="ordering($event,'@column[3]')" class="sorting">NRM</th>*@
                    </tr>

                    <tr class="filter_list">

                        <!-- Filter -->
                        @*<td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>*@
                        @*<td></td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>*@

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]" data-id="{{data.@column[0]}}">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")?id={{ data.@(column[0])_View2 }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail(data.@(column[0])_View2, '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                        </td>

                        <td>{{data.@(column[0])_View}}</td>
                        <td>{{data.@(column[3])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>
<script>
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")');
        var date2 = new Date('@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[12] = date;
        sc.filter[13] = date2;
        sc.getdatas();
    });
</script>
