﻿@using Pelayanan.Models
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var sectionid = ViewData["sectionid"].ToString();
    var kelasid = ViewData["kelasid"].ToString();
    var headerisajax = ViewData["headerisajax"];
    var anak = (bool)ViewData["headerisajax"];

    int pointold = 0;
    if (ViewData["pointold"] != null)
    {
        pointold = int.Parse(ViewData["pointold"].ToString());
    }

    var tableId = $"divtablelookup_{modalid}";
    var url_table = Url.Action("ListKamarDetail");
    var item = new KamarDetailViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoKamar);
    column[1] = nameof(item.NoBed);
    column[2] = nameof(item.Status);
    column[3] = nameof(item.NamaKamar);
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
    }
</style>

<div class="modal fade" id="@modalid" tabindex="-1" role="dialog"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount;
                init();
                filter[10] = 'False';
                filter[11] = '@sectionid';
                filter[12] = '@kelasid';
                url = '@url_table';
                targetform = '@targetForm';
                target = @(JsonConvert.SerializeObject(target))">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">LookUp @modalName</h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a onclick="togglecheckbox('.filter_list_lookup_m_@modalid')"><i class="icon-filter3"></i></a></li>
                                <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="datatable-header">
                        <div class="dataTables_length filter_list_lookup_m_@modalid" style="display:none">
                            <label>
                                <span>Show:</span>
                                <select class="form-control input-xs" style="width: auto;"
                                        ng-change="getdatas()"
                                        ng-model="pagesize"
                                        ng-options="opt as opt for opt in pagesizes"></select>
                            </label>
                        </div>
                    </div>
                    <div class="dataTables_scrollHead table-responsive">
                        <table class="table table-bordered dataTable" id="@tableId">
                            <thead>
                                <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                                    <!-- Column Sort -->
                                    <th ng-click="ordering($event,'@column[0]')" class="sorting">No Kamar</th>
                                    <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Kamar</th>
                                    <th ng-click="ordering($event,'@column[1]')" class="sorting">Bed</th>

                                </tr>
                                <tr class="filter_list_lookup_m_@modalid" style="display:none">

                                    <!-- Filter -->
                                    <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                    <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                    <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                                </tr>
                                <tr class="loading {{ loading ? '' : 'hide' }}">
                                    <td colspan="50">
                                        <div class="bubblingG center">
                                            <span id="bubblingG_1"></span>
                                            <span id="bubblingG_2"></span>
                                            <span id="bubblingG_3"></span>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="{{ loading ? 'hide' : '' }}">
                                <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                    ng-click="select($event, [
                                            data.@column[0],
                                            data.@column[1]
                                        ])"
                                    data-detail-index="{{ $index }}">

                                    <!-- Table Result -->
                                    <td>{{data.@(column[0])}}</td>
                                    <td>{{data.@(column[3])}}</td>
                                    <td>{{data.@(column[1])}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>

                        <button type="button" class="btn btn-success btn-multipleselected"
                                ng-click="selected($event, true)">
                            Pilih <i class="icon-checkmark2"></i>
                        </button>
                    </div>
                </div>
                <div ng-init="pagesize = 10; getdatas();"></div>
            </div>
        </div>
    </div>
</div>