﻿@using Pelayanan.Models
@{
    ViewBag.Title = "Billing";
}

<style>
    #tableasistenanastesi tbody td:nth-child(2),
    #tableinstrumen tbody td:nth-child(2),
    #tableonloop tbody td:nth-child(2) {
        max-width: 200px;
    }
</style>

<form id="formbilling" onsubmit="submitformbilling(this)">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                <input required type="date" id="Tanggal" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                <input required type="time" id="Jam" class="form-control" value="@DateTime.Now.ToString("HH:mm")" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Asal Pasien</label>
                <input type="text" value="@ViewBag.SectionAsalName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2 hide">
            <div class="form-group">
                <label>Kelas</label>
                <select class="form-control" id="kelas">
                    @foreach (var x in StaticModel.ListKelas)
                    {
                        <option value="@x.Value">@x.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jumlah</label>
                <input id="Jumlah" type="text" class="form-control text-right" readonly />
            </div>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button onclick="showFormUpdateKelas();" type="button" class="btn btn-primary btn-block"> <i class="icon-crown position-left"></i> UPDATE KELAS </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Jenis Anatesi</label>
                                <select class="form-control" id="JenisAnatesi">
                                    @foreach (var x in StaticModel.ListJenisAnatesi)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Cito">Cito</label>
                                <div class="checkbox">
                                    <input type="checkbox" id="Cito" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Spesialisasi</label>
                                <select class="form-control" id="Spesialisasi">
                                    @foreach (var x in StaticModel.ListSpesialisasi)
                                    {
                                        <option value="@x.Value" @(x.Text == "Mata" ? "selected" : "")>@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ruang OK</label>
                                <select class="form-control" id="RuangOK">
                                    @foreach (var x in StaticModel.ListRuangOK)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Kategori Operasi</label>
                                <select class="form-control" id="KategoriOperasi" onchange="kategorioperasionchange()">
                                    @foreach (var x in StaticModel.ListKategoriOperasi)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Jenis Luka</label>
                                <select class="form-control" id="JenisLuka">
                                    @foreach (var x in StaticModel.ListJenisLuka)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pengirim</label>
                                <select class="form-control" id="DokterPengirim"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Penanggung</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.PenanggungNama" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Hubungan</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.PenanggungHubungan" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <textarea type="text" class="form-control" readonly>@ViewBag.PenanggungAlamat</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operator</label>
                                <select required id="DokterID" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>Operator Pelaksana</label>
                                <select id="OperatorPelaksana" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>Durante</label>
                                <select id="Durante" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Asisten</label>
                                <select id="DokterAsisten" class="form-control"></select>
                            </div>
                            <div class="form-group hide">
                                <label>Dokter Asisten 2</label>
                                <select id="DokterAsisten2" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>Dokter Anastesi</label>
                                <select id="DokterAnastesi" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>Dokter Anak</label>
                                <select id="DokterAnak" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableasistenanastesi">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="addtabledetaildokter(this)">
                                    <i class="icon-add"></i>
                                </a>
                            </th>
                            <th>Asisten Anastesi</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="tableinstrumen">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="addtabledetaildokter(this)">
                                    <i class="icon-add"></i>
                                </a>
                            </th>
                            <th>Instrumen</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="tableonloop">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="addtabledetaildokter(this)">
                                    <i class="icon-add"></i>
                                </a>
                            </th>
                            <th>On Loop</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="modalopenjasa()">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Dokter</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingaudit" />
                        Audit
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingadaobat" />
                        Ada Obat
                    </label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="mcu" id="mcu" value="" /> Split Bill
                </label>
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="cob" id="cob" value="" /> COB
                </label>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</form>

<!-- notice modal -->
<div id="modal_notice" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <h6 class="text-semibold"><i class="icon-notification2 position-left"></i> Notifikasi System</h6>
                <p>Pastikan melakukan cek kelas pasien di system sebelum melakukan input tarif</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal"> Lanjutkan <i class=" icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#modal_notice").modal('show');
    $('#modal_notice').on('hidden.bs.modal', function () {
        if ($('.modal.in').length > 0) $('body').addClass('modal-open');
    })
</script>
<!-- /notice modal -->

@Html.Partial("LookUpBillingJasa")
<script>

    function addtabledetaildokter(t) {
        var tr = '<tr>';
        tr += '<td class="text-center"><a class="text-danger-600" onclick="removedetaildokter(this)"><i class="icon-trash"></i></a></td>';
        tr += '<td><select class="ready-to-select2"></select></td>';
        tr += '<td class="text-center"><input type="checkbox" /></td>';
        tr += '</tr>';
        var tbody = $(t.closest('table')).find('tbody');
        tbody.append(tr);
        tbody.find('.ready-to-select2').select2(jsondokter());
        tbody.find('.ready-to-select2').removeClass('ready-to-select2');
    }

    function removedetaildokter(t) {
        t.closest('tr').remove();
    }
</script>
<script>
    function submitformbilling(t) {
        var asistenanastesi = $.map($('#tableasistenanastesi tbody tr'), function (v) {
            var d = $(v).find('select option:selected');
            var e = $(v).find('input[type="checkbox"]');
            return { Text: d.text(), Value: d.val(), Check1: e[0].checked }
        });
        var instrumen = $.map($('#tableinstrumen tbody tr'), function (v) {
            var d = $(v).find('select option:selected');
            var e = $(v).find('input[type="checkbox"]');
            return { Text: d.text(), Value: d.val(), Check1: e[0].checked }
        });
        var onloop = $.map($('#tableonloop tbody tr'), function (v) {
            var d = $(v).find('select option:selected');
            var e = $(v).find('input[type="checkbox"]');
            return { Text: d.text(), Value: d.val(), Check1: e[0].checked }
        });
        myajax({
            url: "@Url.Action("CreateOK")",
            data: {
                noreg: '@ViewBag.Noreg',
                section: '@ViewBag.Section',
                nomor: '@ViewBag.Nomor',
                dokter: $('#formbilling #DokterID').val(),
                tanggal: $('#formbilling #Tanggal').val(),
                jam: $('#formbilling #Jam').val(),
                kelas: $('#formbilling #kelas').val(),
                detail: headerdetail,
                cob: $('#formbilling #cob').is(':checked'),
                mcu: $('#formbilling #mcu').is(':checked'),
                audit: $('#formbilling #billingaudit').is(':checked'),
                adaobat: $('#formbilling #billingadaobat').is(':checked'),
                jenisanatesi: $('#formbilling #JenisAnatesi').val(),
                cito: $('#formbilling #Cito')[0].checked,
                spesialis: $('#formbilling #Spesialisasi').val(),
                ruangok: $('#formbilling #RuangOK').val(),
                kategorioperasi: $('#formbilling #KategoriOperasi').val(),
                jenisluka: $('#formbilling #JenisLuka').val(),
                dokterpengirim: $('#formbilling #DokterPengirim').val(),
                dokter: $('#formbilling #DokterID').val(),
                opetatorpelaksasa: $('#formbilling #OperatorPelaksana').val(),
                durante: $('#formbilling #Durante').val(),
                dokterasisten: $('#formbilling #DokterAsisten').val(),
                dokterasisten2: $('#formbilling #DokterAsisten2').val(),
                dokteranak: $('#formbilling #DokterAnak').val(),
                dokteranastesi: $('#formbilling #DokterAnastesi').val(),
                asistenanastesi: asistenanastesi,
                instrumen: instrumen,
                onloop: onloop
            },
            success: function (dt) {
                if (dt.IsSuccess) {
                    if ('@Request.IsAjaxRequest()' == 'True')
                    {
                        $('#formbilling').closest('.modal').modal('hide');
                        autorefresh('table_billing');
                    }
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

    var noreg = '@ViewBag.Noreg';
    var section = '@ViewBag.Section';
    function jsondokter() {
        return {
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    $('#formbilling #DokterPengirimID').select2(jsondokter());
    $('#formbilling #DokterID').select2(jsondokter());
    $('#formbilling #OperatorPelaksana').select2(jsondokter());
    $('#formbilling #Durante').select2(jsondokter());
    $('#formbilling #DokterAsisten').select2(jsondokter());
    $('#formbilling #DokterAsisten2').select2(jsondokter());
    $('#formbilling #DokterAnak').select2(jsondokter());
    $('#formbilling #DokterAnastesi').select2(jsondokter());
    $('#formbilling #DokterPengirim').select2(jsondokter());


    function showFormUpdateKelas() {
        angular.element('#formbilling').scope().ajaxmodal({
            url: '@(Url.Action("UpdateKelasRI", "Billing"))?noreg=@(ViewBag.Noreg)&nomor=@(ViewBag.Nomor)',
            header: 'Update Kelas',
            size : 'md'
        });
    }
</script>