﻿@using Pelayanan.Models
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@model BillingInsertViewModel
@{
    ViewBag.Title = "Billing";
}

<style>
    #tablebillingjasa thead th:nth-child(6),
    #tablebillingjasa tbody td:nth-child(6),
    #tablebillingjasadetail thead th:nth-child(3),
    #tablebillingjasadetail tbody td:nth-child(3),
    #tablebillingjasadetail thead th:nth-child(4),
    #tablebillingjasadetail tbody td:nth-child(4),
    #tablebillingjasadetail thead th:nth-child(5),
    #tablebillingjasadetail tbody td:nth-child(5) {
        display: none;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                <input required type="date" id="Tanggal" class="form-control" value="@Model.tanggal.ToString("yyyy-MM-dd")" readonly />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                <input required type="time" id="Jam" class="form-control" value="@Model.jam.ToString("hh"):@Model.jam.ToString("mm")" readonly />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Asal Pasien</label>
                <input type="text" value="@ViewBag.SectionAsalName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Kelas</label>
                <input type="text" value="@ViewBag.KelasName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jumlah</label>
                <input id="Jumlah" type="text" class="form-control text-right" value="@Model.jumlah.ToMoney()" readonly />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Jenis Anatesi</label>
                                <input type="text" value="@ViewBag.JenisAnatesiName" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Cito</label>
                                <div>
                                    <input type="checkbox" id="Cito" @(Model.cito ? "checked" : "") disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Spesialisasi</label>
                                <input type="text" value="@ViewBag.SpesialisasiName" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ruang OK</label>
                                <input type="text" value="@ViewBag.RuangOKName" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Kategori Operasi</label>
                                <input type="text" value="@ViewBag.KategoriOperasiName" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Jenis Luka</label>
                                <input type="text" value="@ViewBag.JenisLukaName" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pengirim</label>
                                <input type="text" value="@ViewBag.DokterPengirimName" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Penanggung</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.PenanggungNama" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Hubungan</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.PenanggungHubungan" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <textarea type="text" class="form-control" readonly>@ViewBag.PenanggungAlamat</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operator</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.Operator" />
                            </div>
                            <div class="form-group">
                                <label>Operator Pelaksana</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.OperatorPelaksana" />
                            </div>
                            <div class="form-group">
                                <label>Durante</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.Durante" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Asisten</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.DokterAsisten" />
                            </div>
                            <div class="form-group hide">
                                <label>Dokter Asisten 2</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.DokterAsisten2" />
                            </div>
                            <div class="form-group">
                                <label>Dokter Anastesi</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.Anastesi" />
                            </div>
                            <div class="form-group">
                                <label>Dokter Anak</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.DokterAnak" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableasistenanastesi">
                    <thead>
                        <tr>
                            <th>Asisten Anastesi</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.asistenanastesi)
                        {
                            <tr>
                                <td>@x.Text</td>
                                <td class="text-center">@Html.DisplayFor(model => x.Check1)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="tableinstrumen">
                    <thead>
                        <tr>
                            <th>Instrumen</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.instrumen)
                        {
                            <tr>
                                <td>@x.Text</td>
                                <td class="text-center">@Html.DisplayFor(model => x.Check1)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="tableonloop">
                    <thead>
                        <tr>
                            <th>On Loop</th>
                            <th>Dinas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.onloop)
                        {
                            <tr>
                                <td>@x.Text</td>
                                <td class="text-center">@Html.DisplayFor(model => x.Check1)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 40px;">
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Dokter</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.detail)
                        {
                            <tr>
                                <td class="text-center">
                                    <a class="text-info-600" onclick="viewdetailjasa('@x.jasaid', this)">
                                        <i class="icon-eye"></i>
                                    </a>
                                </td>
                                <td>@x.jasaid</td>
                                <td>@x.jasanama</td>
                                <td class="text-center">@x.qty</td>
                                <td class="text-right">@x.tarif.ToMoney()</td>
                                <td class="text-center">@x.diskon</td>
                                <td>@x.namadokter</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingaudit" @(Model.audit ? "checked" : "") disabled />
                        Audit
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingadaobat" @(Model.adaobat ? "checked" : "") disabled />
                        Ada Obat
                    </label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="mcu" id="mcu" @(Model.mcu ? "checked" : "") value="" disabled /> Split Bill
                </label>
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="cob" id="cob" @(Model.cob ? "checked" : "") value="" disabled /> COB
                </label>
            </div>
        </div>
    </div>
</div>
<script>
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)))

    function viewdetailjasa(id, t) {
        $('#tablebillingjasa tbody .active-info').removeClass('active-info');
        $(t).closest('tr').addClass('active-info');
        var h = headerdetail.map(function (x, i) { if (x.jasaid == id) return x; }).filter(x => x != undefined)[0];
        var r = '';
        $.each(h.detail, function (i, v) {
            r += '<tr>';
            r += '<td>' + v.komponennama + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.harga) + '</td>';
            r += '<td class="text-right">' + v.diskon + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.diskonnilai) + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.jumlah) + '</td>';
            r += '</tr>';
        });
        $('#tablebillingjasadetail tbody').html(r);
    }
</script>