﻿@using Pelayanan.Models
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@model BillingInsertViewModel
@{
    ViewBag.Title = "Billing";
}

<div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                <input required type="date" id="Tanggal" class="form-control" value="@Model.tanggal.ToString("yyyy-MM-dd")" readonly />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                <input required type="time" id="Jam" class="form-control" value="@Model.jam.ToString("hh"):@Model.jam.ToString("mm")" readonly />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Asal Pasien</label>
                <input type="text" value="@ViewBag.SectionAsalName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Keterangan</label>
                <input type="text" value="@ViewBag.Keterangan" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jumlah</label>
                <input id="Jumlah" type="text" class="form-control text-right" value="@Model.jumlah.ToMoney()" readonly />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Dokter Pengirim</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.DokterPengirimName" />
                    </div>
                    <div class="form-group">
                        <label>Dokter</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.Dokter" />
                    </div>
                    <div class="form-group">
                        <label>Radiografer</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.Radiografer" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Dirujuk Ke Vendor Luar</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Dirujuk">Dirujuk</label>
                                <div class="text-center">
                                    <input type="checkbox" @(Model.dirujuk ? "checked" : "") disabled id="Dirujuk" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Vendor</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.Vendor" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Alasan</label>
                                <input type="text" class="form-control" readonly value="@ViewBag.Alasan" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Kirim</label>
                                <input type="text" class="form-control" readonly value="@(Model.tanggaldirujukditerima == null ? "" : Model.tanggaldirujukditerima.Value.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Terima</label>
                                <input type="text" class="form-control" readonly value="@(Model.tanggaldirujukkirim == null ? "" : Model.tanggaldirujukkirim.Value.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 40px;">
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Dokter</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.detail)
                        {
                            <tr>
                                <td class="text-center">
                                    @if ((ViewBag.ShowKomponen ?? false) == true)
                                    {
                                        <a class="text-info-600" onclick="viewdetailjasa('@x.jasaid', this)">
                                            <i class="icon-eye"></i>
                                        </a>
                                    }
                                </td>
                                <td>@x.jasaid</td>
                                <td>@x.jasanama</td>
                                <td class="text-center">@x.qty</td>
                                <td class="text-right">@x.tarif.ToMoney()</td>
                                <td class="text-center">@x.diskon</td>
                                <td>@x.namadokter</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingaudit" @(Model.audit ? "checked" : "") disabled />
                        Audit
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingadaobat" @(Model.adaobat ? "checked" : "") disabled />
                        Ada Obat
                    </label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="mcu" id="mcu" @(Model.mcu ? "checked" : "") value="" disabled /> Split Bill
                </label>
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="cob" id="cob" @(Model.cob ? "checked" : "") value="" disabled /> COB
                </label>
            </div>
        </div>
    </div>
</div>
<script>
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)))

    function viewdetailjasa(id, t) {
        $('#tablebillingjasa tbody .active-info').removeClass('active-info');
        $(t).closest('tr').addClass('active-info');
        var h = headerdetail.map(function (x, i) { if (x.jasaid == id) return x; }).filter(x => x != undefined)[0];
        var r = '';
        $.each(h.detail, function (i, v) {
            r += '<tr>';
            r += '<td>' + v.komponennama + '</td>';
            r += '<td>' + getcurrencyfromfloat(v.harga) + '</td>';
            r += '<td>' + v.diskon + '</td>';
            r += '<td>' + getcurrencyfromfloat(v.diskonnilai) + '</td>';
            r += '<td>' + getcurrencyfromfloat(v.jumlah) + '</td>';
            r += '</tr>';
        });
        $('#tablebillingjasadetail tbody').html(r);
    }
</script>