﻿@using Pelayanan.Models
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Billing";
}
@model BillingInsertViewModel

<form id="formbilling" onsubmit="submitformbilling(this)">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                <input required type="date" id="Tanggal" class="form-control" value="@Model.tanggal.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                <input required type="time" id="Jam" class="form-control" value="@Model.jam.ToString("hh"):@Model.jam.ToString("mm")" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Asal Pasien</label>
                <input type="text" value="@ViewBag.SectionAsalName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Keterangan</label>
                <input type="text" value="@ViewBag.Keterangan" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jumlah</label>
                <input id="Jumlah" type="text" class="form-control text-right" readonly value="@Model.jumlah.ToMoney()" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Dokter Pengirim</label>
                        <input type="text" value="@ViewBag.DokterPengirimName" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Dokter</label>
                        <select required id="DokterID" class="form-control">
                            <option value="@Model.dokter">@ViewBag.Dokter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Analis</label>
                        <select id="DokterAnalis" class="form-control" required>
                            <option value="@Model.dokteranalis">@ViewBag.Radiografer</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Dirujuk Ke Vendor Luar</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Dirujuk">Dirujuk</label>
                                <div class="text-center">
                                    <input type="checkbox" id="Dirujuk" onchange="dirujukonchange(this)" @(Model.dirujuk ? "checked" : "") />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Vendor</label>
                                <select id="Vendor" class="form-control" @(Model.dirujuk ? "" : "disabled")>
                                    <option value="@Model.dirujukventor">@ViewBag.Vendor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Alasan</label>
                                <select id="Alasan" class="form-control" @(Model.dirujuk ? "" : "disabled")>
                                    @foreach (var x in StaticModel.ListAlasanDirujuk)
                                    {
                                        <option value="@x.Value" @(x.Value == Model.alasandirujuk ? "selected" : "")>@x.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Kirim</label>
                                <input @(Model.dirujuk ? "" : "disabled") type="date" id="TanggalKirim" class="form-control" value="@(Model.tanggaldirujukkirim == null ? "" : Model.tanggaldirujukkirim.Value.ToString("yyyy-MM-dd"))" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Terima</label>
                                <input @(Model.dirujuk ? "" : "disabled") type="date" id="TanggalTerima" class="form-control" value="@(Model.tanggaldirujukditerima == null ? "" : Model.tanggaldirujukditerima.Value.ToString("yyyy-MM-dd"))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="modalopenjasa()">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Dokter</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.detail.Count; i++)
                        {
                        <tr data-id="@Model.detail[i].id">
                            @if ((ViewBag.ShowKomponen ?? false) == true)
                            {
                                <td class="text-center"><a class="text-info-600" onclick="viewdetailjasa(@Model.detail[i].id, this)"><i class="icon-eye"></i></a> &nbsp; <a class="text-danger-600" onclick="removedetailjasa(this)"><i class="icon-trash"></i></a></td>
                            }
                            else
                            {
                                <td class="text-center"><a class="text-danger-600" onclick="removedetailjasa(this)"><i class="icon-trash"></i></a></td>
                            }
                            <td><input type="text" value="@Model.detail[i].jasaid" class="form-control" readonly></td>
                            <td><input type="text" value="@Model.detail[i].jasanama" class="form-control" readonly></td>
                            <td><input type="number" required onchange="updateqtyjasa(this, @Model.detail[i].id)" value="@Model.detail[i].qty" class="form-control text-right"></td>
                            <td><input type="text" value="@Model.detail[i].tarif.ToMoney()" class="form-control text-right" readonly></td>
                            <td><input type="text" value="@Model.detail[i].diskon.ToMoney()" class="diskon form-control text-right" readonly></td>
                            <td><input type="text" value="@Model.detail[i].namadokter" class="form-control" readonly></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingaudit" @(Model.audit ? "checked" : "") />
                        Audit
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline text-semibold">
                        <input type="checkbox" id="billingadaobat" @(Model.adaobat ? "checked" : "") />
                        Ada Obat
                    </label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="mcu" id="mcu" @(Model.mcu ? "checked" : "") value="" /> Split Bill
                </label>
                <label class="checkbox-inline text-semibold">
                    <input type="checkbox" name="cob" id="cob" @(Model.cob ? "checked" : "") value="" /> COB
                </label>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</form>
@Html.Partial("LookUpBillingJasa")
<script>
    function addtabledetaildokter(t) {
        var tr = '<tr>';
        tr += '<td class="text-center"><a class="text-danger-600" onclick="removedetaildokter(this)"><i class="icon-trash"></i></a></td>';
        tr += '<td><select class="ready-to-select2"></select></td>';
        tr += '</tr>';
        var tbody = $(t.closest('table')).find('tbody');
        tbody.append(tr);
        tbody.find('.ready-to-select2').select2(jsondokter());
        tbody.find('.ready-to-select2').removeClass('ready-to-select2');
    }

    function removedetaildokter(t) {
        t.closest('tr').remove();
    }
</script>
<script>
    var lastid = @(Model.detail.Count - 1);
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)));

    function submitformbilling(t) {
        var asistenanastesi = $.map($('#tableasistenanastesi tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        var instrumen = $.map($('#tableinstrumen tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        var onloop = $.map($('#tableonloop tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        myajax({
            url: "@Url.Action("EditLAB")",
            data: {
                nobukti : '@Model.nobukti',
                noreg: '@Model.noreg',
                section: '@Model.section',
                nomor: '@Model.nomor',
                cob: $('#formbilling #cob').is(':checked'),
                mcu: $('#formbilling #mcu').is(':checked'),
                audit: $('#formbilling #billingaudit').is(':checked'),
                adaobat: $('#formbilling #billingadaobat').is(':checked'),
                dokter: $('#formbilling #DokterID').val(),
                tanggal: $('#formbilling #Tanggal').val(),
                jam: $('#formbilling #Jam').val(),
                detail: headerdetail,
                dokter: $('#formbilling #DokterID').val(),
                dokteranalis: $('#formbilling #DokterAnalis').val(),
                dirujuk: $('#formbilling #Dirujuk')[0].checked,
                dirujukventor: $('#formbilling #Vendor').val(),
                tanggaldirujukkirim: $('#formbilling #TanggalKirim').val(),
                tanggaldirujukditerima: $('#formbilling #TanggalTerima').val(),
                alasandirujuk: $('#formbilling #Alasan').val(),

                durante: $('#formbilling #Durante').val(),
                dokterasisten: $('#formbilling #DokterAsisten').val(),
                dokterasisten2: $('#formbilling #DokterAsisten2').val(),
                dokteranak: $('#formbilling #DokterAnak').val(),
                dokteranastesi: $('#formbilling #DokterAnastesi').val(),
                asistenanastesi: asistenanastesi,
                instrumen: instrumen,
                onloop: onloop,

            },
            success: function (dt) {
                if (dt.IsSuccess) {
                    if ('@Request.IsAjaxRequest()' == 'True')
                    {
                        $('#formbilling').closest('.modal').modal('hide');
                        autorefresh('table_billing');
                    }
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

    var noreg = '@ViewBag.Noreg';
    var section = '@ViewBag.Section';
    function jsondokter() {
        return {
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    function jsondokterAnalis() {
        return {
            ajax: {
                url: "@Url.Action("ListAnalis", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Supplier',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Supplier, text: value.Nama_Supplier } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    $('#formbilling #DokterID').select2(jsondokter());
    $('#formbilling #DokterAnalis').select2(jsondokterAnalis());
    $('#formbilling #Vendor').select2(jsondokter());
    $('#formbilling #Alasan').select2();

    function dirujukonchange(t) {
        if (t.checked) {
            $('#Vendor').removeAttr('disabled');
            $('#Alasan').removeAttr('disabled');
            $('#TanggalKirim').removeAttr('disabled');
            $('#TanggalTerima').removeAttr('disabled');
        } else {
            $('#Vendor').attr('disabled', 'disabled');
            $('#Alasan').attr('disabled', 'disabled');
            $('#TanggalKirim').attr('disabled', 'disabled');
            $('#TanggalTerima').attr('disabled', 'disabled');
        }
    }

</script>