﻿@using Pelayanan.Models
@model RegistrasiPasienViewModel
@{
    var tableId = $"table_billing";
    var item = new ListBillingViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.NoBukti);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.Nama_Supplier);
    column[5] = nameof(item.TotalBiaya);
    column[6] = nameof(item.NamaLengkap);
    var lt = Request.Cookies["LoginTipe"].Value.ToUpper();
    var section = Request.Cookies["SectionIDPelayanan"].Value.ToUpper();
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align:center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 150px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 100px;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){

    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        text-align:right;
        width: 120px;
    }

    #@tableId td, #@tableId th{
        white-space: nowrap;
    }

    @if (section == "SEC098")
    {
        <text>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 160px;
    }
    </text>
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
            target_auto_refresh_edit = '@tableId';
            url = '@Url.Action("List", "Billing")';
            init();
            filter[0]='@Model.NoReg';
            filter[1]='@Model.SectionID';
            filter[9]='@Model.Nomor'">

    <div class="panel panel-flat">
        <div class="panel-heading">

            <div class="form-inline">
                <div class="form-group">
                    @if (lt == "RI" || lt == "RJ")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                    else if (lt == "OK")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("CreateOK", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                    else if (lt == "VK")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("CreateVK", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                    else if (lt == "RAD")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("CreateRad", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                    else if (lt == "LAB")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("CreateLab", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                    else if (lt == "HD")
                    {
                        <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("CreateHD", "Billing", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
                                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                            Tambah
                            <i class="icon-plus2 position-right"></i>
                        </button>
                    }
                </div>

                <div class="form-group">
                    <button ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("RincianBiaya", "Billing", new { noreg = Model.NoReg })',
                                header: 'Rincian Biaya',
                           })"
                            class="btn btn-success btn-sm">
                        View Rincian Biaya
                    </button>
                </div>
                <div class="form-group">
                    <label id="billingautorefreshlabel"></label>
                </div>
            </div>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list_bhp')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list_bhp" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[2]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting" style="width:100px">NoBukti</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">User Input</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Total Biaya</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="text-center">
                            @if (lt == "RI" || lt == "RJ")
                            {
                                <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("Detail","Billing")')"
                                   class="text-info" title="Detail">
                                    <i class="icon-eye position-left"></i>
                                </a>
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("Edit","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }
                            else if (lt == "OK")
                            {
                                <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("DetailOK","Billing")')"
                                   class="text-info" title="Detail">
                                    <i class="icon-eye position-left"></i>
                                </a>
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("EditOK","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }
                            else if (lt == "VK")
                            {
                                <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("DetailVK","Billing")')"
                                   class="text-info" title="Detail">
                                    <i class="icon-eye position-left"></i>
                                </a>
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("EditVK","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }
                            else if (lt == "RAD")
                            {
                                <a class="text-teal-800" ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("Create","InputJamHasil")?id=' + data.@column[2],
                                        header: 'Informasi Jam Hasil',
                                        size : 'md'
                                        })">
                                    <i class="icon-alarm position-left"></i>
                                </a>
                                @*<a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("DetailRad","Billing")')"
                                       class="text-info" title="Detail">
                                        <i class="icon-eye position-left"></i>
                                    </a>*@
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("EditRAD","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }
                            else if (lt == "LAB")
                            {
                                <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("DetailLab","Billing")')"
                                   class="text-info" title="Detail">
                                    <i class="icon-eye position-left"></i>
                                </a>
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("EditLAB","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }
                            else if (lt == "HD")
                            {
                                <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("DetailHD","Billing")')"
                                   class="text-info" title="Detail">
                                    <i class="icon-eye position-left"></i>
                                </a>
                                if (Model.StatusBayar != "Sudah Bayar")
                                {
                                    <a ng-click="edit_param({ nobukti : data.@column[2] }, '@Url.Action("EditHD","Billing")')"
                                       class="text-warning" title="Edit">
                                        <i class="icon-pencil position-left"></i>
                                    </a>
                                }
                            }

                            @if (Model.StatusBayar != "Sudah Bayar")
                            {
                                <a ng-if="!data.ProsesPayment" ng-click="delete_param({nobukti : data.@column[2] }, '@Url.Action("Delete", "Billing")')" class="text-danger-600">
                                    <i class="icon-trash position-left"></i>
                                </a>
                            }

                            <a href="@Url.Action("Nota", "Billing")/{{ data.@column[2] }}" target="_blank" class="text-primary-600">
                                <i class="icon-printer position-left"></i>
                            </a>

                            @if (lt == "RAD")
                            {
                                <span>|</span>
                                <a class="text-teal-800" ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("InputHasilBaca","Radiologi")?nobukti=' + data.@column[2],
                                        header: 'Input Hasil Baca',
                                        })">
                                    <i class="icon-clipboard3 position-left"></i>
                                </a>
                                <a class="text-teal-800" ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("Create","FilmRadiologi")?id=' + data.@column[2],
                                        header: 'Pemakaian Film Radiologi',
                                        })">
                                    <i class="icon-film position-left"></i>
                                </a>
                            }

                            @if (lt == "LAB")
                            {
                                <span>|</span>
                                <a class="text-teal-800" ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("InputHasilLab","LAB")?nobukti=' + data.@column[2],
                                        header: 'Input Hasil Lab',
                                        })">
                                    <i class="icon-clipboard3 position-right"></i>
                                </a>

                                <a class="text-violet-800" href="@Url.Action("HasilLab","LAB")?id={{data.@column[2]}}" target="_blank">
                                    <i class="icon-printer position-right"></i>
                                </a>


                            }
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@column[2]}}</td>
                        <td>{{data.@column[6]}}</td>
                        <td>{{data.@(column[3])_View}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])_View}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>

<script>
    const billingautoregreshtimemax = 20;
    let billingautoregreshtime = billingautoregreshtimemax;

    const customgetdatascomplate = (success, url, dt) => {
        if (url === '/Billing/List') billingautoregreshtime = billingautoregreshtimemax;
    };

    const billingautoregreshproses = () => {
        const scope = angular.element('#table_billing').scope();
        billingautoregreshtime = scope.loading ? billingautoregreshtimemax : (billingautoregreshtime - 1);
        if (billingautoregreshtime < 0) {
            scope.getdatas();
            get_nilaiEkstimasiSisa();
            billingautoregreshtime = billingautoregreshtimemax;
        }
        $('#billingautorefreshlabel').html(billingautoregreshtime);
        setTimeout(billingautoregreshproses, 1000);
    };

    document.addEventListener("DOMContentLoaded", function (event) {
        angular.element('#table_billing').ready(function () {
            billingautoregreshproses();
        });
    });
</script>