﻿@using Pelayanan.Models
@model RegistrasiPasienViewModel
@{
    var tableId = $"table_bhp";
    var item = new BHPViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.NoBukti);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.Jam);
    column[5] = nameof(item.NamaPaket);
    column[6] = nameof(item.JumlahTransaksi);
    column[7] = nameof(item.Ditagihkan);
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 110px;
        text-align:center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 150px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width: 100px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 80px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        width: 100px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        text-align:right;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width: 90px;
        text-align: center;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
            target_auto_refresh_edit = '@tableId';
            url = '@Url.Action("List", "BHP")';
            init();
            filter[0]='@Model.NoReg';
            filter[2]='@Model.SectionID'">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <button ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Create", "BHP", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                            header: 'Tambah',
                            target_auto_refresh : '@tableId'
                        })"
                class="btn btn-success btn-sm" @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")>
                Tambah
                <i class="icon-plus2 position-right"></i>
            </button>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list_bhp')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list_bhp" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = 'NoBuktiPOP'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'NoBuktiPOP')" class="sorting" style="width:100px">NoBukti</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Jam</th>
                        <th ng-click="ordering($event,'NamaPaket')" class="sorting">Paket</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Transaksi</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Ditagihkan</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="text-center">
                            <a ng-click="detail_param({ nobukti : data.@column[2] }, '@Url.Action("Detail","BHP")')"
                               class="text-info" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            @if (Model.StatusBayar != "Sudah Bayar")
                            {
                                <a ng-click="delete_param({nobukti : data.@column[2] }, '@Url.Action("Delete", "BHP")')" class="text-danger-600">
                                    <i class="icon-trash"></i>
                                </a>
                            }
                            <a href="@Url.Action("ExportPDF", "BHP")?id={{data.@(column[2])}}" target="_blank"
                               class="text-primary">
                                <i class="icon icon-printer"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@column[2]}}</td>
                        <td>{{data.@(column[3])_View}}</td>
                        <td>{{data.@(column[4])_View}}</td>
                        <td>{{data.@column[5]}}</td>
                        <td>{{data.@(column[6])_View}}</td>
                        <td>
                            <label class="label label-primary" ng-if="data.@column[7]">Ya</label>
                            <label class="label label-danger" ng-if="!data.@column[7]">Tidak</label>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>