﻿@using Pelayanan.Models
@model MutasiPasienViewModel
@{
    var controllerName = "Billing";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_mutasipasien";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Mutasi Pasien", Value = "active" }
};
    var targetForm = formName;

    #region ==== MODAL Kamar
    var target_kamar = new
    {
        t0 = $"#{nameof(Model.NoKamar)}",
        t1 = $"#{nameof(Model.NoBed)}"
    };
    var modalid_kamar = $"modal_{formName}_{nameof(Model.NoKamar)}";
    var modalName_kamar = "Kamar";
    #endregion
}

@if (ViewBag.Dimutasikan == true)
{
    <h2>Pasien telah dimutasi</h2>
}
else
{
    <div class="wall" ng-controller="form">
        @using (Ajax.BeginForm("MutasiPasien", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName, autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.NoReg)
            @Html.HiddenFor(x => x.Nomor)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mutasi Daari</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Tipe Pasien</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DariTipePasien, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Section</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DariSection, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Kelas</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DariKelas, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-2">
                                        @Html.TextBoxFor(model => model.DariKamar, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Bed</span>
                                            @Html.TextBoxFor(model => model.DariNoBed, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mutasi Ke</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Tipe Pasien</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.DariTipePasien, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Section</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.SectionId, StaticModel.ListSectionRI, new { @class = "form-control", onchange = "sectionidonchange(this)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Kelas Asal</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><label for="TitipKelas">Titip Kelas</label></span>
                                            <div class="input-group-addon">
                                                @Html.CheckBoxFor(model => model.TitipKelas, new { onchange = "titipkelasonchange(this)" })
                                            </div>
                                            @Html.DropDownListFor(model => model.KelasAsalId, StaticModel.ListKelas, new { @class = "form-control", disabled = "disabled", onchange = "kelasasalonchange(this)" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Kelas Pelayanan</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.KelasPelayananId, StaticModel.ListKelas, new { @class = "form-control", onchange = "kelaspelayananonchange(this)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <label class="checkbox checkbox-inline">
                                            @Html.CheckBoxFor(model => model.RawatGabung, new { onchange = "rawatgabungonchange(this)" })
                                            Rawat Gabung
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Kamar</label>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button data-toggle="modal" data-target="#@modalid_kamar"
                                                        class="btn btn-success input-lookup" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>
                                            @Html.TextBoxFor(model => model.NoKamar, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NoKamar, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">Bed</span>
                                            @Html.TextBoxFor(model => model.NoBed, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NoBed, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
    function rawatgabungonchange(t) {
        $('#@formName #NoKamar').val('');
        $('#@formName #NoBed').val('');
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[10] = t.checked;
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().getdatas();
    }

    function sectionidonchange(t) {
        $('#@formName #NoKamar').val('');
        $('#@formName #NoBed').val('');
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[11] = $('#@formName #SectionId').val();
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().getdatas();
    }

    function titipkelasonchange(t) {
        $('#@formName #NoKamar').val('');
        $('#@formName #NoBed').val('');
        if (t.checked) {
            $('#@formName #KelasAsalId').removeAttr('disabled');
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasAsalId').val();
        } else {
            $('#@formName #KelasAsalId').attr('disabled', 'disabled');
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasPelayananId').val();
        }
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().getdatas();
    }

    function kelasasalonchange(t) {
       $('#@formName #NoKamar').val('');
        $('#@formName #NoBed').val('');
        var val = $('#@formName #TitipKelas')[0].checked;
        if (val) {
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasAsalId').val();
        } else {
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasPelayananId').val();
        }
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().getdatas();
    }

    function kelaspelayananonchange() {
        $('#@formName #NoKamar').val('');
        $('#@formName #NoBed').val('');
        var val = $('#@formName #TitipKelas')[0].checked;
        if (val) {
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasAsalId').val();
        } else {
            angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().filter[12] = $('#@formName #KelasPelayananId').val();
        }
        angular.element('#modal_frm_Billing_mutasipasien_NoKamar').scope().getdatas();
    }
    </script>

    <!-- Modal Look kamar -->
    @Html.Partial("_LookUp_KamarDetail", Model, new ViewDataDictionary {
        { "target", target_kamar },
        { "modalid", modalid_kamar },
        { "targetForm", targetForm },
        { "modalName", modalName_kamar },
        { "headerisajax", ViewBag.IsAjaxRequest },
        { "sectionid", Model.SectionId ?? StaticModel.ListSectionRI.FirstOrDefault().Value },
        { "kelasid", Model.KelasPelayananId ?? StaticModel.ListKelas.FirstOrDefault().Value },
    })
}