﻿@using Pelayanan.Models
@model UpdateKelasViewModel
@{
    var controllerName = "Billing";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_updatekelas";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Mutasi Pasien", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("UpdateKelasRI", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.NoReg)
        @Html.HiddenFor(x => x.Nomor)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-4">Kelas Pertanggungan</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Reg_KdKelasPertanggungan, StaticModel.ListKelas, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Kelas Pelayanan</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Reg_KdKelasAsal, StaticModel.ListKelas, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Kelas Ditempati</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Reg_KdKelas, StaticModel.ListKelas, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(model => model.TitipKelas)
                    Titip Kelas
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>
    }
</div>
