﻿@using Pelayanan.Models
@model PasienBermasalahViewModel
@{
    var controllerName = "Pasien";
    ViewBag.Title = controllerName;

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Detail", Value = "active" }
};
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">NRM</th>
                <th class="text-center">Nama pasien</th>
                <th class="text-center">Kategori Pasien</th>
                <th class="text-center">Deskripsi</th>
                <th class="text-center">Tanggal Input</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var x in Model.PasienBermasalahDetail)
                {
                    <tr>
                        <td class="text-center middle">@x.NRM</td>
                        <td class="text-center middle">@x.NamaPasien</td>
                        <td class="text-center middle">@x.KategoriMasalah</td>
                        <td class="text-center middle">@x.DeskripsiMasalah</td>
                        <td class="text-center middle">@x.TglInput_View</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>