﻿@using Pelayanan.Models
@model BHPViewModel
@{
    var controllerName = "BHP";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== MODAL BHP
    var target_BHP = new
    {
        t0 = $"#{nameof(Model.PaketBHP)}",
        t1 = $"#{nameof(Model.NamaPaket)}",
        t2 = $"#{nameof(Model.Ditagihkan)}"
    };
    var modalid_BHP = $"modal_{formName}_{nameof(Model.PaketBHP)}";
    var modalName_BHP = "BHP";
    #endregion

    #region Detail
    var detail_barang = new BHPDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var targetForm = formName;
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.Barang_Id)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.KodeBarang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.NamaBarang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.Stok)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.HargaSatuan_View)}",
        t6 = $"#Detail_List_-1__Model_{nameof(detail_barang.Jumlah_View)}",
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.KodeBarang)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){

    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 110px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(11),
    #@table_detail_barang tbody td:nth-child(11){
        width: 120px;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SectionID, new { Value = ViewBag.Section })
        @Html.HiddenFor(model => model.NoReg, new { Value = ViewBag.Noreg })
        @Html.HiddenFor(model => model.Nomor, new { Value = ViewBag.Nomor })

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Dokter</label>
                                @Html.DropDownListFor(model => model.DokterID,new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.NamaDokter, Value = ViewBag.DokterID, Selected = true }
                            }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Ditagihkan">Ditagihkan</label>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Ditagihkan)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Paket BHP</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button data-toggle="modal" data-target="#@modalid_BHP" onclick="btnmodalpaketbhponclick()"
                                            class="btn btn-success input-lookup" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.PaketBHP, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly", onkeypress = "paketbhponkeypress(event, this)" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.PaketBHP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Nama Paket</label>
                            @Html.EditorFor(model => model.NamaPaket, new { htmlAttributes = new { @class = "form-control", @readonly = "@readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPaket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Nilai</label>
                            @Html.EditorFor(model => model.JumlahTransaksi_View, new { htmlAttributes = new { @class = "form-control text-right", @readonly= "readonly" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
            <div class="table-responsive">
                <table id="@table_detail_barang" class="table table-hover table-bordered">
                    <thead>
                        <tr>

                            <!-- Thead -->
                            <th>
                                <input type="checkbox" onclick="checkall(this)" />
                            </th>
                            <th class="text-center">
                                <a class="text-success-600" title="Semua Barang"
                                   data-toggle="modal" data-target="#@modalid_m_barang">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th></th>
                            <th>Id Barang</th>
                            <th>Kode Barang</th>
                            <th>Nama</th>
                            <th>Satuan</th>
                            <th>Qty</th>
                            <th>Stok</th>
                            <th>Harga</th>
                            <th>Disc %</th>
                            <th>Jumlah</th>
                            <th>Keterangan</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }
</div>

<script>

    angular.element('#modal_frm_BHP_create_KodeBarang').ready(function () {
        angular.element('#modal_frm_BHP_create_KodeBarang').scope().filter[8] = '@ViewBag.Section';
    });

    function paketbhponkeypress(e, t) {
        if (e.keyCode == 13) {
            $('#Ditagihkan')[0].checked = $('#Ditagihkan').val() === 'true';
            e.preventDefault();
            myajax({
                url: '@Url.Action("DetailPaketBHP")',
                data: { section: '@ViewBag.Section', kode: t.value },
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#@formName #@table_detail_barang [onclick="customremovetr(this)"]').click();
                        $.each(data.Data, function (i, v) {
                            angular.element('#@formName').scope().addrowdetail({ target: '#@table_detail_barang' }, '#@target_inputDetail_barang');
                            var td = $('#@formName #@table_detail_barang tbody tr:last td');
                            $(td[3]).find('input').val(v.Barang_ID);
                            $(td[4]).find('input').val(v.Kode_Barang);
                            $(td[5]).find('input').val(v.Nama_Barang);
                            $(td[6]).find('input').val(v.Satuan_Stok);
                            $(td[7]).find('input').val(v.Qty);
                            $(td[8]).find('input').val(v.Qty_Stok);
                            $(td[9]).find('input').val(v.Harga_Jual_View);
                            $(td[11]).find('input').val(v.Jumlah_View);
                        });
                        hitunghargatotal();
                    } else {
                        alertpopup(xhr.Message, 'danger');
                    }
                }
            });
        }
    }

    function btnmodalpaketbhponclick() {
        var a = angular.element('#@modalid_BHP').scope();
        a.filter[3] = '@ViewBag.Section';
        a.getdatas();
    }

    function checkdetailprimarykey_barang(_this) {
        var j_detail_input = $('#@table_detail_barang tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            alertpopup('sudah digunakan', 'warning');
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
        hitunghargatotal();
    }

    function customremovetr(t) {
        removetr(t);
        hitunghargatotal();
    }

    function hitungjumlah(t) {
        var tr = $($(t).closest('tr'));
        var qty = tr.find('td:nth-child(8) input').val() || 0;
        var harga = getfloatfromcurrency(tr.find('td:nth-child(10) input').val()) || 0;
        var disc = getfloatfromcurrency(tr.find('td:nth-child(11) input').val()) || 0;
        var inputjumlah = tr.find('td:nth-child(12) input');
        //qty * (harga - ((disc * harga) / 100))
        var t = qty * (harga - ((disc * harga) / 100));
        var jumlah = t;
        inputjumlah.val(getcurrencyfromfloat(jumlah));
        hitunghargatotal();
    }

    function hitunghargatotal() {
        var subtotal = 0;
        $.each($('#@table_detail_barang tbody tr td:nth-child(12) input'), function (index, value) {
            subtotal += getfloatfromcurrency(value.value) || 0;
        });
        var jumlah = subtotal;
        $('#@formName #JumlahTransaksi_View').val(getcurrencyfromfloat(jumlah));
    }

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@target_inputDetail_barang" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="customremovetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <!-- Barang_Id -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Barang_Id, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_barang(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.KodeBarang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NamaBarang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Satuan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Qty, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       Min = 0,
       Value = 1,
       onchange = "hitungjumlah(this)"
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Stok, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.HargaSatuan_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-right",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Disc_Persen, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       Min = 0,
       Value = 0,
       onchange = "hitungjumlah(this)"
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Jumlah_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-right",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Keterangan, StaticModel.ListBaikRusak , new
       {
               @class = "form-control input-sm"
       })
    </div>
</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_Barang", Model, new ViewDataDictionary {
    { "target", target_barang },
    { "modalid", modalid_m_barang },
    { "targetForm", targetForm },
    { "noreg", ViewBag.Noreg },
    { "modalName", modalName_barang },
    { "headerisajax", false },
    { "targetTable", table_detail_barang },
    { "targetInputTable", target_inputDetail_barang },
    { "showdefaultlokasi", true },
})

<!-- Modal Look Pakate BHP -->
@Html.Partial("_LookUp_PaketBHP", Model, new ViewDataDictionary {
    { "target", target_BHP },
    { "modalid", modalid_BHP },
    { "targetForm", targetForm },
    { "modalName", modalName_BHP },
    { "targetInputTable", target_inputDetail_barang },
    { "headerisajax", false }
})