﻿@using Pelayanan.Models
@model BHPViewModel
@{
    var controllerName = "BHP";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region Detail
    var detail_barang = new BHPDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<div class="wall" ng-controller="form">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Dokter</label>
                            <input type="text" readonly class="form-control" value="@Model.DokterNama" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="Ditagihkan">Ditagihkan</label>
                            <div>
                                @Html.DisplayFor(model => model.Ditagihkan)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Paket BHP</label>
                        <div class="input-group">
                            <input type="text" readonly class="form-control" value="@Model.PaketBHP" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Nama Paket</label>
                        <input type="text" readonly class="form-control" value="@Model.NamaPaket" />
                    </div>
                    <div class="col-md-2">
                        <label>Nilai</label>
                        <input type="text" readonly class="form-control text-right" value="@Model.JumlahTransaksi_View" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="@table_detail_barang" class="table table-hover table-bordered">
            <thead>
                <tr>

                    <th style="width:100px">Kode Barang</th>
                    <th>Nama</th>
                    <th style="width:100px">Satuan</th>
                    <th style="width:90px">Qty</th>
                    <th style="width:100px">Harga</th>
                    <th style="width:90px">Disc %</th>
                    <th style="width:100px">Jumlah</th>
                    <th style="width:100px">Keterangan</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Detail_List)
                {
                <tr>
                    <td>@x.Model.KodeBarang</td>
                    <td>@x.Model.NamaBarang</td>
                    <td class="text-center">@x.Model.Satuan</td>
                    <td class="text-center">@x.Model.Qty</td>
                    <td class="text-right">@x.Model.HargaSatuan_View</td>
                    <td class="text-center">@x.Model.Disc_Persen</td>
                    <td class="text-right">@x.Model.Jumlah_View</td>
                    <td>@x.Model.Keterangan</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>